[2018-12-03 20:45] #978 closed

[2018-12-04 00:05] Reg1nleifr commented on #978
Great thanks I'll give compiling a shot and consider moving forward thanks for the advice!

[2018-12-07 09:46] marcograss commented on #772
qt 5.12 just landed in brew FYI

[2018-12-08 22:00] Th3R4nd0m opened #990 "Issue with calls"
**Environment information**
* Operating System: Kali Linux 2018.4 (4.18.0-kali2-amd64 #1 SMP Debian 4.18.10-2kali1(2018-10-09) x86_64 GNU/Linux
* Cutter version: Cutter-v1.7.2-x64.Linux
* File format: .bin

**Describe the issue**
I downloaded a reverse engineering challenge (.bin). I step over in the program, untill I reach a *call sym.imp.fopen*.
When I step over the call, it gives me an error me

[2018-12-09 10:47] Th3R4nd0m commented on #990
Oh, I see. Thanks :)
One last question:
How do I debug the binary with cutter?

[2018-12-09 10:59] xarkes commented on #990
You cannot for now, it is not supported yet. It is something we are working on.

[2018-12-09 11:02] Th3R4nd0m commented on #990
Oh, I see. Thanks for the fast response :+1:

[2018-12-09 13:31] nullableVoidPtr opened #991 "*BSD Support"
*BSD support is lacking, as it incorrectly installs radare to `/usr`, not the standard `/usr/local`.

I'd assume the `build.sh` would have to take in a PREFIX argument, with a default of `/usr`, and would also have to account for the difference between `make` and `gmake`. Cutter.pro` would also have to account for the different PREFIX. The r2 `sys/install.sh` does this by checking for both `make`

[2018-12-09 16:11] nullableVoidPtr commented on #991
I believe it was `sys/install.sh prefix/path/here`

[2018-12-10 13:38] ITAYC0HEN opened #995 "Edit the README file to include a GIF of several screenshots instead of a single one"
**Describe the solution you'd like**
It would be better to have several tempting screenshots of Cutter instead only the single screenshot we currently have.
Example: https://github.com/gaasedelen/lighthouse

[2018-12-11 18:23] #929 closed

[2018-12-13 20:11] fredddii opened #999 "Software is not compatible with high resolutions with high DPI"
**Environment information**
* Operating System: Windows 10
* Cutter version: 1.7.2
* File format:

**Describe the bug**
Running 3200x1800 resolution. Windows is at the recommended scaling of 250%. Some elements of the software does not scale. The majority of it does just fine.

**To Reproduce**
Steps to reproduce the behavior:
1. Buy a high resolution screen or a device with one built in.
2. Run t

[2018-12-14 21:02] kidmose opened #1001 "Docker image appears to be broken"
**Environment information**
* Operating System: Linux Mint 18.2
* Cutter version: 1.7.2
* File format: N/A

**Describe the bug**
The docker image appear broken:

    error: exec: "/opt/cutter/build/Cutter": stat /opt/cutter/build/Cutter: no such file or directory

**To Reproduce**
Steps to reproduce the behavior:
1. Clone from git (`2b6e28d Clean build.sh and add install choice (#1000)`)
2. cd to

[2018-12-14 21:11] kidmose commented on #1001
I guess this might have slipped through because `build.sh` return ok with failure;
https://github.com/radareorg/cutter/blob/master/build.sh#L89
(An because no test of docker image I guess too :))

[2018-12-15 17:47] ITAYC0HEN commented on #842
Can't reproduce on Windows10 64bit and Arch Linux 64bit.
Sadly, OP is not answering - closing. Will re-open upon request

[2018-12-15 17:47] #842 closed

[2018-12-15 17:52] ITAYC0HEN commented on #282
@gingerbeardman is this problem still occurs on latest Cutter from master?
I can't reproduce, maybe it was already fixed in radrare2

[2018-12-15 17:55] gingerbeardman commented on #282
Yes, it's fixed! Not sure when that happened.

Closing

[2018-12-15 17:55] #282 closed

[2018-12-15 18:30] ITAYC0HEN commented on #647
Hey @ytrewqytrewqytrewqytrewq1, Jupyter in Cutter has through few changes recently and I wonder whether this issue still occurs. Can you please check on latest Cutter from master?

[2018-12-15 18:30] ITAYC0HEN commented on #282
Thank you! :)

[2018-12-15 19:53] ITAYC0HEN opened #1002 "Catch operation-system's exception signals and show a message to the user"
**Is your feature request related to a problem? Please describe.**
When IDA crashes due to Segfault, Out of bound, etc, it shows this message box to the user, notifying on the problem and asking them to generate a core dump to report.

![image](https://user-images.githubusercontent.com/20182642/50046878-68dd7280-00b3-11e9-9ffa-361227998de2.png)

This could be really helpful to Cutter as well. Curr

[2018-12-16 11:33] ITAYC0HEN commented on #295
I think we would be able to give access to the selected bytes through the future API. Something like:
[code]
or
[code]
So no need for an extra tab in HexWidget.
Moreover, I prefer that Cutter users would have to know zero (or as little as possible) things and commands of radare2 backend

[2018-12-18 15:22] securitykitten commented on #952
I recently encountered this issue as well.

Cutter version (using the AppImage)
[code]

To reproduce:
Unzip and open the following NES binary default settings are fine.
[HackingTime_03e852ace386388eb88c39a02f88c773.zip](https://github.com/radareorg/cutter/files/2691073/HackingTime_03e852ace386388eb88c39a02f88c773.zip)

Browse to `fcn.000082f1` in the disassembly window and start scrolling down, te

[2018-12-18 15:37] ITAYC0HEN commented on #952
can you two try the same in radare2 with the following commands:

[code]

[2018-12-18 15:43] radare commented on #952
this is a bug in asm.bbline

[2018-12-18 16:04] radare commented on #952
can you please open the issue in r2 instead?

[2018-12-18 21:07] pelijah commented on #999
Related: #675

[2018-12-18 21:57] ITAYC0HEN commented on #999
Ref: http://doc.qt.io/qt-5/highdpi.html

[2018-12-19 13:09] radare commented on #952
tired of waiting

[2018-12-19 13:09] #952 closed

[2018-12-19 13:09] radare commented on #952
https://github.com/radare/radare2/issues/12516

[2018-12-19 22:16] moreaki commented on #981
Same problem here. I suspect since the author's python version is from a OSX 10.13.x machine, there is little that can be done here unless he decides to get OSX 10.11.x inside a VM and run the pyinstaller and all the necessary modules for the build process inside OSX 10.11.x.

[2018-12-20 02:21] dmknght commented on #952
I'm sorry i was busy and i didn't check mail. Thanks for the fix.

[2018-12-20 14:48] ITAYC0HEN commented on #638
Offset toggling is already implemented for graph in the preferences window. So this is nice :)

Bytes toggling isn't available in radare2 (there is no graph.bytes) and I don't think I want to separate it. Another extra configuration that people can live without

[2018-12-20 14:48] #638 closed

[2018-12-22 13:17] pelano commented on #981
It's not the Python version, it's the SDK: [https://lsongnotes.wordpress.com/2016/09/27/first-blog-post/]

[2018-12-23 06:53] ITAYC0HEN commented on #247
Should it be in Cutter's Core by default, something that needs to be opted in to by the user or simply via plugin?
With MSDN this requires an internet connection

[2018-12-23 09:58] ITAYC0HEN commented on #302
Well, while it may be useful for some people, I believe this would not be useful for the majority of current and future Cutter users. This feature should be implemented as a Plugin and shouldn't be in core

[2018-12-23 10:48] #302 closed

[2018-12-23 10:53] Maijin commented on #247
Radare2 have it by default for osx/linux (it simply open a new term page with man XXX output), probably something we could do for cutter by default without plugin.

For windows/MSDN, Idascope works offline. Not sure if we should have it embedded or via a plugin.

[2018-12-25 11:59] Maijin opened #1013 "Save as core file in debug mode"
Ability to generate and save as core file in debug mode using `dg filename` in radare2.

[2018-12-25 12:00] Maijin opened #1014 "Highlight PC in NavBar"
Highlight Pointer counter (RIP, EIP etc.) in the NavBar.

[2018-12-25 12:02] Maijin opened #1015 "Delete a given breakpoint"
Ability to delete a given breakpoint in debug mode.

[2018-12-25 12:03] Maijin opened #1016 "Enable/Disable breakpoints"
Ability to Enable or Disable breakpoints in debug/emulation mode.

[2018-12-25 12:04] Maijin opened #1017 "Delete all breakpoints"
Delete all breakpoints in debug/emulation mode.

[2018-12-25 12:04] Maijin opened #1018 "Change stack printing size option"
Change stack printing size option

[2018-12-25 12:05] Maijin opened #1019 "List threads"
List threads in debug mode with `dpt` in radare2

[2018-12-25 12:06] Maijin opened #1020 "Ability to change thread"
Ability to change thread in debug mode using `dpt=` requires #1019.

[2018-12-25 12:08] Maijin opened #1021 "Add start trace button"
Add start trace button in debug/emulation mode.

[2018-12-25 12:08] Maijin opened #1022 "Add step back/continue back"
Add step back/continue back in emulation mode.

[2018-12-25 12:11] Maijin opened #1023 "Trace calls/syscalls"
Trace calls/syscalls in emulation, debug mode using `dcs*` etc.

[2018-12-26 10:11] Maijin opened #1025 "Generate templates as in https://radare.gitbooks.io/radare2book/plugins/python.html"
[code]

[2018-12-26 10:11] Maijin opened #1026 "Integrate r2lang-python3 inside Cutter binaries"
Integrate r2lang-python3 inside Cutter binaries

[2018-12-26 23:09] radare opened #1031 "Show file:// by default"
This is an actual valid uri for r2 and it's handled by the default posix io, so file:///bin/ls is the same as /bin/ls.
<img width="461" alt="screenshot 2018-12-27 at 00 08 04" src="https://user-images.githubusercontent.com/917142/50459483-aa033b80-096b-11e9-8978-54eb518c13f3.png">

[2018-12-26 23:10] radare opened #1032 "Plugin window is too small by default"
Can't see much items
<img width="520" alt="screenshot 2018-12-27 at 00 10 31" src="https://user-images.githubusercontent.com/917142/50459492-db7c0700-096b-11e9-8147-7f3d653f265d.png">
<img width="518" alt="screenshot 2018-12-27 at 00 10 36" src="https://user-images.githubusercontent.com/917142/50459493-dc149d80-096b-11e9-82d5-b0a3add45c98.png">

[2018-12-26 23:11] radare commented on #1032
better like this

<img width="669" alt="screenshot 2018-12-27 at 00 11 14" src="https://user-images.githubusercontent.com/917142/50459503-f484b800-096b-11e9-8a93-2dda0cfd3e9a.png">

[2018-12-26 23:15] radare opened #1033 "Support ahi2"
Right now cutter only sets the first imm base of the instruction, but latest r2 (current git) supports ahi0, ahi1, ahi2,... cutter must support this too.

[2018-12-26 23:16] radare opened #1034 "Use courier for offsets"
otherwise they look unaligned and confusing
<img width="145" alt="screenshot 2018-12-27 at 00 16 29" src="https://user-images.githubusercontent.com/917142/50459561-b76cf580-096c-11e9-833b-0bdc5866a897.png">

[2018-12-26 23:27] radare opened #1035 "Horizontal scroll is faster than vertical in macOS"
Search for something and swipe up/down/right/left in that widget

[2018-12-26 23:38] radare opened #1037 "Add pdsf as 'Decompiler'"
the print disasm summary is pretty useful in many situations, would be good to have it in the decompiler tab, so we can see an overview of the strings and calls done in he function by just clicking them in the functions widget.

`pdsf@e:scr.html=0`

[2018-12-26 23:41] radare commented on #1037
Btw, the pseudocode widget doesnt updates like the disasm one does. maybe we want to have that in the case we are seeking to a different function. I understand this may be a performance issue in some situations..

[2018-12-26 23:53] radare opened #1038 "Add 'pdr' as decompiler option in the pseudocode window"
We need a way to display all the basic blocks of a function in Cutter, maybe just adding pdr in there is enough

[2018-12-26 23:54] radare opened #1039 "Add asm.indent in Disasm Settings"

[2018-12-27 00:07] radare commented on #1038
Also a rightclick in the functions widget may have an option to "display basic blocks" or "function information" in a dialog that we can copypaste that info if we need it. (or copy into clipboard as json?)

[2018-12-27 00:09] radare opened #1040 "Double Cutter title in macOS"
<img width="873" alt="screenshot 2018-12-27 at 01 08 55" src="https://user-images.githubusercontent.com/917142/50460199-1c781980-0974-11e9-87f3-3260f9e93f4e.png">

[2018-12-27 09:49] radare commented on #1035
In the functions widget for example

[2018-12-27 12:42] thestr4ng3r commented on #1040
duplicate of https://github.com/radareorg/cutter/issues/290

[2018-12-27 12:42] #1040 closed

[2018-12-27 16:05] xarkes commented on #1035
So in all (every) widgets you mean?

[2018-12-27 22:21] ITAYC0HEN commented on #1016
This feature already exists

![image](https://user-images.githubusercontent.com/20182642/50496155-1e061800-0a2e-11e9-8091-db6d356b8841.png)

[2018-12-27 22:21] ITAYC0HEN commented on #1015
This feature already exists
![image](https://user-images.githubusercontent.com/20182642/50496161-2d856100-0a2e-11e9-9d0e-62cdfc55fd95.png)

[2018-12-27 22:32] ITAYC0HEN commented on #1037
We have it shown when you hover a function with your cursor in the Functions widget. We have a general summary, a disassembly preview and a function summary (calls, strings, etc.)

We dont have place for all so we truncated it in order to keep it more readable:

![image](https://user-images.githubusercontent.com/20182642/50496327-4b06fa80-0a2f-11e9-856b-58d265ea4a2e.png)

[2018-12-28 08:31] #1032 closed

[2019-01-02 03:56] resech opened #1047 "Hasnext option not being observed"
**Environment information**
* Operating System: Windows 7 x64
* Cutter version: 1.7.3
* File format: DLL

**Describe the bug**
It doesn't look like the hasnext option under advanced analysis is working as intended.

**To Reproduce**
Steps to reproduce the behavior:
1. Drag the slider to advanced (far right).
2. Check the 'Continue analysis after each function (e! anal.hasnext)' option.
3. Click Ok

[2019-01-02 13:40] #1047 closed

[2019-01-02 13:41] ITAYC0HEN commented on #1047
Thank you for reporting this! This issue was really important and I'm surprised no one noticed this before.
This is now fixed :)

[2019-01-02 19:43] ITAYC0HEN commented on #1001
@ps1337 , maybe you can help with this? :)

[2019-01-03 11:11] ps1337 commented on #1001
Alright, I'll look into it :) thanks!

[2019-01-03 11:59] xarkes opened #1050 "Debug layout is gone"
While debugging, the "reset layout" should reset to debug layout, or maybe we should rename reset to "default layout" and add a new item named "debug layout".

[2019-01-03 12:43] xarkes opened #1052 "Start debug button doesn't work"
Opened /bin/ls without any IO prefix (file://) and with analysis disabled.
When pressing start debug I get a:
[code]

[2019-01-03 12:51] xarkes opened #1053 "Continue until main doesn't work"
Tried to debug /bin/ls after analysis.
Start debug works, but when I hit the "continue until main" button, it just sends me to an invalid location.

[2019-01-03 12:54] xarkes commented on #1053
After exiting, you can get pretty graphs like this one:
![2019-01-03-135434_932x869_scrot](https://user-images.githubusercontent.com/10772605/50638735-22b35a80-0f5f-11e9-89c5-701c9981b3c7.png)

[2019-01-03 13:01] xarkes commented on #1053
From my understanding, the reason for that is that flags (symbols, function names, etc.) are set to a specific offset. However, when debugging PIE (almost every executable is position independent nowadays...) the old map is removed (hence the `invalid` instructions), the new maps are set depending on ASLR (`0x55xxxxxxxxxx` something on my machine) and the flags remain at the same location.
So AFAI

[2019-01-03 13:54] ITAYC0HEN commented on #1050
I prefer reset to return to debug layout

[2019-01-04 16:20] xarkes commented on #1001
Closed in #1054. Thanks :)

[2019-01-04 16:20] #1001 closed

[2019-01-05 08:54] Maijin opened #1056 "Colors Hexdump Widget"
Colors Hexdump Widget

[2019-01-05 08:54] Maijin opened #1057 "Support endianess in Hexdump Widget"
Support endianess in Hexdump Widget

[2019-01-05 08:54] Maijin opened #1058 "Hashes configurable in Hexdump Widget"
Hashes configurable in Hexdump Widget -> information -> bytes info

[2019-01-05 08:55] Maijin opened #1059 "Same disassembly architecture in parsing panel (Hexdump Widget)"
Same disassembly architecture as the one used by opened file in parsing panel (Hexdump Widget)

[2019-01-05 08:55] Maijin opened #1060 "Support hex.pairs eval variable in Hexdump Widget"
Support hex.pairs eval variable in Hexdump Widget

[2019-01-05 08:56] Maijin opened #1061 "Support hex.comments eval variable in Hexdump Widget"
Support hex.comments eval variable in Hexdump Widget
see `pxc` command

[2019-01-05 08:56] Maijin opened #1062 "Support hex.compact eval variable in Hexdump Widget"
Support hex.compact eval variable in Hexdump Widget

[2019-01-05 08:56] Maijin opened #1063 "Scrolling by line in Hexdump Widget"
Scrolling by line in Hexdump Widget

[2019-01-05 08:57] Maijin opened #1064 "Support change format in Hexdump Widget"
Support change format in Hexdump Widget -  words, dwords, qwords, ..(`pxh`, `pxw`, `pxq`) on right click (see `px?`)

[2019-01-05 08:58] Maijin commented on #64
Splitted issues.

[2019-01-05 08:58] #64 closed

[2019-01-05 09:01] Maijin commented on #1058
Duplicate of #925

[2019-01-05 09:01] #1058 closed

[2019-01-05 09:04] Maijin commented on #924
Splitted issue.

[2019-01-05 09:04] #924 closed

[2019-01-05 09:05] Maijin opened #1065 "Context menu for Hexdump widget"
Right click context menu for Hexdump widget

[2019-01-05 09:05] Maijin opened #1066 "Copy RAW bytes into clipboard (RAW) in Hexdump context menu"
Copy bytes into clipboard in Hexdump context menu (show N bytes selected)

- [ ] Copy as RAW bytes
- [x] Copy as Hexpairs

[2019-01-05 09:05] Maijin opened #1067 "Copy bytes as raw in Hexdump context menu"
Copy bytes as raw in Hexdump context menu

[2019-01-05 09:05] Maijin opened #1068 "Copy start address in Hexdump context menu"
Copy start address (show address) in Hexdump context menu

[2019-01-05 09:05] Maijin opened #1069 "Add flag in Hexdump context menu"
Add flag in Hexdump context menu

[2019-01-05 09:05] Maijin opened #1070 "Add comment in Hexdump context menu"
Add comment in Hexdump context menu

[2019-01-05 09:27] Maijin opened #1071 "Add export everything in C format tc"

[2019-01-05 09:27] Maijin opened #1072 "Add right click apply structure in the graph"

[2019-01-05 09:27] Maijin opened #1073 "Add right click apply structure in the disassembly"

[2019-01-05 09:27] Maijin opened #1074 "Add right click to which open a windows where you can paste or open an header file in the panel"

[2019-01-05 09:28] Maijin opened #1075 "Add right click to remove element in the panel"

[2019-01-05 09:28] Maijin opened #1076 "Add right click to edit\remove\add element in the Types panel"

[2019-01-05 09:28] Maijin opened #1077 "Add right click to add element in the panel"

[2019-01-05 09:28] Maijin opened #1078 "Add listing typedefs in the panel ttj"

[2019-01-05 09:28] Maijin opened #1079 "Add listing structures in the panel tsj"

[2019-01-05 09:28] Maijin opened #1080 "Add listing union in the panel tuj"

[2019-01-05 09:28] Maijin opened #1081 "Add listing enum in the panel tej"

[2019-01-05 09:28] Maijin opened #1082 "Add filter capability in the panel"

[2019-01-05 09:28] Maijin opened #1083 "Move type panel in the windows drop-down instead of windows/info"

[2019-01-05 09:30] Maijin commented on #918
Splitted into issues.

[2019-01-05 09:30] #918 closed

[2019-01-05 09:43] ITAYC0HEN commented on #1077
merged issue into #1076

[2019-01-05 09:43] #1077 closed

[2019-01-05 09:43] ITAYC0HEN commented on #1075
merged issue into #1076

[2019-01-05 09:43] #1075 closed

[2019-01-05 09:45] ITAYC0HEN commented on #918
Project can be found here: https://github.com/radareorg/cutter/projects/11

[2019-01-05 11:43] radare opened #1084 "Add callgraph"

[2019-01-05 11:44] radare opened #1085 "Add support for axg (find paths to reach a point)"
https://twitter.com/trufae/status/1056340428365148163
https://twitter.com/trufae/status/1056340799439470592

Also, this  must be documented in the book

[2019-01-05 11:54] Maijin commented on #1084
Duplicate of #406

[2019-01-05 11:54] #1084 closed

[2019-01-06 07:39] ITAYC0HEN commented on #1063
what is this? can you explain?

[2019-01-06 07:40] ITAYC0HEN commented on #1065
It has one :)
anything specific?

[2019-01-06 07:43] ITAYC0HEN commented on #1067
merged to #1066

[2019-01-06 07:43] #1067 closed

[2019-01-06 08:55] Maijin commented on #1065
Then it's done.

[2019-01-06 08:55] #1065 closed

[2019-01-06 08:56] Maijin commented on #1063
That's done to me too.

[2019-01-06 08:56] #1063 closed

[2019-01-06 12:16] Maijin commented on #647
ping2 @ytrewqytrewqytrewqytrewq1

[2019-01-09 22:43] #647 closed

[2019-01-11 09:44] smarek opened #1091 "If the project is type GIT, saving will block GUI with GIT-COMMIT in console"
**Environment information**
* Operating System: Linux x64
* Cutter version: Latest release  Cutter-v1.7.3-x64.Linux.AppImage
* File format: irrelevant?

**Describe the bug**
Saving project of type GIT (prj.git=true) will block UI, with no visual hint of "git commit" running in background (or in parent terminal, if launched from terminal)

**To Reproduce**
Steps to reproduce the behavior:
1. Open G

[2019-01-11 11:24] a1ext opened #1092 "Cutter crashes on exit on Windows"
**Environment information**
* Operating System: Windows 7 x64
* Cutter version: Version 1.7.3, Using r2-3.1.3-140-g2462653a2
* File format: ELF

**Describe the bug**
Cutter crashes on app exit:

![image](https://user-images.githubusercontent.com/14978853/51030634-1c4e5f80-15ab-11e9-818c-5fe3b0cfb9f9.png)

Seems like heap is corrupted in radare2 flags list (or somewhere close to that)

**To Reprodu

[2019-01-11 16:04] ITAYC0HEN opened #1093 "Graph Header doesn't adjust to Widget size (after exapnding)"
**Environment information**
* Operating System: Windows, Arch Linux
* Cutter version: Git
* File format: Any

**Describe the bug**
The graph header doesn't adjust itself when expanding the widget.

![image](https://user-images.githubusercontent.com/20182642/51044922-f638b780-15ca-11e9-91ee-8371296088ad.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Drag the graph widget to the side doc

[2019-01-11 16:05] ITAYC0HEN commented on #1093
Assignee: @Vane11ope

[2019-01-11 16:10] ITAYC0HEN opened #1094 "RAW-VIRTUAL sections sub-widget shows wrong information"
**Environment information**
* Operating System: Any
* Cutter version: Git
* File format: Any

**Describe the bug**
The proportions of the blocks are wrong, so is the data displayed. Test file attached.

**Current Behavior**

![image](https://user-images.githubusercontent.com/20182642/51045237-cb029800-15cb-11e9-91bc-2b5f54a2e730.png)

**Expected behavior**

![image](https://user-images.githubuserc

[2019-01-11 16:10] ITAYC0HEN commented on #1094
Assignee, @Vane11ope

[2019-01-11 21:31] pelijah commented on #1092
Isn't it r2 bug? Looks like double free issue.

[2019-01-12 09:02] #1014 closed

[2019-01-12 09:20] Agent1101 opened #1098 "Everything is Right2Left in GUI"
**Environment information**
* Operating System: Windows 7 x64
* Cutter version: 1.7.3
* File format: exe

**Describe the bug**
I just loaded file and see what I did see! How can I change to Left2Right? should I change my system local? damn!

**Screenshots**
https://cdn1.imggmi.com/uploads/2019/1/12/1c4515b12ad1c95355f60101157286d2-full.png

[2019-01-12 10:33] a1ext commented on #1092
looks like, need to check with some sanitizer/verifier

[2019-01-12 10:52] thestr4ng3r commented on #1098
Qt adjusts itself to the system. What kind of locale settings do you have set in Windows? Is it rtl in general or is Cutter detecting it wrong?

[2019-01-12 17:36] fcasal commented on #1052
Can't reproduce opening with `Cutter -A 0 /bin/ls`

[2019-01-12 18:15] xarkes commented on #1052
It's actually a bug in radare.
@trufae said `file://` was equivalent to nothing as a prefix, but it seems to be wrong actually.
Steps to reproduce:
[code]
vs
[code]

[2019-01-12 19:44] #1098 closed

[2019-01-12 20:31] fcasal commented on #1050
Fixed in https://github.com/radareorg/cutter/commit/fec84f29419cc0b4b571fda6084c7d7e17ac5a31 but this probably should be cherrypicked to master since in fixes other issues with the debug/emul layout

[2019-01-13 14:42] XVilka opened #1104 "Diffing mode"
Implement side-by-side diffing mode for:
 - [ ] Hexadecimal view
 - [ ] Disassembly view
 - [ ] Graph view
 - [ ] Pseudocode view

[2019-01-13 16:45] Maijin opened #1105 "Anal Classes (`ac`)"
Add Anal Classes display in Cutter (`ac`)

[2019-01-13 17:13] a1ext commented on #1092
Successfully reproduced bug with just radare2.

[2019-01-14 08:17] #1050 closed

[2019-01-14 08:57] david-geiger opened #1108 "cutter doesn't build with radare2 3.2.0 if "sys_magic=true" is selected"
Hi,

I tried to compile latest cutter 1.7.3 on Mageia Cauldron but as reported here https://github.com/radare/radare2/issues/12768, cutter doesn't build if radare2 3.2.0 submodule is compiled with system magic (like "sys_magic=true" meson option), I get:

/usr/bin/ld: Cutter.o:(.data+0x74): undefined reference to `r_magic_version'
collect2: error: ld returned 1 exit status
make: *** [Makefile:727:

[2019-01-14 10:54] a1ext commented on #1108
Seems like `-lr_magic` is missing on link stage

[2019-01-14 11:09] david-geiger commented on #1108
Nop because -lr_magic is not needed when we compile radare2 with system magic as libr_magic.so/libr_magic.so.3.2.0 are not installed/created.

The cutter code should be fixed when radare2 is compiled with system magic or not.

[2019-01-14 11:14] david-geiger commented on #1108
Try to compile latest radare2 with meson build system and with "-Duse_sys_magic=true" and so try to compile cutter against radare2 previously compiled.

[2019-01-14 12:01] shiftre commented on #889
Hi,

I'm colorblinded and any light theme, (e.g [Solarized Light](https://ethanschoonover.com/solarized/)), would be nice to have.

Dark themes are problematic for me as I usually can hardly read any yellow-black or blue-black text.

[2019-01-14 19:45] xarkes commented on #498
So I tried with latest version on master, and although the loading is still slow and the interface freezes a bit during loading, I can navigate in the binary very fluently.
Notes:
* Clicking in the X-Refs widget still freezes which makes me think we need to do those [DisassemblyWidget improvements](https://github.com/radareorg/cutter/issues/972).

[2019-01-15 07:21] #1108 closed

[2019-01-16 17:49] Thalhammer opened #1113 "Project store/load removes base address"
**Environment information**
* Operating System: elementary OS 5.0 (Ubuntu 18.04)
* Cutter version: **Version 1.7.3 Using r2-3.1.3-140-g2462653a2**
* File format: binary

**Describe the bug**
I dumped the firmware of a device and try to analyse it. The firmware was mapped at 0x80000000, so I entered this as base address. After first open everything is fine, however if I save the project and try to

[2019-01-16 18:05] radare commented on #1113
Projects are broken in r2. And its already known for years. I guess thw thousands of users complaining are just waiting for me to fix it instead of checking out the code.

There are several things to do in order to get the projwcts work properly again but this involves work mainly in rbin and only me and @ret2libc are caring about this. Imho for cutter wjll be better to show a warning to avoid use

[2019-01-16 18:19] Thalhammer commented on #1113
Unfortunately I don't have time right now, but I'll take a look once I have free time.

[2019-01-16 23:12] a1ext commented on #1092
Compiled r2 with ASAN, cought the following heap buffer overflow:
![image](https://user-images.githubusercontent.com/14978853/51284637-436abe00-19fd-11e9-9de2-c4d4d4fda121.png)
![image](https://user-images.githubusercontent.com/14978853/51284651-4fef1680-19fd-11e9-8f5c-2579c299fc4b.png)

[code]

[2019-01-17 19:49] xarkes commented on #1092
As said, fixed in above PR.

[2019-01-17 19:49] #1092 closed

[2019-01-22 01:13] radare opened #1127 "Cannot specify line heigh"
that will solve this issue of intermitent lines and make the code more compact

<img width="680" alt="screenshot 2019-01-22 at 02 12 41" src="https://user-images.githubusercontent.com/917142/51506178-35e17980-1deb-11e9-8324-d5830dc41c6f.png">

[2019-01-22 01:14] radare opened #1128 "Add hotkeys like in r2 visual to follow calls or data references"

[2019-01-22 01:14] radare opened #1129 "Handle JK in disasm widget to do the same as next/prev page scroll"
jk is already handled, so it make sense to me to support JK too

[2019-01-22 01:18] radare opened #1130 "Add a widget to hold a list of buttons with an associated command to run"
This way we can easily have a list of commands you use to do, for example, analyzing a function or toggling a configuration variable. having a button in some panel or in the toolbar it will be useful.

Possible uses (and maybe default buttons setup):

* Toggle asm.bytes `e!asm.bytes`
* Analyze function recursively `afr`
* Dump current function to file

[2019-01-22 01:19] radare opened #1131 "Cutter is still using system libraries in macOS"
I had to do this script to not get a crash:

[code]

[2019-01-22 01:19] radare opened #1132 "to here -> to Applications"
![image 2019-01-22 02 19 46](https://user-images.githubusercontent.com/917142/51506333-30386380-1dec-11e9-94bd-1ad98e7867a7.jpg)

[2019-01-22 03:27] XVilka opened #1134 "Grouping nodes"
Good example of this kind of interface is here:

![image](https://user-images.githubusercontent.com/203261/51510536-63a0df80-1e38-11e9-824f-b169791e3e9e.png)

See corresponding radare2 bugs:

- https://github.com/radare/radare2/issues/12847
- https://github.com/radare/radare2/issues/2952
- https://github.com/radare/radare2/issues/6967

[2019-01-22 08:00] thestr4ng3r commented on #1131
@a1ext see #629, that's why we introduced the script in the first place since we couldn't find any other way to fix it.

[2019-01-22 08:54] radare commented on #1131
yes. this is the latest 1.4.0 dmg

[2019-01-22 09:30] Maijin commented on #1134
Duplicate of #506

[2019-01-22 09:30] #1134 closed

[2019-01-22 09:31] Maijin commented on #1127
For info this option is available in Binja.

[2019-01-22 09:40] radare commented on #1131
there's no script in my 1.7.4 installation

try making system wide r_core.so do a exit() in r_core_new() and you should repro

[2019-01-22 09:45] a1ext commented on #1131
It mustn't be there

what do you mean? to install different radare2 version sistem-wide?

[2019-01-22 09:59] radare commented on #1131
yes, thats what most users sould have:

* cutter using release r2
* r2 from git system wide

[2019-01-22 10:14] a1ext commented on #1131
k, will take care of this

[2019-01-22 16:10] xarkes opened #1136 "Add proper white theme for Cutter"
Default Cutter configuration is to use the native theme (GTK, whatever, ...) and so our default color theme is not very pretty.
Although it can be switched in the panel options, I think that we should find a way to dark if the native theme is light (all Windows user native theme is light) or dark, and have a default theme for each one, because it should just be fine by default.

[2019-01-22 17:06] XVilka commented on #1136
Dark, light... What about going even further and just selecting a base color, so you can set it to black (Dark), white (Light), yellow, pink or blue? And calculate all shades based on this color.

[2019-01-23 10:38] dmknght opened #1137 "asm.pseudo and asm.cmt.right break graph display"
**Environment information**
* Operating System: Parrot Security OS 4.5 (amd 64)
* Cutter version: 1.7.4 (released)
* File format: PE32 - x86
**Describe the bug**
Graph panel shows `No function detected. Cannot display` when asm.pseudo is enabled and asm.cmt.right is disabled.

**To Reproduce**
Steps to reproduce the behavior:
1. Unzip the file (URL bellow, password: `infected`, unpack it using UPX

[2019-01-23 10:40] dmknght commented on #1137
P/s: I've saw this message in terminal:
[code]

[2019-01-23 10:54] a1ext commented on #1137
problem is in radare2-side...

[2019-01-23 10:54] a1ext commented on #1137
cc @radare , could you check, please?

[2019-01-24 13:43] tfrnghub opened #1138 "can not run the docker correctly"
root1@ubuntu:~$ docker image list
REPOSITORY          TAG                 IMAGE ID            CREATED             SIZE
radareorg/cutter    latest              c00c6a238c81        3 weeks ago         1.41GB

root1@ubuntu:~$  docker run -it radareorg/cutter
Cutter: Starting with UID:GID :
usermod: invalid user ID 'r2'
Usage: usermod [options] LOGIN

Options:
  -c, --comment COMMENT         new value

[2019-01-24 14:18] XVilka opened #1139 "If you select base address - seek to it when open"
If base address is selected, Cutter should seek to it, not to show from 0x0 (in case of raw binaries)

[2019-01-24 16:23] ITAYC0HEN commented on #1138
Yo yo, @ps1337 our Docker guy - can you have a look here? :P
I know nothing about containers :))

[2019-01-24 18:56] ps1337 commented on #1138
Thanks, I'm looking into it

[2019-01-24 19:37] ps1337 commented on #1138
@tfrnghub if you want you can try it now by building the image locally using `make build-nc` after `cd` in to the `docker` folder. Cheers.

[2019-01-24 22:32] #1083 closed

[2019-01-27 23:36] apasamar commented on #406
Consider to port agc call-graph and also agx.
Depth levels are important. I coded this small example in python using r2pipe() for agx (2 levels)
https://github.com/apasamar/radare_stuff/blob/master/agx_depth.py

[2019-01-28 05:53] ITAYC0HEN commented on #447
This option is gone? I don't see it in the interface though I do see it in the .ui file

[2019-01-28 06:20] ITAYC0HEN opened #1146 "Dashboard widget fails to show some information"
**Environment information**
* Operating System: Windows 10 64bits
* Cutter version: 1.7.3 release
* File format: .img

**Describe the bug**
On this specific file, when modifying settings in the Initial Analysis dialog, this info isn't showing in Cutter. This is because we parse the `i` command from radare2 which doesn't give these options.
We should consider retrieving this information individuall

[2019-01-28 06:37] RusEm opened #1147 "Save recent folder"
Please add function to save the recent folder in File dialogs and show it when you want to open a new file. Instead of opening the default folder

[2019-01-28 07:15] bqlyhy opened #1148 "dir.projects doesn't change"
(win10x64, radare2_msvc_64-3.2.1,  Cutter-v1.7.4-x64.Windows)

When in "open file" window "projects" tab, press the "select" button and choose another path won't change `dir.projects`, it remains last time used path or default path. And projects won't be listed when using a custom `dir.projects`.
sorry for the broken English.

---
**Fixed:**
_Is there an option to show code xrefs comments( just li

[2019-01-28 08:52] xarkes commented on #1148
Hello,

Well it seems the option is missing from the option panel, but yes there is, you can set `e asm.xrefs = true` in the console to activate it, and it should work (at least in the disassembly widget).

Hmm I see, we should add an option to change the path :)

[2019-01-28 09:59] thestr4ng3r commented on #447
See #446

[2019-01-30 08:55] ITAYC0HEN commented on #1148
first issue closed in #1150

[2019-01-30 12:26] oliv3r opened #1151 "String display off by one error"
**Environment information**
* Operating System: Debian Linux Buster
* Cutter version: 1.7.4
* File format: elf

**Describe the bug**
A decoded string has some fuzz appended. It appears that it's always the last character from the string. So I think that the UI copies/overwrites the string as the 'str.' prefix is 1 longer then the two quotes in the final string?

**To Reproduce**
Steps to reproduce

[2019-01-30 14:55] oliv3r commented on #1151
Actually, it's the pseudocode widget, I think so yes, and yes :)
[spi2k7.zip](https://github.com/radareorg/cutter/files/2813072/spi2k7.zip)

Find attached the binary, you can see it stright in main the function is really short so should spot several instances easily :)

[2019-02-01 09:21] ITAYC0HEN opened #1154 "Disassembly context menu doesn't show keyboard shortcuts"
**Describe the bug**
Disassembly and graph context menu doesn't show keyboard shortcuts

![image](https://user-images.githubusercontent.com/20182642/52113972-758e3980-2613-11e9-817e-5d41f379e431.png)

**To Reproduce**
Steps to reproduce the behavior:
1. Right click in Disassembly\graph widget
2. Key shortcuts don't show up

**Expected behavior**
Key shortcuts should be shown next to each item

![i

[2019-02-01 16:11] #1078 closed

[2019-02-01 16:11] #1079 closed

[2019-02-01 16:11] #1080 closed

[2019-02-01 16:11] #1081 closed

[2019-02-01 16:11] #1082 closed

[2019-02-01 17:43] ITAYC0HEN commented on #515
Should be the default, but with the option to tweak it (Configurable)

[2019-02-01 17:44] ITAYC0HEN commented on #514
this is tracked in radare2, closing here

[2019-02-01 17:44] #514 closed

[2019-02-01 17:45] ITAYC0HEN commented on #507
this is actually a bug. Arrows should always stay

[2019-02-01 17:55] ITAYC0HEN commented on #486
@radare @Maijin is this feasible now?

[2019-02-01 19:14] ITAYC0HEN commented on #458
So bottom line, what should be done here? I can use Photoshop/Illustrator if need some improvements

[2019-02-01 20:00] thestr4ng3r commented on #458
This is old, I've used Cutter on macOS many times since and the icon always looked perfect. Perhaps it was just a caching issue.

[2019-02-01 20:00] #458 closed

[2019-02-02 13:08] Maijin commented on #486
Nop issue 9715 is still not fixed and SIOL fix is still not done

[2019-02-04 06:44] philipmnelson commented on #685
I'm currently working on this issue.

[2019-02-04 08:45] Maijin opened #1159 "C syntax highlighting in the type edition dialog"
C syntax highlighting in the type edition dialog. Using the one we have for pseudo-code https://github.com/radareorg/cutter/blob/master/src/common/SyntaxHighlighter.cpp

[2019-02-04 09:01] ITAYC0HEN commented on #1159
Qt built-in syntax highlighter is super ugly. We better implement/adopt a new none

[2019-02-04 12:18] xarkes commented on #685
Maybe it would be better to say "Report an issue" rather than "Open issue" which might be less understandable for other people.

[2019-02-04 13:49] ITAYC0HEN commented on #685
+1 "Report an issue"

[2019-02-04 16:11] xarkes opened #1161 "Fix logo color not changing when switching theme"

[2019-02-04 16:17] xarkes opened #1162 ""Start debug" is broken on Windows"
I tried on Windows 10 64 bits (1809) and this is the result:
![2019-02-04-171431_1912x1007_scrot](https://user-images.githubusercontent.com/10772605/52221079-ad5de100-28a0-11e9-9c83-3ea1add9f220.png)

As you can see, the registers panel is empty, the backtrace panel is empty, the seek is wrong, etc.
In addition to that, Cutter takes approximately 5 seconds to respond after clicking the button (sam

[2019-02-05 07:46] #1154 closed

[2019-02-05 10:32] xarkes commented on #1147
Fixed in #1149

[2019-02-05 10:32] #1147 closed

[2019-02-05 10:55] ITAYC0HEN commented on #305
I don't find this solution useful for cutter core. can be a plugin in my opinion

[2019-02-05 10:56] ITAYC0HEN commented on #295
I think this can be closed.
I don't want our users to type more r2 commands in another dedicated console.
And as mentioned before, we MUST supply this via API :)

[2019-02-05 10:56] #295 closed

[2019-02-05 11:07] xarkes commented on #1130
Closing as this can be easily made as a plugin, and there's no real need to have it inside Cutter Core.

[2019-02-05 11:07] #1130 closed

[2019-02-05 12:39] ITAYC0HEN commented on #1039
I don't think so :) enjoy!

[2019-02-05 15:23] #305 closed

[2019-02-07 08:32] ITAYC0HEN opened #1170 "Replace QSyntaxHighlighter with KSyntaxHighlighting"
Currently, Cutter uses QSyntaxHighlighter as its code highlighter in several places. These places include the function's prototype and decompiler output. There is no doubt, QSyntaxHighlighter is ugly. Very ugly. It is so ugly that even QT Creators doesn't use it. We better get rid of it asap.
Kate editor's syntax highlighter, [KSyntaxHighlighting](https://api.kde.org/frameworks/syntax-highlighting

[2019-02-07 08:43] ITAYC0HEN commented on #1162
Unrelated: what happened to the theme? shouldn't happen. Can you reproduce and open an issue?

[2019-02-07 08:53] xarkes commented on #1162
It is the same issue as that https://github.com/radareorg/cutter/issues/1161.

[2019-02-07 10:52] #685 closed

[2019-02-07 11:19] ITAYC0HEN commented on #568
so what are the future steps here?

[2019-02-07 14:45] philipmnelson opened #1173 "R_EVENT issues preventing building"
**Environment information**
* Operating System: Arch Linux
* Cutter version: Git

**Describe the bug**
Cannot build Cutter,
[code]

**To Reproduce**
Steps to reproduce the behavior:
1. Clone the repository
2. `cd cutter`
3. `mkdir -p build && cd build`
4. `qmake-qt5 ../src/Cutter.pro && make`
5. See error

**Expected behavior**
Expected to compile a binary file.

**Additional context**
Currently w

[2019-02-07 14:48] ITAYC0HEN commented on #1173
You probably don't have the required version
[code]

[2019-02-07 14:49] ITAYC0HEN commented on #1173
This is not an issue with Cutter. When you fix it locally, please close this issue

[2019-02-07 14:49] philipmnelson commented on #1173
I fixed it. Sorry, I was just confused.

[2019-02-07 14:49] #1173 closed

[2019-02-07 14:52] ITAYC0HEN commented on #1161
can't reproduce.
I think that what happened is that you had an old config, without my new config-item (which indicates first execution), and the new version of Cutter parsed it and understood two things
1. You have dark theme (old config was set to dark)
2. This is the first time you execute Cutter, because my config-item wasn't in the configuration

[2019-02-07 19:49] securitykitten opened #1176 "Disappearing Text when asm.describe is enabled"
**Environment information**
* Operating System:  Fedora 29 x64
* Cutter version:  1.7.4 (appimage)
* File format: NES Rom

**Describe the bug**
Lines disappear when scrolling through a function with asm.describe set to True.  The lines do not disappear when asm.describe is set to False.

**To Reproduce**
Steps to reproduce the behaviour:
1. Open the following binary with default options  [hackingt

[2019-02-07 20:04] xarkes commented on #1176
If you started Cutter from console, I bet you have some warnings and/or errors.
Could you please paste the logs here? Thanks.

[2019-02-07 20:11] securitykitten commented on #1176
Sure thing, sorry about that.

I think the line that you're interested in is:

`Failed to parse JSON for command "agJ 0x000082f1": unterminated object`
and
`Failed to parse JSON for command "pdJ 27 @ 33532": unterminated object`

Full log here:
[output.txt](https://github.com/radareorg/cutter/files/2842509/output.txt)

[2019-02-07 20:12] a1ext commented on #1176
Probably duplicate of #1137

[2019-02-07 20:14] xarkes commented on #1161
I will try again to confirm the issue :)

[2019-02-07 20:14] a1ext commented on #1176
Yeah, exactly. Problem is on radare2-side, CC @radare

[2019-02-07 22:55] #1039 closed

[2019-02-08 09:16] ITAYC0HEN opened #1177 "Create a software updater for Cutter"
**Is your feature request related to a problem? Please describe.**
Currently, in order to download the newest release of Cutter, one should visit our Github releases page, manually download the latest version and replace the one they currently have, with the newest. In addition, the user needs to replace any shortcut they have to point at the new one. This is not user-friendly to update Cutter bec

[2019-02-08 16:28] ITAYC0HEN commented on #1176
r2 fails to parse the json object

[2019-02-08 16:28] ITAYC0HEN commented on #1137
@radare r2 fails to parse the json

[2019-02-08 17:03] a1ext commented on #1176
R2 serializes json in wrong way

[2019-02-08 17:24] dmknght commented on #1170
will KSyntax will fix highlight issue, which hasn't completely fixed?

[2019-02-08 17:34] ITAYC0HEN commented on #1170
which highlight issue?

[2019-02-08 20:12] Maijin opened #1179 "Hashes in Overview missing"
**Describe the bug**

<img width="572" alt="image" src="https://user-images.githubusercontent.com/1408600/52503503-2772ca80-2bff-11e9-872f-31efa6cc69d4.png">

**Expected behavior**
Hash are displayed in overview

**Additional context**
Hashes moved from `iIj` command to `iFj`, however the current JSON is incorrect, the command must be properly rewritten using pj.c in radare2.

[2019-02-09 02:07] philipmnelson commented on #1179
Working on this issue, this is in the dashboard widget, correct?

[2019-02-09 05:28] dmknght commented on #1170
This one #798

[2019-02-09 06:39] XVilka commented on #1177
Related https://github.com/radare/radare2/issues/2542

[2019-02-09 06:50] Maijin commented on #1179
yes

[2019-02-09 06:54] philipmnelson commented on #1179
I'm actually gonna have to leave this one to work on. I'm still trying to grok pj.c in radare2.

[2019-02-09 06:55] Maijin commented on #1179
Example of refactoring can be found here - https://github.com/radare/radare2/pull/12822/files#diff-9a7bcc9d9f9b6439c4d8b9301f1d46ccL888 nothing fancy.

[2019-02-09 06:59] philipmnelson commented on #1179
Is [this](https://github.com/radare/radare2/pull/13025) related?

[2019-02-09 07:38] ITAYC0HEN commented on #1170
Ahh no, this isn't the same highlighting. Syntax Highlighting will color programming language code as we have in our Decompiler and in our Function prototype. We talk about the colors of the text, not a selection of it by the mouse. As you have in any other IDE

[2019-02-09 12:34] xarkes commented on #1161
I could not reproduce it.

[2019-02-09 12:34] #1161 closed

[2019-02-09 13:01] Maijin commented on #1179
In progress here https://github.com/radare/radare2/pull/12989/files

[2019-02-09 14:38] xarkes commented on #1151
The bug is in `pseudo.c` inside radare2 code base.

[2019-02-09 16:00] xarkes commented on #1151
Tracking it in radare2 repository now. Closing this.

[2019-02-09 16:00] #1151 closed

[2019-02-10 04:29] philipmnelson commented on #1176
So, did r2 change the way it parses JSON recently?

[2019-02-10 12:32] ITAYC0HEN commented on #1179
pr merged. Can we close this? @Maijin

[2019-02-10 13:46] philipmnelson commented on #1179
I tried building r2 with the merged pr and I'm still getting incorrectly serialized json. I don't think we can close it yet.

[2019-02-10 14:45] ITAYC0HEN commented on #1179
did you update r2 submodulke?

[2019-02-10 15:36] Maijin commented on #1179
Indeed the r2 fix is not good enough and Cutter will also need to be updated after to use iFj. So no we can't close yet

[2019-02-10 16:00] philipmnelson commented on #1179
I did update the submodule. The pr wasn't the right fix for this issue.

[2019-02-11 01:10] Maijin commented on #1179
The command is under `itj` see:

[code]

[2019-02-11 09:34] #1071 closed

[2019-02-11 09:34] #1074 closed

[2019-02-11 09:34] #1076 closed

[2019-02-11 10:01] radare commented on #1151
its fixed now

[2019-02-12 06:31] alichtman opened #1182 "Homebrew Release"
It'd be awesome if you could install this with:

`$ brew cask install cutter` or `$ brew cask install radare2-cutter`

The advantages of installing with homebrew, from the perspective of the user, are:

1. It makes staying on top of updates super easy
2. It provides for a very portable development environment

[2019-02-12 08:53] ITAYC0HEN opened #1183 "Use QSettings IniFormat instead of NativeFormat when releasing Cutter 1.8"
While in Linux, the location of Cutter.conf is quite comfortable (`$HOME/.config/OrgName/AppName`), on Windows machines, the settings are saved into the Registry in this way:

![image](https://user-images.githubusercontent.com/20182642/52621707-a80c2200-2eb0-11e9-9457-b3687fb4e29d.png)

In my opinion, saving settings to the registry -- instead of a file -- is not comfortable to tweak manually or t

[2019-02-12 14:09] #1159 closed

[2019-02-12 14:13] ITAYC0HEN commented on #1093
a reminder @Vane11ope

[2019-02-12 14:35] ITAYC0HEN commented on #1105
@thestr4ng3r can be closed?

[2019-02-12 14:49] ITAYC0HEN commented on #366
thanks to @Adikso, now hugggggge graphs are created very fast and it is super easy to navigate :)

[2019-02-12 14:49] #366 closed

[2019-02-12 14:49] ITAYC0HEN commented on #467
is this still planned? or we gave up on the idea

[2019-02-12 14:52] ITAYC0HEN commented on #784
is this still occur?

[2019-02-12 14:54] a1ext commented on #467
IMO it is not worth to develop and maintain such library (this will require supporting it over the years).

[2019-02-12 15:11] ndaprela commented on #1182
You can: https://github.com/Homebrew/homebrew-cask/blob/master/Casks/cutter.rb

[2019-02-12 15:12] alichtman commented on #1182
Oh cool! This should be added to the README.

[2019-02-12 15:45] #467 closed

[2019-02-12 16:29] #1105 closed

[2019-02-12 16:48] Maijin commented on #1183
I also +1 .ini for sharing capability :)

[2019-02-12 16:54] a1ext commented on #1183
+1
P.S. we have to preserve user settings during switch to the new format

[2019-02-12 20:14] philipmnelson commented on #1183
Also +1
But we can't break user settings during switch as @a1ext mentioned.

[2019-02-13 06:39] #1182 closed

[2019-02-13 07:37] #1093 closed

[2019-02-13 08:32] dmknght commented on #784
Yes it is still the same.

[2019-02-13 20:06] ITAYC0HEN commented on #999
@thestr4ng3r do you have any idea about it?

[2019-02-13 20:09] #753 closed

[2019-02-13 21:17] thestr4ng3r commented on #999
Not really, I would have to test myself. But right now I don't have any Windows dev environment set up.

[2019-02-15 00:01] maxandron opened #1196 "Scratchpad window"
**Is your feature request related to a problem? Please describe.**
I usually use a different app to take notes. But it could be super useful to have notes inside without jumping.

**Describe the solution you'd like**
Just a super simple text box. No formatting, just text.
It could be useful to have it as an "extra" window (like graph).

This is how a similar solution looks in the IDE
![image](http

[2019-02-15 03:34] JorgeTebruski opened #1197 "The graph does not detect functions."
**Environment information**
* Operating System: windows 10
* Cutter version: 1.7.4
* Radare2 version:  r2-3.2.1-341-g821a53374
* File format: pe
 * Arch: x86
 * Type: EXEC (Executable file)

**Describe the bug**
The graph does not detect functions, but the disassembly normally detects.

**To Reproduce**
1. Open any executable file
2. Select any function
3. Go to the graph

**Expected behavior**
Th

[2019-02-15 04:10] XVilka commented on #1196
Please note these things:
- radare2 supports attaching text files into the particular places of the disassembly/file. See `CC,` command in the command mode and `,` key in the visual mode. See last paragraphs about this command in the [Disassembly Metadata](https://radare.gitbooks.io/radare2book/content/disassembling/adding_metadata.html) chapter of Radare2 book.

- Request to add [Markdown veiwer

[2019-02-15 04:18] XVilka commented on #1196
In my cases I usually would like to attach:
 - Text notes
 - URLs
 - External text files (For more elaborate notes or output of other tools)
 - External files (usually PDFs with datasheets for example, sometimes DOC files or ZIP)

By my logic (and experience) every non-trivial reverse engineering task/target is akin to the criminal case, when you add notes, put important URLs to useful sites/artic

[2019-02-15 04:52] Adikso commented on #1197
Yes, there was a "blind" change. @thestr4ng3r is already working to fix this but still thanks for reporting ;)

[2019-02-15 18:56] xarkes commented on #1196
The reason is we lost too many time trying to solve not understandable bugs and crashes with Python integration. Maybe with our future Python plugin integration it will be easier to bundle, and we can think of a "two builds" solution, or even a plugin (which would be more suitable imho), but anyway there's no way we spend more time on this right now.

[2019-02-15 19:02] thestr4ng3r commented on #1196
@xvilka if you can take the time to fix this, we might be able to ship builds with QtWebEngine again, because it is what blocks it: https://github.com/radare/radare2/issues/11693

[2019-02-16 17:19] xarkes commented on #397
Fixed in https://github.com/radareorg/cutter/pull/1120

[2019-02-16 17:19] #397 closed

[2019-02-16 18:06] ITAYC0HEN commented on #325
@radare is such way exists now? any idea how to continue with this?

[2019-02-16 18:13] xarkes commented on #727
Solved in https://github.com/radareorg/cutter/pull/1195

[2019-02-16 18:13] #727 closed

[2019-02-16 18:47] #396 closed

[2019-02-16 18:52] ITAYC0HEN commented on #444
probably would be implemented soon by @xarkes :)
Remember this issue when you'll push it

[2019-02-16 19:03] ITAYC0HEN opened #1199 "Graph and mini-graph BUGS"
This is an issue to list recent bugs with GRaph and Mini-graph to be fixed ASAP:

- [x] Segfaults while opening another GRaph widget (`Windows >> Add extra... > Graph widget`)
- [x] Scaling is now broken. (While zooming in or out)
- [x] While docking Graph-Overview to the main window, it causes a problem (disappears and can't be restored)

**Scaling:**

![image](https://user-images.githubuserconte

[2019-02-17 07:49] ITAYC0HEN commented on #515
in IDA it counts something in seek-history only if it is not in the same function **or** it is a double click on an address of the function if it is in a condition.

![image](https://user-images.githubusercontent.com/20182642/52909959-3dd0f400-3299-11e9-9bfa-f2265ad1975f.png)

[2019-02-17 07:56] ITAYC0HEN commented on #568
ping @xarkes @pelijah

[2019-02-17 07:57] ITAYC0HEN commented on #651
Duplicate of https://github.com/radareorg/cutter/issues/444
@xarkes will solve this in it's commits for Lighthouse plugin

[2019-02-17 07:57] #651 closed

[2019-02-17 07:59] ITAYC0HEN commented on #682
is this tracked in r2?

[2019-02-17 07:59] ITAYC0HEN commented on #687
like what? this issue is too generic :(

[2019-02-17 08:00] ITAYC0HEN commented on #698
what's that?

[2019-02-17 08:01] ITAYC0HEN commented on #729
What do you think? any way to move all these libraries to a "libs" folder and close this?
@thestr4ng3r @xarkes @pelijah

[2019-02-17 08:02] ITAYC0HEN commented on #699
@xarkes any idea here? I think there are suggested solutions that can help us close this issue

[2019-02-17 08:03] ITAYC0HEN commented on #781
@trufae can you upload this `ls` file from your MAC?
@a1ext can you have a look later?

[2019-02-17 08:04] ITAYC0HEN commented on #855
@XVilka any update about this?

[2019-02-17 08:05] ITAYC0HEN commented on #784
@dmknght want to try and fix it?

[2019-02-17 08:12] Maijin commented on #682
Not yet

[2019-02-17 08:14] ITAYC0HEN commented on #809
ping @dmknght @jamieb122 , any idea how to continue now?

[2019-02-17 08:15] ITAYC0HEN commented on #824
@kernelm0de can you share the binary? does it exist in radare2 as well?

[2019-02-17 08:17] ITAYC0HEN commented on #850
ping @sebdraven , we need your input here :) Do you mean something like loading Type-Libraries from IDA? To autodetect library functions such as Delphi's?

[2019-02-17 08:18] pelijah commented on #729
It is only possible if you create special app launcher

[2019-02-17 08:38] ITAYC0HEN commented on #882
Do you have any idea for this? Sounds hard to implement since it doesn't available from r2.

I think we would eventually implement a small demo-function with as many examples as possible for colors, and let the user tweak it. This will be some kind of a quick preview for the theme

[2019-02-17 08:46] ITAYC0HEN commented on #786
@aldelaro5 does it still exist?
These images are the functions you named as test candidates:

![image](https://user-images.githubusercontent.com/20182642/52910494-d6b73d80-32a0-11e9-9806-ebf0a0be8f1d.png)

![image](https://user-images.githubusercontent.com/20182642/52910509-344b8a00-32a1-11e9-9131-1e49cf5bdce3.png)

[2019-02-17 08:47] ITAYC0HEN commented on #798
ping @a1ext and @Adikso , do you have solutions? I know you two worked on this

[2019-02-17 08:48] ITAYC0HEN commented on #902
@Vane11ope what's going on with this one? Is this done?

[2019-02-17 09:20] a1ext commented on #729
This issue can be closed IMO, not an issue at all. Let’s spendctime on more useful ones

[2019-02-17 09:22] ITAYC0HEN commented on #729
disagree. it's a mess to find cutter.exe inside. I need to scroll until I find it or sort by name, etc.
THIS IS NOT USER-FRIENDLY

[2019-02-17 09:24] a1ext commented on #798
Didn’t take a look

[2019-02-17 09:26] a1ext commented on #729
Why did you not create a shortcut?

[2019-02-17 09:29] ITAYC0HEN commented on #729
I do for myself because I use and test Cutter all the time, but I don't enter this mess directory and user a finder to locate the recent "cutter.exe".
a user shouldn't create a shortcut every release...

[2019-02-17 09:32] a1ext commented on #729
Then solution can be the following:
- move everything in `cutter` folder and
- create a shortcut next to it

[2019-02-17 09:33] a1ext commented on #729
In an AppVeyor

[2019-02-17 10:12] xarkes commented on #855
Yes we are waiting for the new infrastructure.

[2019-02-17 10:14] xarkes commented on #699
Fixed in https://github.com/radareorg/cutter/pull/1195.

[2019-02-17 10:14] #699 closed

[2019-02-17 10:15] xarkes commented on #687
That's funny because I wanted to take care of it today :) I'll just do it no worries.

[2019-02-17 10:15] xarkes commented on #687
As you said I think it's too generic, let's just close this.

[2019-02-17 10:15] #687 closed

[2019-02-17 10:16] xarkes commented on #680
I'm going to do it today.

[2019-02-17 10:20] xarkes commented on #568
I don't know, after all I have arguments for and against this so I'm not sure what the best decision is.

[2019-02-17 10:23] xarkes commented on #515
I think silent seek is not the best thing to do. Having some history in `CutterSeekable` class would be probably better.

[2019-02-17 10:24] xarkes commented on #444
My current solution doesn't use radare2 API.

[2019-02-17 10:26] ITAYC0HEN commented on #444
The issue says "like". It doesn't matter how it's matter what. ecH are simply nice to have, but any solution is good :)

[2019-02-17 10:53] ITAYC0HEN commented on #568
a few days ago a new contributor got confused by the lack of UI file in the Segments widget. I personally enjoy working with UI files

[2019-02-17 13:33] ITAYC0HEN commented on #1197
fixed :)

[2019-02-17 13:33] #1197 closed

[2019-02-17 13:37] xarkes commented on #568
Then we can close it I believe.

[2019-02-17 13:38] #568 closed

[2019-02-17 14:17] ITAYC0HEN commented on #782
Tracked here:
https://github.com/radareorg/cutter/issues/1002

And PR is in progress here:
https://github.com/radareorg/cutter/pull/1157

[2019-02-17 14:17] #782 closed

[2019-02-17 14:38] ITAYC0HEN commented on #912
Fixed now I think :)
Please re-open if you still encounter the bug

[2019-02-17 14:38] #912 closed

[2019-02-17 14:50] ITAYC0HEN commented on #953
tracked in radare/radare2#12271

[2019-02-17 14:50] #953 closed

[2019-02-17 16:46] maxandron commented on #1196
Jupyter is nice, but it feels like overkill. It was a big pain to get Jupyter to work. It is also annoying as long as Cutter does not ship with QtWebEngine

[2019-02-17 17:29] dmknght commented on #809
I didn't test this error on latest version. I will test it in next few hours

[2019-02-17 17:34] dmknght commented on #784
I'm not sure. I don't know much about Cpp programming. I am having some idea about this but unfortunately I can't figure it out in the source code :(

[2019-02-17 18:22] #972 closed

[2019-02-17 20:31] ITAYC0HEN commented on #972
this wasn't reproducable anymore

[2019-02-18 01:39] dmknght commented on #809
I've created a quick test. This problem is likely fixed. I will re-open it if I see this error again.

[2019-02-18 01:39] #809 closed

[2019-02-18 02:56] XVilka commented on #855
The Coverity itself was having problems until a week ago or so. Now you
need to wait a bit since I move CI on a new physical server.

On Sun, Feb 17, 2019, 6:12 PM xarkes <notifications@github.com wrote:

[2019-02-18 05:08] XVilka commented on #855
See https://community.synopsys.com/s/article/Coverity-Scan-Update

[2019-02-18 09:01] Maijin commented on #774
ok for the aan it's done now

[2019-02-18 14:29] #786 closed

[2019-02-19 10:23] sebdraven commented on #850
Yes exactly, for making easy the reverse of this kind of binaries :)

[2019-02-19 15:19] securitykitten opened #1204 "Cutter Crash on latest build"
**Environment information**
* Operating System: Fedora 29 x64
* Cutter version: 1.7.4  (git pull `a8fbe72bf76739b342f0570e4844f32de050112a`) Built from latest git
* File format: NES ROM (Doesn't seem to matter on this bug)

**Describe the bug**
When adding an extra graph window, Cutter will crash.

**To Reproduce**
Steps to reproduce the behavior:
1. Load binary file [hackingtime.zip](https://gith

[2019-02-19 15:22] ITAYC0HEN commented on #1204
Pull Request #1202 is already waiting to get merged and will fix this
crash. Thank you for reporting :)

On Tue, Feb 19, 2019, 17:20 Nick Hoffman <notifications@github.com wrote:

[2019-02-19 15:26] securitykitten commented on #1204
Awesome, didn't see the PR!  Thanks

[2019-02-19 15:57] ITAYC0HEN commented on #1204
Closed at #1202

[2019-02-19 15:57] #1204 closed

[2019-02-19 16:07] Maijin commented on #850
ok so that's basically zignatures then, i think it can be closed here because it's tracked in r2 side

[2019-02-19 16:08] #850 closed

[2019-02-20 12:42] Maijin opened #1205 "Function argument color is random"
**Environment information**
* Operating System: osx 10.14
* Cutter version: 1.7.4
* File format: elf
 * Arch: x86
 * Type: EXEC (Executable file)

**Describe the bug**
Function argument color is random

**To Reproduce**
Open a binary and select some functions

**Expected behavior**
Consistent coloring

**Screenshots**

<img width="377" alt="image" src="https://user-images.githubusercontent.com/140

[2019-02-20 16:07] ITAYC0HEN opened #1207 "View content of defined types (structs, enums, ...)"
Add the option to view the contents of types, structs, enums, etc

This probably can be done with `tsc`, `ttc`, `tuc`, etc, though it would be even better to format the output in C-style (indention, etc)
[code]

This should be done when double clicking a Type and also in a context menu (right-click).

Syntax highlighting should be applied

[2019-02-20 16:10] ITAYC0HEN opened #1208 "Edit a currently defined Type"
Add an option to "Right Click -> Edit" a type. This should show the user an editable textbox with the current Type and let the user update it.
Syntax highlighting should be applied

[2019-02-20 16:13] Maijin commented on #1207
Maybe instead could add an intermediary windows for the export capability

[2019-02-20 16:15] ITAYC0HEN commented on #1207
Export is for all types while this is a simpler view of a single one

![image](https://user-images.githubusercontent.com/20182642/53106330-7b54ac00-353b-11e9-9bc7-2a685c6f9530.png)

[2019-02-20 16:17] Maijin commented on #1207
Then that's a bug, export should be defined by the selected one and we should have export all

[2019-02-20 16:29] ITAYC0HEN commented on #1207
We can have 3 things

1. Right click (anywhere) - > export all
2. Right click on a single type - > export type. This should also work on multi-selection and will export all the selected types
3. Right click on a type -> View Type - will show a dialog with the Type contents as well as two buttons for "Edit" and "Export"

@m0nk3ydluffy your opinion here please

[2019-02-20 16:37] m0nk3ydluffy commented on #1207
Currently we only have the option to export all the types. It would be nice to implement the features in the way @ITAYC0HEN has described. This would require some changes in r2 side since the commands like `tsc` etc. do not give output for a single type.
I would like to work on this issue and #1208 since both are related.

[2019-02-20 18:36] #1205 closed

[2019-02-20 20:16] #1059 closed

[2019-02-21 07:41] Maijin commented on #1207
@m0nk3ydluffy go ahead

[2019-02-21 07:43] Maijin commented on #1207
Please prioritize this one though: https://github.com/radareorg/cutter/issues/1073. It's nice to be able to edit, export etc. But the main objective for this panel is to be able to edit the disassembly, without #1073 the whole purpose of this panel is quite useless 👍

[2019-02-21 08:37] ITAYC0HEN commented on #1207
indeed :)

[2019-02-21 13:56] m0nk3ydluffy commented on #1207
@Maijin Cool. I'll work on those issues first.

[2019-02-21 14:00] m0nk3ydluffy commented on #1073
Hey! Are you talking about the `tp  <type> [addr|varname]` command of r2? And could you please elaborate how would you like it to be implemented. For example, do we give the "apply structure" option in the disassembly context menu or types context menu or both. And where should the result be displayed?

[2019-02-21 15:30] ITAYC0HEN commented on #1073
This needs a good plan and a thorough discussion indeed.

To answer it quickly, similar to IDA just cooler:
Right click on an Immediate value >> Structure Offset >> choose struct (with previews)

![image](https://user-images.githubusercontent.com/20182642/53180037-83752000-35fd-11e9-9d10-db9163ad1154.png)

In radare2 you can use the `tas` command to see candidates for a given immediate, and the `t

[2019-02-21 16:33] m0nk3ydluffy commented on #1073
Hey @ITAYC0HEN . That was a wonderful explanation. Thanks a lot for clearing this up. I was completely heading in the wrong direction. I'll work on this.

[2019-02-21 17:07] ITAYC0HEN commented on #1073
I forgot to upload the header file but I think you should have it since I sent it to you.

Also, note that this is just a single use for applying Struct. You should also be able to do this on variables and on data (non instructions)

Check out the r2book chapter about types and structs

[2019-02-21 17:36] m0nk3ydluffy commented on #1073
Yes I have that header file.

Check out the r2book chapter about types and structs

Yep! Will do.

[2019-02-21 21:41] xarkes opened #1210 "Clicking on relocations doesn't change seek"

[2019-02-21 21:42] xarkes opened #1211 "Improve rename shortcut"
Currently to rename a function one must press "Shift + N" while I think "N" is better.
Also I think the item in the menu should be "Rename" and handle automatically if it's a function, a local variable, etc.

- [ ] Move `Shift+N` to `N` shortcut
- [ ] Merge `Y` "Rename local" into `N` "rename" shortcut
- [ ] Merge "Add flag" to `N` when focusing on a line of code with no symbol

I think this will

[2019-02-21 21:57] #496 closed

[2019-02-22 10:47] XVilka commented on #1183
Just providing a small python/native tool for migration should be enough and easier probably.

[2019-02-22 13:12] mgmoshes commented on #1057
Hi @Maijin
I'd like to work on this issue.
Could you please clarify what is required?
(I see a `QComboBox *parseEndianComboBox;` member which is used already to do some endian variation)
Thanks

[2019-02-22 13:38] #1183 closed

[2019-02-22 17:30] AlexKornitzer commented on #1073
So @ITAYC0HEN asked me to chime in here with some thoughts as I added the offset support to the `ta` command, whether they will be useful is another thing.

Currently I think mirroring what ida does is sufficient for an initial implementation (context menu & filterable pop up window) as I don't see a massive need for bells and whistles. From an implementation point of view if we ignore pointer off

[2019-02-22 19:35] m0nk3ydluffy commented on #1073
Hey @AlexKornitzer ! Thanks for the insight. As you said, I'll try to mirror IDA for now. And maybe later when I'm more comfortable, I'll try to work out a way for the structs whose pointers are not pointing to the beginning.

[2019-02-22 19:45] ITAYC0HEN commented on #1073
Thank you Alex!

Gaurav, IDA supports it already and much more behind the scenes, so you can't really mirror what IDA currently have with the current situation in r2. But yeah, only the basics should work for now 😊

[2019-02-22 19:49] m0nk3ydluffy commented on #1073
Pardon my ignorance. I didn't know that IDA supports that. I guess I'll be implementing only the very basics then.

[2019-02-22 19:50] AlexKornitzer commented on #1073
Ah my bad on the terming of mirroring then, meant that of the image above, haven't used IDA in a while :P

[2019-02-23 11:14] kernelm0de commented on #824
@ITAYC0HEN Sorry for the late reply, the issue does not exist radare2.
[ls.zip](https://github.com/radareorg/cutter/files/2896729/ls.zip)

[2019-02-24 07:20] ITAYC0HEN commented on #1199
Closed in #1212 #1202 #1200

[2019-02-24 07:20] #1199 closed

[2019-02-24 08:10] ITAYC0HEN opened #1216 "Segfault upon docking two graphs together"
**Environment information**
* Operating System: Linux
* Cutter version: Newest
* File format: Any

**Describe the bug**
Upon opening two graph widgets and docking them together to the main window, Cutter is receiving a segfault. @Vane11ope reproduced the bug and will be responsible to fix it

**To Reproduce**
Steps to reproduce the behavior:
1. Open a binary in Cutter
2. Go to graph widget which i

[2019-02-24 17:25] #1072 closed

[2019-02-24 17:25] #1073 closed

[2019-02-25 10:01] xarkes commented on #1179
`RBinInfo->hashes` is a char* which imho sucks so I don't know what a proper fix would be.
Maybe make `hashes` a HashMap?

[2019-02-27 09:07] Vane11ope opened #1220 "layout is not properly saved when you close and reopen Cutter."
Work Environment: Ubuntu 16.04 LTS

How to reproduce:

1. Go to "Reset layout" in the menu
2. Close Cutter
3. You will see the chaotic layout

I also attach the gif. I am fixing this anyway.
![gifrecord_2019-02-27_180042](https://user-images.githubusercontent.com/29271244/53478542-6c7d7480-3aba-11e9-8d21-018920d50445.gif)

[2019-02-27 09:12] ITAYC0HEN commented on #1220
there are many more problems with layout, please try to figure all :)
for example, try to reset layout when a widget (say, Graph) is floating

[2019-02-27 09:18] Vane11ope commented on #1220
@ITAYC0HEN cool but i might not be able to cover all by myself so plz list them up yourself too once you find any :)

[2019-02-27 09:24] a1ext commented on #1220
There is a problem with layout on the first start on Windows:
![untitled](https://user-images.githubusercontent.com/14978853/53479671-32907c00-3a82-11e9-9e92-cf1897adad99.png)

(functions widget should be smaller, as after `Reset Layout`)

[2019-02-27 09:31] Vane11ope commented on #1220
@a1ext

windows.............................................................................................
I'll try my best and see and do whatever I can do, then I'm gonna have to ask you debugging for Windows later.......

[2019-02-27 09:32] ITAYC0HEN commented on #1220
it's the same on Linux. The first execution of Cutter on all platforms looks like this. Instead of as expected (dashboard on focus, functions widget width 200px, etc)

[2019-02-27 09:34] Vane11ope commented on #1220
nice, i mean not nice at all, but nice, because I will be able to debug it myself after I fix it.

[2019-02-27 09:40] a1ext commented on #1220
haha) ok, to reproduce you have to remove Cutter config file

[2019-02-27 10:02] Vane11ope commented on #1220
weird. reset settings and close then reopen fixed this completely and I can't reproduce the thing anymore. wtf.......

[2019-02-27 10:44] Vane11ope opened #1221 "Couple of issues regarding Graph Overview"
Env: Ubuntu 16.04 LTS

1. Overview does not update its contents when seek changed with Graph closing.
2. Overview will be gone completely after
---
how-to:
1. go to disas
2. seek to somewhere else where no function is detected
3. go to Graph
4. seek to somewhere else where Graph exists

gif would tell you more anyway so let me just attach gifs for them quickly.

![gifrecord_2019-02-27_193421](http

[2019-02-27 11:00] xarkes commented on #1220
I think the best to solve this issue is to also fix this one:https://github.com/radareorg/cutter/issues/694

[2019-02-27 11:09] Vane11ope commented on #1220
@xarkes cool im gonna check it out thanks :)

[2019-02-27 12:03] Vane11ope commented on #1221
3. Also, even though you close Graph Overview with "x" button, it will show up anyway when you manipulate Graph, which isn't expected behavior at all. Once you close Graph Overview, it should keep being closed until you explicitly open it in Menu.

[2019-02-27 12:10] Sinnan-Khowaja opened #1222 "Inaccuracy while using the debugger"
**Environment information**
a fresh VM with:
cutter
x64dbg
and executable i wanna analyze

* Operating System:
Host OS: Ubuntu 18.04
Guest OS: Windows7_x86-64

* Cutter version:
1.7.4

* File format:
PE+

**Describe the bug**
when i emulate my executable to use with the debugger a particular register is calculated incorrectly

**To Reproduce**
Steps to reproduce the behavior:
i don't really know i

[2019-02-27 14:20] thestr4ng3r opened #1224 "First Seek into a function automatically jumps to the beginning of the function"
![peek 2019-02-27 15-18](https://user-images.githubusercontent.com/1460997/53496812-17823400-3aa3-11e9-89dd-1d6d98382bfb.gif)

It's related to graph, the incorrect seek happens through `showBlock()`

[2019-02-27 14:47] moizali2134 opened #1225 "import r2pipe not working in jupyter"
module not found
![capture](https://user-images.githubusercontent.com/48052668/53498593-6d1d0780-3ac8-11e9-87e5-33b5e488a9c0.PNG)
plz help its urgent

[2019-02-27 14:57] Maijin commented on #1225
Use `import cutter`

[2019-02-27 14:57] Maijin commented on #1225
And please respect template for bug report.

[2019-02-27 15:02] moizali2134 commented on #1225
the script i am using is from securitykitten  unstacking string and i also type import cutter still same error

[2019-02-27 15:14] Maijin commented on #1225
You must use the template to report error otherwise we won't be able to help further.

[2019-02-27 16:28] moizali2134 commented on #1225
sorry but plz pass me the for that

[2019-02-27 16:31] #1225 closed

[2019-02-27 16:50] moizali2134 opened #1226 "how to use python script cutter"
i want to run  python script in cutter to unstack strings in dissassembly
plz help real noob here

[2019-02-27 17:02] Maijin commented on #1226
Use template for bug reports as indicated in previous issue I just closed.

[2019-02-27 17:02] #1226 closed

[2019-02-27 19:53] Adikso commented on #1222
Currently there is only emulation in cutter and it is not the same thing as debugger.
It is just interpreting instructions, any complex things/calls to libraries etc don't work.

[2019-02-28 03:06] Maijin commented on #1226
https://github.com/radareorg/cutter/issues/new?template=bug_report.md

[2019-02-28 04:37] Sinnan-Khowaja commented on #1222
i see any plans to maybe add it?

[2019-02-28 06:21] Maijin commented on #1222
Currently, there is no debugging option in Cutter. This is a work-in-progress and we hope to release a beta-feature in the near future 😃 .

You can track and check if you want to contribute the following Project - https://github.com/radareorg/cutter/projects/1

[2019-02-28 06:21] #1222 closed

[2019-02-28 07:05] Sinnan-Khowaja commented on #1222
thanks

[2019-02-28 21:59] xarkes commented on #1216
The fix in #1218 breaks the spacebar shortcut.
So find another way to fix it before release, thanks :-)

[2019-03-01 16:40] moizali2134 opened #1233 "import r2pipe module not found but all ready install"
**Environment information**
* Operating System: linux and windows 10 both
* Cutter version: 1.7.1 and 1.7.4
* File format: elf

**Describe the bug**
i just want to decrypt string in elf but the python script does not run in jupyter like screen screenshot below
plz help
![capture](https://user-images.githubusercontent.com/48052668/53652253-41398780-3c6a-11e9-9e18-38514ff969c1.PNG)

[2019-03-01 18:14] xarkes commented on #1233
We can't guess what your python script is so the error is not really helpful by itself.
Anyway did you install r2pipe?
On linux you have to type `r2pm -i r2pipe-py` to get r2pipe for Python.

[2019-03-01 18:31] lIkesimba9 opened #1234 "ubuntu 18.04 build error"
[code]

[2019-03-02 08:07] #1216 closed

[2019-03-02 14:42] pelijah commented on #1233
1) We distribute stanalone Python bunde with Windows version of Cutter. It loads modules from the subdirectory `python36`.
2) I am not sure that r2-pipe can be used in connection with Cutter.

[2019-03-03 06:06] GravisZro opened #1236 "Rewrite Cutter as a Qt Creator fork."
I suggest that instead of reinventing the wheel to build Cutter into a passable IDE that instead an existing and well developed IDE be used as the basis of Cutter.  Qt Creator is a sophisticated IDE with excellent project management, plugin support and most importantly, extensive debugging (for execution, the editor and plugins).  The smart choice would be to fork Qt Creator, use it's already deve

[2019-03-03 07:22] ITAYC0HEN commented on #1234
CC @thestr4ng3r

[2019-03-03 10:56] moizali2134 commented on #1233
**=bash: r2pm: command not found
**

[2019-03-03 11:48] thestr4ng3r commented on #1234
What build system (qmake, cmake or meson) do you use?
Also did that happen before or after https://github.com/radareorg/cutter/commit/8bfa65390931cd32cbf9b2582b8131848503de8f? Because there have been some fixes.
In any case, by default it should build without the bindings, did you enable them explicitly?

[2019-03-03 11:55] ITAYC0HEN commented on #1176
This is now fixed. Please let me know if the problem still occurs with the latest Cutter and radare2 :)
As usual, thank you so much for reporting

[2019-03-03 11:55] #1176 closed

[2019-03-03 19:03] ITAYC0HEN opened #1237 "Implement Notification System"
The desired feature would implement a Notification system which is more elegant and modern way to notify the user about things, rather than using Message Boxes. This is useful for user experience as well as for plugins

**Describe the solution you'd like**
A clean and modern notification:

- show a message to the user
- have several types (Error, Info, Warning,...)
- will be closed after _n_ secon

[2019-03-04 07:37] ITAYC0HEN commented on #1176
hey @securitykitten :) Can you please reach me out on Telegram\Twitter\Email? I couldn't find anyway to ping you

[2019-03-04 13:40] ITAYC0HEN commented on #1236
Thank you very much :)
We will indeed take a better look at Creator's code and try to find things that can be used for our needs. Reusing an already existing and working code is something we highly believe in so we appreciate it :)

We will also give a better think of making Cutter more modular using the concepts presented in QtCreator.

At this time, we have no intentions of rewriting Cutter abov

[2019-03-04 13:41] #1236 closed

[2019-03-05 07:37] ITAYC0HEN commented on #1221
issue: moving Graph Overview to other place will break sync

[2019-03-06 04:37] Maijin commented on #1234
ping @lIkesimba9

[2019-03-06 05:43] Maijin commented on #1137
I think @thestr4ng3r is better suited since he created `agJ`

[2019-03-06 15:15] XVilka commented on #247
Kind of related (similar feature) https://github.com/radare/radare2/issues/11562

[2019-03-06 15:58] Maijin commented on #247
In radare2 this is implemented already in visual mode it's unrelated to the markdown issue

[2019-03-06 17:34] pelijah opened #1241 "Disasm selection changes on scrolling"
![shit](https://user-images.githubusercontent.com/16493991/53900375-79b3d980-404d-11e9-95e2-fb323912a1ca.gif)

[2019-03-06 17:37] pelijah opened #1242 "DisasmWidget: keep selection on scrolling"
![shit2](https://user-images.githubusercontent.com/16493991/53901220-7de0f680-404f-11e9-9c14-6e4a7f63cd74.gif)

[2019-03-06 17:38] #97 closed

[2019-03-06 17:40] pelijah commented on #97
Moved to #1241 #1242

[2019-03-06 19:25] ITAYC0HEN opened #1243 "Not Graph nor Disassembly widgets are getting focused on seek-changed"
**Environment information**
* Operating System:Arch 64bit
* Cutter version: Master
* File format: Any

**Describe the bug**
Upon focusing on a widget which is not Graph or Disassembly, and changing Seek, for example a  function from the Functions menu or typing an address in the Navigation bar, the seek changed but neither Graph or Disassembly widgets are getting the focus.

**To Reproduce**
Steps

[2019-03-06 20:10] #1137 closed

[2019-03-06 20:12] thestr4ng3r commented on #1137
Fixed in r2, but will probably not be included in the next Cutter release, only after the next r2 release.

[2019-03-06 20:14] radare commented on #1137
Next r2 will happen in aprils fool

[2019-03-07 06:18] ITAYC0HEN opened #1246 "[Graph Overview] Narrow blocks to avoid horizontal scrollbars"
Original issue: #967
When shrinking the sections widget, narrow the colorful blocks as well to fit the screen (until a specific limit of width). This is in order to avoid the horizontal scrollbar

![image](https://user-images.githubusercontent.com/20182642/53936099-68041d80-40b1-11e9-9a95-6947d81cc578.png)

[2019-03-07 06:19] ITAYC0HEN opened #1247 "[Sections Widget] Don't show the raw-virtual maps if the widget height is too small"
Original issue: #967
Don't show the raw-virtual maps if the widget height is too small. The widget takes too much space and in such cases it should be automatically closed and only the "open" toggle button should be on.

This:

![image](https://user-images.githubusercontent.com/20182642/53936196-b9141180-40b1-11e9-9b61-78d6e213a740.png)

Versus this:

![image](https://user-images.githubusercontent

[2019-03-07 06:21] ITAYC0HEN commented on #967
split to individual issues

[2019-03-07 06:21] #967 closed

[2019-03-07 07:55] Maijin opened #1248 "Double click on function prototype to edit function prototype"
**Is your feature request related to a problem? Please describe.**

Ability to change function prototypes within cutter without having to manually use `k` in the command line.

**Describe the solution you'd like**
Double click on function prototype to edit function prototype then using `td` to modify prototype - `td int lol(int haha,double bbb)`

[2019-03-07 12:18] poizan42 opened #1249 "Crash when loading dbgeng.pdb"
**Environment information**
* Operating System: Windows 10.0.18348.1
* Cutter version: 1.7.4
* File format: (pdb?)

**Describe the bug**
Cutter crashes when importing the pdb for dbgeng.dll version 10.0.16299.15 (timestamp 0xBCB20840)

**To Reproduce**
Steps to reproduce the behavior:
1. Download https://msdl.microsoft.com/download/symbols/dbgeng.pdb/BBC025D742C1212027B8441100104CFD1/dbgeng.pdb
2.

[2019-03-07 15:24] Maijin commented on #1249
Hello @poizan42,

I cannot reproduce in current radare2 master, so likely this issue has already been fixed and the next release will be fixing this issue.

[2019-03-08 05:00] XVilka opened #1252 "Clustering functions by size"
It is quite often you need to find the biggest functions in the binary to check them first, especially things like dispatchers or decoders.

So we should think on how to do best representation/clustering the functions based on the:
- [ ] size
- [ ] external calls (to think about also the ability to group the functions that call one particular external library call)
- [ ] xreferences (to filter out

[2019-03-08 05:22] Maijin commented on #1252
Can't you use the sort in the function panel for that?

[2019-03-08 07:25] xarkes commented on #1252
Yeah I think sort does what you want.

[2019-03-08 07:45] XVilka commented on #1252
Does it cover all 4 features?

[2019-03-08 11:24] ITAYC0HEN commented on #1037
feature exists in a tooltip for every function. Closing

[2019-03-08 11:24] #1037 closed

[2019-03-08 17:25] #1224 closed

[2019-03-08 18:57] #1221 closed

[2019-03-09 13:35] Kezii commented on #1211
Also, it should give a warning if the name you typed already exists
And, the popup window should open with the text already selected, so you don't have to delete the old name and then type the new name

[2019-03-09 13:47] Kezii opened #1255 "Register or name in graph view is not always selected when clicking"
**Environment information**
* Operating System: Arch Linux
* Cutter version: 1.7.4.r108.g687ef2d7-1
* File format:

**Describe the bug**
Since the latest update, when clicking a register/word in graph view, the register is not always selected

**To Reproduce**
Open graph view, click random registers a dozen times and notice that sometimes the register is not selected, and you have to click another

[2019-03-09 17:25] Maijin opened #1256 "Cache the disassembly for improve performance"
**Is your feature request related to a problem? Please describe.**

Disassembly and Graph widget can be slow.

**Describe the solution you'd like**

Implement cache usage

[2019-03-09 17:27] Maijin opened #1257 "Better UI for arrows in Disassembly"
**Is your feature request related to a problem? Please describe.**

The arrow in the disassembly are ASCII, they can be improved to be integrated in the UI.

**Describe the solution you'd like**

Switch from arrows from the raw disassembly to Arrows drawed by Cutter

[2019-03-09 17:54] XVilka commented on #1257
Is this a duplicate of https://github.com/radareorg/cutter/issues/933 ?

[2019-03-09 17:56] Maijin commented on #1257
Your issue is going to be splitted

[2019-03-09 17:58] XVilka commented on #1257
Ok, good, just don't forget all items from it, please.

[2019-03-09 18:46] ITAYC0HEN opened #1258 "Graph Overview node's color isn't configurable"
**Environment information**
* Operating System: Arch Linux
* Cutter version: 1.7.4 Master
* File format: Any

**Describe the bug**

Users can't modify the color of Graph Overview's node (`gui.overview.node`) since it is not available in `ColorSchemePrefWidget.cpp`. Users should be able to do this.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to Edit -> Preferences -> Appearance
2. Cop

[2019-03-10 05:03] Maijin opened #1260 "Disable asm.refptr"
**Is your feature request related to a problem? Please describe.**

`[0x1000054d0:4]=80` are considered too verbose in the disassembly

**Describe the solution you'd like**

Set asm.refptr to false by default and add a menu option to enable it back (It is useful for ARM and MIPS) in Assembly/Metadata

[2019-03-10 05:05] Maijin commented on #486
Ok main blocker has been merged, now we can call rabin2 functionnalities directly from r2 without hacks

[2019-03-10 07:53] #1258 closed

[2019-03-10 08:01] ITAYC0HEN commented on #486
can you link\write down an example?

[2019-03-10 09:21] ITAYC0HEN commented on #1255
Reproducer:
![2019-03-10_11-20-23](https://user-images.githubusercontent.com/20182642/54082991-8fafeb80-4326-11e9-986d-df933f335dd6.gif)

whenever my cursor is on a register I click it, which obviously hard to see in gif.

[2019-03-10 09:23] ITAYC0HEN commented on #1243
Can't reproduce anymore. Probably solved in #1250 or #1228

[2019-03-10 09:23] #1243 closed

[2019-03-10 10:27] a1ext commented on #1255
I think the problem is that there is a check of current ea has changed, if so it will redraw and update highlight token

[2019-03-10 13:44] Maijin opened #1263 "Evaluate test frameworks and add automated tests for Qt"
**Is your feature request related to a problem? Please describe.**

Cutter is lacking testing.

**Describe the solution you'd like**

Evaluate test frameworks and add automated tests for Qt

[2019-03-10 13:47] Maijin opened #1264 "Ctrl+Shift+P Command Palette a la sublime text/IDE"
**Is your feature request related to a problem? Please describe.**

Cutter is missing a Command Palette Ctrl+Shift+P a la sublime text and various other IDE

**Describe the solution you'd like**

Implement command Palette and its shortcut  Ctrl+Shift+P

<img width="642" alt="image" src="https://user-images.githubusercontent.com/1408600/54085895-0926f880-437e-11e9-9703-74a3733477c6.png">
<img width

[2019-03-10 13:49] Maijin opened #1265 "Evaluate Windows management library"
**Is your feature request related to a problem? Please describe.**

The Windows management can be enhanced, thus could use an existing management library.

**Describe the solution you'd like**

The needs and libraries like Renderdoc must be evaluate before validating this issue by @thestr4ng3r

[2019-03-10 14:03] Maijin opened #1266 "Define essentials hexdump requirements and create issues"
**Is your feature request related to a problem? Please describe.**

The hexdump must be refactored.

**Describe the solution you'd like**

Essentials features as well as requirements must be defined and tasks created accordingly. The project must be completed with those and the tasks ordered accordingly

[2019-03-10 14:10] Maijin commented on #1252
@XVilka try please and let us know which one is not covered. We are using info from afij so if this is not there you'll have to open an issue or add that information on radare2 side.

[2019-03-10 14:17] Maijin commented on #486
Will still have to wait this is refactored on radare2 side

[2019-03-10 14:26] thestr4ng3r commented on #1265
https://github.com/riateche/toolwindowmanager

[2019-03-10 19:27] ITAYC0HEN opened #1268 "Pressing <space> in Disassembly view should open Graph if closed (and vice versa)"
**Is your feature request related to a problem? Please describe.**
When the user presses the <kbd>space</kbd> key in the Disassembly widget and the Graph widget is closed, nothing happens. Same for when clicking <kbd>space</kbd> in Graph when Disassembly widget is closed.

**Describe the solution you'd like**
If <kbd>space</kbd> was clicked in either disassembly or graph widgets, the other widget

[2019-03-10 21:56] radare opened #1269 "Cutter defaults"
[code]

[2019-03-10 21:58] radare opened #1270 "Add support for function and basic block folding in disasm and graph"
See the afF command in r2, and the 'z' key in visual mode (or in graph)

problems observed rirght now in cutter:
* scrolling in disasm doesnt skip function if its folded
* have to use the console to type the command
* a menu option will be needed

<img width="554" alt="Screenshot 2019-03-10 at 22 57 57" src="https://user-images.githubusercontent.com/917142/54092063-f44f6280-4387-11e9-9d3c-624c7a0d

[2019-03-10 21:59] radare opened #1271 "RFE: Add the ability to move all the tabs in a frame to a different position"
Right now we can only move one tab at the time

[2019-03-10 22:02] radare opened #1272 "Add an option to toggle asm.trace"
For tracing (works in esil and debugger) cutter needs:

* dt is the command that handles all the traces (add a widget to inspect the linear disasm (dtd)
* delete all the traces dt-*
* traces can be recorded in different tags, see dtt command
* create graph with dtg
* enable/disable tracing is done via the dbg.trace variable
* the graph.trace variable should be honored in the graph to get folded th

[2019-03-10 22:12] radare commented on #1269
before:

![IMAGE 2019-03-10 23:12:47](https://user-images.githubusercontent.com/917142/54092232-05996e80-438a-11e9-8695-24e868f36bc0.jpg)

after:

![IMAGE 2019-03-10 23:12:53](https://user-images.githubusercontent.com/917142/54092233-092cf580-438a-11e9-8525-5217d5f9f510.jpg)

[2019-03-11 06:47] ITAYC0HEN opened #1275 "Add `emu.str` configuration option to preferences window"
**Describe the solution you'd like**

Add `emu.str` configuration option to preferences window. This should be DISABLED by default since `emu.str` is too verbose.

[2019-03-11 06:48] Maijin opened #1276 "Add emu.str in the Preferences->Metadata"
**Is your feature request related to a problem? Please describe.**

Missing emu.str option in Preferences->Metadata, should be false by default because it's too verbose.

**Describe the solution you'd like**

Add emu.str in the Preferences->Metadata

[2019-03-11 06:50] Maijin commented on #1275
Duplicate of #1276

[2019-03-11 06:50] #1275 closed

[2019-03-11 07:45] xarkes commented on #413
I think we just need to stop relying on r2 output when it comes to our interface.
All we need from 2 is the disassembly, we should draw our own arrows.
I am renaming this issue.

[2019-03-11 07:48] xarkes commented on #1263
See this branch: https://github.com/radareorg/cutter/tree/test

[2019-03-11 08:09] Maijin commented on #1021
Duplicate of https://github.com/radareorg/cutter/issues/1021

[2019-03-11 08:09] #1021 closed

[2019-03-11 08:20] XVilka commented on #413
Exactly, it will help to solve also 1) selection problem (don't select opcode bytes and reflines) 2) folding 3) highlighting and colors.

[2019-03-11 08:31] radare commented on #1275
Maybe too verbose for x86. For arm is mandatory. And without that var u dont resolve the fcn call args

[2019-03-11 08:36] Maijin commented on #1276
From @radare - "Maybe too verbose for x86. For arm is mandatory. And without that var u dont resolve the fcn call args"

[2019-03-11 14:28] radare opened #1279 "Add File -> import C header"
because there's no way to load C types

[2019-03-11 14:28] radare opened #1280 "I would also add File-> Import script"
Or Run script or Launch script

[2019-03-11 14:40] ITAYC0HEN opened #1281 "Cutter Icon resolution is bad"
**Environment information**
* Operating System: Any
* Cutter version: Master
* File format: Any

**Describe the bug**

As can be seen in the following screenshots, the Icon of Cutter doesn't look good. It is pixelated (first screenshot) and quite small in compared to others (second screenshot)

![image](https://user-images.githubusercontent.com/20182642/54132018-27dbcc80-441c-11e9-9ac5-60f32f75dd9

[2019-03-11 14:42] thestr4ng3r commented on #1281
ICON!!1!

[2019-03-11 14:47] ITAYC0HEN commented on #1280
Like we have now?
![image](https://user-images.githubusercontent.com/20182642/54132672-51e1be80-441d-11e9-80a2-e6fe2de01864.png)

[2019-03-11 14:49] radare commented on #1280
define now, because i download a dmg that was in theory suposed to be built
at 3am or so, and i cant see this, but lgtm i guess ill wait until release
to test, but as long as i get a pre-release build i wanted to share some
feedback before its too late

On Mon, 11 Mar 2019 at 15:47, Itay Cohen <notifications@github.com> wrote:

--
--pancake

[2019-03-11 14:49] thestr4ng3r commented on #1281
size is fine for a round logo on macOS, it's just ghidra trying to show off ;-) but it's pixelated indeed.
![Bildschirmfoto vom 2019-03-11 15-48-32](https://user-images.githubusercontent.com/1460997/54132816-2ce94d80-4415-11e9-9a24-51b7d08e9a4a.png)

[2019-03-11 14:50] ITAYC0HEN commented on #1279
Windows -> Types -> Right Click -> Load New Types

![image](https://user-images.githubusercontent.com/20182642/54132857-a2f1b280-441d-11e9-837a-a8952ec86550.png)

[2019-03-11 14:51] radare commented on #1279
ill wait for the release because i dont see anything of this in the build i
got from tonight

On Mon, 11 Mar 2019 at 15:50, Itay Cohen <notifications@github.com> wrote:

--
--pancake

[2019-03-11 15:00] XVilka commented on #1280
Just use Cutter from git.

On Mon, Mar 11, 2019, 10:49 PM radare <notifications@github.com> wrote:

[2019-03-11 15:00] ITAYC0HEN commented on #1280
feedback before its too late

Appreciated a lot!

I think this one is more than one-year-old

[2019-03-11 15:00] #1280 closed

[2019-03-11 15:09] ITAYC0HEN commented on #1279
That's weird.
Will try to supply a new version and send you via someone with MAC

[2019-03-11 15:09] #1279 closed

[2019-03-11 15:10] radare commented on #1280
Wtf i have minigraph. That cant be that old

[2019-03-11 15:25] a1ext commented on #1280
hi @radare , seems like the link I've sent you yesterday [https://github.com/radareorg/cutter/releases/tag/deploy-test](https://github.com/radareorg/cutter/releases/tag/deploy-test) is not pointing to the latest commit,  but 6days old commit... sorry for the inconvenience
![image](https://user-images.githubusercontent.com/14978853/54135551-12ba6a00-442b-11e9-878a-3822062efdd8.png)

[2019-03-11 18:43] xarkes opened #1282 "asm.stackptr breaks if you scroll too much in the disassembly widget"
**Environment information**
* Operating System:
* Cutter version:
* File format:

**Describe the bug**

`asm.stackptr` value becomes to 0 if you scroll too much in the disassembly widget.

**To Reproduce**

Steps to reproduce the behavior:
1. Enable `asm.stackptr` in the disas options
2. Go to the disassembly widget
3. Scroll a bit
4. If the original value that should be propagated through the fun

[2019-03-11 18:49] ITAYC0HEN commented on #1282
Does it happen in r2 as well?

[2019-03-11 20:48] radare commented on #1282
thats because you need to disassemble from the begining of the function to get the right output, that wont happen if cutter caches the data and handles it by itself instead of disassembling every offset randomly, same happens with asm.emu, and thats even worst because without recursive emulation you cant get the right pointers and nothing makes sense. that why graph view is so important because it

[2019-03-11 21:03] radare commented on #1282
i would probably prefer to move the issue to r2

[2019-03-11 21:08] a1ext commented on #1282
good catch

[2019-03-11 21:10] radare commented on #1282
well, its known issue :) we may probably abuse anal hints to save this data, or maybe inside each basic block cache the value of the stackptr, in case it can be reached only from 1 path

[2019-03-11 21:25] a1ext commented on #1282
this means it will take extra more memory...

[2019-03-12 03:54] XVilka commented on #1252
I tried, seems everything covered. Should be enough for now, if I will get the idea on how to improve the sort, I will create a new bug. What bothers me is only the size of the widget - it is too long, too much information, maybe hiding some of the columns should be possible.

[2019-03-12 03:54] #1252 closed

[2019-03-12 10:10] radare opened #1283 "Create a comparison table of features between r2 vs cutter"

[2019-03-12 11:49] ITAYC0HEN commented on #1283
Why is this important? We have an organized roadmap for months, and ideas for years ahead. And we implement things and invest our time by walking this roadmap.

We are structuring the future capabilities of Cutter by our users' requests and by our vision of how Cutter should look like.

radare2 is super powerful, it has tons of features which some are must have in Cutter and some absolutely not. W

[2019-03-12 13:44] xarkes commented on #1283
Agreed, I think this can be closed for now :)

[2019-03-12 13:44] #1283 closed

[2019-03-12 20:48] ITAYC0HEN commented on #532
This is partially completed by @m0nk3ydluffy but still not fully. For example, Cutter should offer to parse the binary details (PE, Mach-O, ELF) by default.

@Maijin what do you think?

[2019-03-12 20:49] ITAYC0HEN commented on #515
@xarkes so what do you think should be done with this issue?

[2019-03-12 20:50] ITAYC0HEN commented on #507
@xarkes please see this. For the future refactoring of Disassembly widget

[2019-03-12 20:52] ITAYC0HEN commented on #507
@xarkes please see this. For the future refactoring of Disassembly widget

[2019-03-12 20:54] ITAYC0HEN commented on #494
please split the left tasks to single issues on your free time :)

[2019-03-12 20:57] ITAYC0HEN commented on #420
do we have a proper solution planned? any status?

[2019-03-12 21:01] ITAYC0HEN commented on #297
also tracked here: #933
CC @Maijin

[2019-03-12 21:05] ITAYC0HEN commented on #833
I think this is done @xarkes , right?
If so, please close this issue :)

[2019-03-12 21:08] ITAYC0HEN commented on #815
does this issue originated in @radare? if so, need to track it there and close here.

[2019-03-12 21:11] ITAYC0HEN commented on #784
I can't reproduce the tooltips in GRaph mode at all

[2019-03-12 21:13] ITAYC0HEN commented on #729
since I am a loner here, I will close this issue

[2019-03-12 21:13] #729 closed

[2019-03-12 21:14] ITAYC0HEN commented on #698
what's that? a detailed example with r2 would help a lot

[2019-03-12 21:17] ITAYC0HEN commented on #682
@radare @Maijin what would be the best option to create this in r2?

[2019-03-12 21:18] ITAYC0HEN commented on #680
This is done afaik, right @xarkes ?
Do you have anything left to do here? if so, re-open

[2019-03-12 21:18] #680 closed

[2019-03-12 21:19] ITAYC0HEN commented on #666
How should we progress here?

[2019-03-12 21:22] a1ext commented on #666
Thank you for the issue

[2019-03-13 01:55] XVilka commented on #532
It is a problem in r2 - you need to use -nn mode for accessing headers. But
I agree it is an important feature. Probably will need to be fixed in r2
first.

On Wed, Mar 13, 2019, 4:48 AM Itay Cohen <notifications@github.com> wrote:

[2019-03-13 08:47] xarkes commented on #515
Someone must implement something proper and efficient.
I think what you described above with IDA behaviour is good.

[2019-03-13 08:51] xarkes commented on #833
Indeed :)

[2019-03-13 08:51] #833 closed

[2019-03-13 08:52] xarkes commented on #919
Can be closed too.

[2019-03-13 08:52] #919 closed

[2019-03-13 08:53] xarkes commented on #815
I'm not sure, maybe we force `asm.tabs.off` somewhere in Cutter.

[2019-03-13 08:55] xarkes opened #1284 "Emulation button is selected by default"
**Describe the bug**

Emulation button is selected by default so when I open Cutter and want to switch to graph view by pressing <kbd>space</kbd> it actually starts the Emulation.

**To Reproduce**

1. Start Cutter
2. Press space

**Expected behavior**

Switch to graph mode.

[2019-03-13 08:59] xarkes commented on #784
I can't reproduce. Closing.

[2019-03-13 08:59] #784 closed

[2019-03-13 09:03] xarkes commented on #682
I wonder if this is even useful at all.

[2019-03-13 09:03] xarkes commented on #682
I wonder if we should not remove this feature for now.

[2019-03-13 09:04] xarkes commented on #680
Yes this is partially done. Maybe it can be improved, but anyway everything has been moved to `core/` folde.r

[2019-03-13 09:10] xarkes commented on #1257
So I am marking this as a duplicate of #413.

[2019-03-13 09:10] #1257 closed

[2019-03-13 09:15] #1131 closed

[2019-03-13 09:28] a1ext commented on #1220
try to pen extra disasm and graph windows

[2019-03-13 09:57] Maijin commented on #666
@ITAYC0HEN r2 should be signed first

[2019-03-13 15:06] xarkes commented on #1282
Example with Graph:
![image](https://user-images.githubusercontent.com/10772605/54289731-f7299d80-45a9-11e9-8c11-480e45c13cb8.png)

[2019-03-13 15:06] xarkes commented on #1282
Should we remove the option for now since it's broken?

[2019-03-13 15:08] radare commented on #1282
I didnt said stackptr is recursive in the graph. Only asm.emu is

[2019-03-13 19:47] ITAYC0HEN commented on #815
only set it to default

[2019-03-13 19:53] ITAYC0HEN commented on #682
what are your arguments?

[2019-03-13 19:56] ITAYC0HEN commented on #666
is this really needed? is the benefit is meaningful? because as you explain, it's not gonna happen.
If no, please close this issue

[2019-03-13 20:16] Maijin commented on #682
@ITAYC0HEN there is a database for this on r2 side see @radare messages previously. But this  needs to be merge with the function prototype database with something like "XXX.unsafe=1".

[2019-03-13 20:19] Maijin commented on #666
It's not going to happen anytime soon and this should be tracked first in other project before Cutter. I think we can close it for now.

[2019-03-13 20:19] #666 closed

[2019-03-13 20:24] xarkes commented on #682
I think the list we have is non exhaustive, linux only (afair), and so not very useful.
Either do it **correctly** which is having a complete list of "dangerous" functions, otherwise it might not be that interesting, or remove it.
As said I prefer to have stable things than "work in progress" or "proof of concept" things inside Cutter.

[2019-03-13 20:28] xarkes commented on #815
Yep but maybe that is not done correctly and happens even after a project is loaded? I don't know, I need to check the code.

[2019-03-14 10:03] #1282 closed

[2019-03-14 20:21] Maijin opened #1290 "Theme editor - Instant preview"
**Is your feature request related to a problem? Please describe.**

Right now it is hard to determine the changes when modifying a theme.

**Describe the solution you'd like**

Add the ability to preview the changes from the theme directly to the graph and disassembly when modifying the theme.

**Describe alternatives you've considered**

**Additional context**

[2019-03-14 20:22] Maijin opened #1291 "Theme Editor - Export/Import theme"
**Is your feature request related to a problem? Please describe.**

Right now it is not possible to save and import theme.

**Describe the solution you'd like**

Add a button to export and a button to import a theme in the Theme editor preference.

**Describe alternatives you've considered**

**Additional context**

[2019-03-14 20:23] Maijin commented on #494
Splitted.

[2019-03-14 20:23] #494 closed

[2019-03-14 20:23] Maijin commented on #494
@optizone just a button that save as the theme and a button that import the theme in cutter so it can be used by the user.

[2019-03-16 07:00] clouds56 opened #1294 "Search register / expression in graph view"
I'd like to track a register to know where it write before and where it used after.

I think we could have a search feature that implements:
1. search register (and could select write only or all)
2. search expression like [ecx+0x8] to track specific field in struct.

[2019-03-16 09:27] xarkes commented on #1053
Related issue in radare2: https://github.com/radare/radare2/issues/13390

[2019-03-16 09:28] xarkes commented on #1052
Issue in radare2: https://github.com/radare/radare2/issues/13391

[2019-03-16 09:45] Maijin opened #1295 "Disassembly/Graph widget - Different font for function names"
**Is your feature request related to a problem? Please describe.**

Function names have the same font as the rest of the disassembly.

**Describe the solution you'd like**

Ability to use a different and configurable font for function names.

[2019-03-16 09:47] Maijin opened #1296 "Disassembly/Graph widget - Different color for strings in comments"
**Is your feature request related to a problem? Please describe.**

String in comments are difficult to perceive when doing analysis.

**Describe the solution you'd like**

Ability to use a different and configurable color for strings in comments

[2019-03-16 09:49] Maijin opened #1297 "Ability to text-select disassembly without selecting reflines and addresses"
**Is your feature request related to a problem? Please describe.**

Currently, all disassembly output is a text - disasm itself, offsets, and reflines.
So when you want to select multiline text, you select also offsets and reflines characters along with the disasm text.

**Describe the solution you'd like**

Both reflines and offsets (and bytes if shown) should reside in "separate" parts of the wi

[2019-03-16 09:51] Maijin opened #1298 "Add a shortcut for text search dialog"
**Is your feature request related to a problem? Please describe.**

A shortcut is missing for launching text search dialog

**Describe the solution you'd like**

Quick text search by doing Ctrl-F

[2019-03-16 09:51] Maijin opened #1299 "Add Hotkeys for "Undo Seek" and "Redo Seek" menu options"
**Is your feature request related to a problem? Please describe.**

Shortcut for undo and redo seek are missing

**Describe the solution you'd like**

Add Hotkeys for "Undo Seek" and "Redo Seek" menu options

[2019-03-16 09:53] Maijin commented on #933
Individual issues created. Closing here - Please provide additional information for the following task  https://github.com/radareorg/cutter/issues/1297

[2019-03-16 09:53] #933 closed

[2019-03-16 11:07] radare commented on #1053
we can merge the pr gthat rebases the breakpoints on the current program and this will work. but the idea was to design a proper solutioni that doesnt depends on just the main executable.

if thats blocking for u i would suggest you applying custom patches in cutter until the proper fix is available in r2land

[2019-03-16 11:15] clouds56 opened #1300 "mulss show incorrectly when ams.pseudo enable"
Environment information

Operating System: Windows 10 x64
Cutter version: Version 1.7.4 Using r2-3.2.1-123-gbbe5c2a31
File format: pe64
Describe the bug

Open Edit->Preferences, in the tab Assembly->Style:
1. check asm.pseudo (uncheck asm.esil)
2. choose intel as asm.syntax

asm.pesudo enabled, it rendered wrong expression
![asm.pseudo enabled](https://user-images.githubusercontent.com/730813/5447

[2019-03-16 11:28] Maijin commented on #1300
Greetings @clouds56,

Thanks for your bug report, we noticed that you didn't follow the bug report template. By doing so, the information you have provided aren't complete (missing version information etc.). Could you please edit your message and use the template that can be found here https://github.com/radareorg/cutter/blob/master/.github/ISSUE_TEMPLATE/bug_report.md.

Could you also add the byt

[2019-03-16 11:52] xarkes commented on #1053
I don't think it's worth spending time doing custom patches.
I agree with designing a proper solution, is there a pad opened (or something) so that we can discuss it?

[2019-03-16 14:28] Maijin opened #1301 "Improve Function widget performance"
**Environment information**
* Operating System: OSX
* Cutter version: 1.7.4
* File format: Any

**Describe the bug**

Function widget is slow, open a binary with large amount functions and scroll down/up

**Expected behavior**

Function widget is fast

**Additional context**

Various mechanism can be improved such as killing afij for every functions, event handling etc.

[2019-03-16 14:31] Maijin opened #1302 "Pelijah to send branch of hexdump changes"
@pelijah provided a screenshot in Cutter dev about a major change he made for Hexdump.

This change has to be branched in the repository. @pelijah can you do that?

[2019-03-16 14:34] ITAYC0HEN commented on #1302
As far as I understand, this is a poc for the Hexdump. Not sure it has the features we currently have in the Hexdump widget -- so probably this should be pushed to a branch

[2019-03-16 14:35] Maijin commented on #1302
ok changed

[2019-03-16 14:38] Maijin opened #1303 "Pull-Request LightHouse plugin on LightHouse repository"
**Is your feature request related to a problem? Please describe.**

Lighthouse plugin is being implemented by @xarkes.

**Describe the solution you'd like**

Once implemented It should be pushed into the repository - https://github.com/gaasedelen/lighthouse

[2019-03-16 15:17] a1ext opened #1305 "Make build Cutter on Windows easier"
**Describe the solution you'd like**

I'd like to build Cutter with python plugins support by issuing one-two commands in console like `prepare_r2.bat && build.bat`

**Describe alternatives you've considered**

Currently I have to prepare full line of a command like this, not convenient:

![image](https://user-images.githubusercontent.com/14978853/54477283-8e475d00-4817-11e9-9e70-a711d5d05d94.png)

[2019-03-16 15:20] pelijah opened #1306 "SectionWidget tooltip bug"
![test](https://user-images.githubusercontent.com/16493991/54477223-eaf64800-4816-11e9-8a51-a48779e4a44f.gif)

[2019-03-16 16:13] dmknght commented on #815
Hey guys I've checked this issue following steps above. Everything seems okay now.

[2019-03-16 16:13] #815 closed

[2019-03-16 17:04] optizone opened #1309 "Windows UI freeze on start"
**Environment information**
* Operating System: Windows
* Cutter version: 1.7.4
* File format: N/A

**Describe the bug**

When starting to analyze on Windows UI freeze appears.
![apky](https://user-images.githubusercontent.com/42874998/54478608-0bc59a00-4825-11e9-907e-655cd5988ffa.gif)

This also happens if you choose "Do not open any file":
![apky (1)](https://user-images.githubusercontent.com/42

[2019-03-16 17:18] pelijah commented on #1309
OpenSSL DLL is loaded by Qt via LoadLibrary.

[2019-03-16 19:30] optizone commented on #1309
Maybe. But there are more than just OpenSSL, so there is a [hack](https://github.com/radareorg/cutter/blob/master/src/CutterApplication.cpp#L39) in `CutterApplication` constructor that triggers OS to load **all** libs needed. And that happens without freeze when if there is no such a hack first network request takes 1 second +- 60ms and freezes UI.

I can not explain why this hack does not give sa

[2019-03-16 20:21] pelijah commented on #1309
The problem is not in a lazy DLL loading. Cutter freezes due to Jupyter module. You can delete `python36\site-packages` dir to confirm this.

[2019-03-16 20:23] optizone commented on #1309
Is there any way to load it before UI launches?

[2019-03-16 20:35] pelijah commented on #1309
I think it would be better to delay this: https://github.com/radareorg/cutter/blob/master/src/widgets/JupyterWidget.cpp#L42

[2019-03-17 08:25] pelijah commented on #1305
I see that some options are presented twice.

[2019-03-17 11:51] thestr4ng3r opened #1317 "Documentation CSS refinements"
- [ ] Certain keywords have some padding on the right, which looks weird:
![Bildschirmfoto vom 2019-03-17 12-47-38](https://user-images.githubusercontent.com/1460997/54490046-e4b5a980-48b2-11e9-92b5-5bde277c731a.png)

- [ ] Template parameters look a bit deplaced when being split from the function declaration across multiple lines, maybe always split them and remove the space?
![Bildschirmfoto vom

[2019-03-17 13:38] thestr4ng3r opened #1319 "Changing the highlighted word on the current line is broken in Graph"
Expected (works in Disassembly):
![notbroken](https://user-images.githubusercontent.com/1460997/54491858-023e3f80-48c2-11e9-8e99-3b10a5d07180.gif)

Actual (Graph):
![broken](https://user-images.githubusercontent.com/1460997/54491870-12561f00-48c2-11e9-86d0-b29f4d0753a5.gif)

[2019-03-17 16:10] a1ext commented on #1264
One more example https://github.com/Jinmo/ifred
---

![image](https://user-images.githubusercontent.com/14978853/54494132-42b0b400-48e8-11e9-9a21-e58980d0b026.png)

[2019-03-17 16:49] thestr4ng3r opened #1320 "Graph is slow after entering a function with Graph Overview in the background"
![graph](https://user-images.githubusercontent.com/1460997/54494651-ed22da00-48dc-11e9-96dc-cc76d12e667a.gif)

[2019-03-17 20:11] #1302 closed

[2019-03-17 20:24] pelijah commented on #1302
https://github.com/radareorg/cutter/tree/hexedit

[2019-03-17 20:52] kevinyuan opened #1323 "Cannot mix incompatible Qt library (version 0x50906) with this library (version 0x50902) Abort (core dumped)"
**Environment information**
* Operating System: CentOS Linux release 7.6.1810 (Core)   3.10.0-957.1.3.el7.x86_64
* Cutter version: Cutter-v1.7.4-x64.Linux.AppImage

**Describe the bug**

When I run the tool, it reports:

Cannot mix incompatible Qt library (version 0x50906) with this library (version 0x50902) Abort (core dumped)

[2019-03-17 22:09] xarkes commented on #1323
Do you have any special environment variable set?
Something like `LD_LIBRARY_PATH`?

[2019-03-18 06:45] ITAYC0HEN commented on #1220
fixed in #1308

[2019-03-18 06:45] #1220 closed

[2019-03-18 07:30] xarkes opened #1325 "Improve basic blocks organization"
**Current graph layout**
![image](https://user-images.githubusercontent.com/10772605/54513487-e08f9780-4957-11e9-9f09-2e59d877b34b.png)

**IDA graph layout**
![image](https://user-images.githubusercontent.com/10772605/54513492-e2f1f180-4957-11e9-9858-691e31c92e01.png)

As you can see IDA has no margin in the boxes, the arrows are aligned on the same line (true false jump lines) and the space betwe

[2019-03-18 08:38] Maijin opened #1326 "Ability to move nodes in the Graph view"
**Is your feature request related to a problem? Please describe.**

Right now graph nodes can't be moved in the graph

**Describe the solution you'd like**

Add the ability to move the graphs in the Graph view

[2019-03-18 22:08] thestr4ng3r opened #1331 "Move Jupyter to a plugin"
Now that we support Python Plugins, Jupyter should be re-implemented as a plugin.

[2019-03-19 14:46] Vane11ope commented on #1320
this should have not been fixed that way. Im reverting this and fix the issue in next release

[2019-03-20 14:32] a1ext opened #1337 "Xrefs dialog opens in a screen corner, instead of center of parent widget"
**Environment information**
* Operating System: Windows 7
* Cutter version: Version 1.8.0 Using r2-3.3.0
* File format: PE

**Describe the bug**

X-refs dialog appears in my screen's corner. Is far as I know, there are few other dialogs behave the same (need to check)

**To Reproduce**

Steps to reproduce the behavior:

1. open any binary
2. find any symbol which 100% has references and select it

[2019-03-20 15:01] a1ext opened #1338 "Xrefs widget references displaying improvements"
X-refs dialog is less useful than IDA has.

I noticed that we could improve the following things:

* ##  refs list doesn't display comments, so you have to click on every reference to find what you want:
![image](https://user-images.githubusercontent.com/14978853/54693879-65d1a280-4b38-11e9-955b-595e1baf92f6.png)

in comparison with IDA XRefs (shows decrypted malware string comments):
![image](htt

[2019-03-20 15:07] a1ext opened #1339 "XRefs dialog has broken arrows in the middle"
**Environment information**
* Operating System: Windows 7
* Cutter version: Version 1.8.0 Using r2-3.3.0
* File format: PE

**Describe the bug**

Xrefs dialog shows broken arrows, probably bug in `pd--` command:

![image](https://user-images.githubusercontent.com/14978853/54695194-8f8bc900-4b3a-11e9-9677-e2571d2f2f84.png)

Probably we have to force `e asm.lines=false` while getting disasm preview

[2019-03-20 15:48] ITAYC0HEN commented on #1339
I vote yes for disabling "e asm.lines=false". This will also remove the whole empty spaces from the left.
I would also suggest disabling `asm.bytes` for the preview.

These two together will allow us to narrow the Preview pane and expand the left pane (so users can see the full instruction)

[2019-03-20 15:57] ITAYC0HEN opened #1340 "X-Refs dialog should honor the selected flag under the cursor"
**Is your feature request related to a problem? Please describe.**

When using the shortcut <kbd>X</kbd> to trigger the X-Refs dialog, I expect the X-Refs to be shown for the selected flag under the cursor. For example, if I click the `MessageBoxA` in the following instruction, and then press <kbd>X</kbd> or `Right Click -> Show X-Refs`, I expect Cutter to show me the X-Refs dialog for  `MessageBo

[2019-03-20 16:35] radare opened #1341 "RFE: Include r2dec binary build in Cutter"
Imho r2dec works pretty reliably to be included by default in Cutter, works better than pdc in a variety of situations, and i know there are plans to support binary packages in r2pm and such, but i think it hurts no one to include some default plugins taken from radare2-release output.

* [x] r2dec
* [ ] r2frida

... anything else?

[2019-03-20 16:45] radare opened #1342 "RFE: Improvements in Graph"
* [ ] Support pds instead of pd in the nodes
* [ ] Honor tracing information (see dt) to highlight the executed nodes, .. dup of 1272
* [ ] Support folding nodes
* [ ] Support 1 level refs/xrefs graphs
* [ ] List of basic blocks in columns (offset, name, calls, output nodes, ...) on click seek to them (inspired by https://github.com/radare/radare2/issues/13403)
* [ ] pinch to zoom (or shift+wheel)

[2019-03-20 16:51] radare opened #1343 "RFE Better keybindings"
Take ideas from r2's visual mode:

* [ ] nN to select next/previous function
* [ ] use `^$` to go begining/end of the function/program/file
* [ ] X - show refs of the function, not the offset
* [ ] r - refresh all widgets
* [ ] cmd+[+/-] to change the font size in the disasm widget
...

[2019-03-20 16:52] radare opened #1344 "RFE: support multiple grepping words in the "address bar""
like r2 does with the hud (v_)

[2019-03-20 16:55] radare commented on #1344
![IMAGE 2019-03-20 17:55:01](https://user-images.githubusercontent.com/917142/54703548-49823580-4b39-11e9-8f38-1925f3fdfd9b.jpg)

[2019-03-20 16:59] radare commented on #1344
![visual-hud](https://user-images.githubusercontent.com/917142/54703880-f2309500-4b39-11e9-878b-5289a58cbe15.gif)

[2019-03-20 17:06] Maijin commented on #1341
r2dec is already shipped with Cutter

[2019-03-21 00:36] ElementW opened #1347 "Project loading doesn't honor bin.laddr"
**Environment information**
* Operating System: Arch Linux x86_64
* Cutter version: `Cutter-v1.8.0-x64.Linux.AppImage`
* File format: raw ARM11 MPCore/ARMv6 code, extracted off the Nintendo 3DS `ns` sysmodule title

**Describe the bug**

Loading a raw binary for the first time in Cutter specifying a load address works, but not when loading from the project save of that same binary.
Loading from th

[2019-03-21 14:31] dukebarman opened #1348 "The graph overview opens in wrong place (OSX)"
**Environment information**
* Operating System: OSX 10.14
* Cutter version: 1.8
* File format: macho

**Describe the bug**
The graph overview window opens in wrong place and with wrong size.

**To Reproduce**

Steps to reproduce the behavior:
1. Go to 'Graph' panel

**Expected behavior**

It should be in this place as like in Linux

![image](https://user-images.githubusercontent.com/1186777/547592

[2019-03-21 15:00] Vane11ope commented on #1348
does it always happen? could you "Reset Settings" and try again just in case if it'd not be too trouble? thanks you :)

[2019-03-21 15:07] dukebarman commented on #1348
After "Reset Settings" Cutter was crashed :) And yes, it always happen

[2019-03-21 16:55] a1ext opened #1350 "Function signature is incorrect"
**Environment information**
* Operating System: windows 7sp1
* Cutter version: 1.8.0
* File format: pe
 * Arch: x86
 * Type: DLL (Dynamic Link Library)

**Describe the bug**
Cutter shows me incorrect signature of `lstrlenW` API (defined in `types-windows.sdb`):

![image](https://user-images.githubusercontent.com/14978853/54769371-19f32c00-4c12-11e9-8632-08589d989a3a.png)

Manual function signature

[2019-03-21 17:10] a1ext commented on #1350
ok, closing the issue, because I compared with fresh r2 so next release we will have new sdbs with updated types.

[2019-03-21 17:10] #1350 closed

[2019-03-21 18:10] Maijin commented on #1249
This should be fixed now, please download Cutter 1.8.0 and confirm. Reopen if necessary.

[2019-03-21 18:10] #1249 closed

[2019-03-21 21:32] daddesio opened #1351 "Hexdump overflows to next line (Kubuntu)"
OS: Kubuntu 16.04 and 18.04
Cutter version: v1.8.0

**Steps to reproduce:**
1. Go to hexdump panel
2. Right-click -> Columns -> change from 16 to a different value such as 8 or 32

Setting Columns back to 16 doesn't reset it, either. The problem only resolves if you resize the window or go to a different address (via the 'g' key).

**Screenshots**
![hexdump_issue](https://user-images.githubusercon

[2019-03-21 22:49] a1ext commented on #1179
Waiting for the next r2 release to update submodule and fix this issue

[2019-03-21 23:29] LogoiLab opened #1352 "Export Current Graph View as Image"
**Is your feature request related to a problem? Please describe.**

No just a feature request

**Describe the solution you'd like**

I would like a function to export the current view shown in Graph View as an image. This would allow sharing of flow diagrams without having to share the entire project.

**Describe alternatives you've considered**

Currently taking a screenshot of the actual program

[2019-03-22 05:36] XVilka opened #1353 "Relative addresses in disassembly widgets"
**Is your feature request related to a problem? Please describe.**

For now both radare2 and cutter show every line with an "absolute" address. Sometimes it is unnecessary, but at the same time it would be nice to see the address of the function.

**Describe the solution you'd like**
I am often using Vim/NeoVim with a switch between absolute line numbering and relative one.
And recently saw simila

[2019-03-22 11:48] RomeuG commented on #1352
Current view or entire graph?

[2019-03-22 12:26] ITAYC0HEN commented on #1352
Or both?

On Fri, Mar 22, 2019, 13:48 Romeu Gomes <notifications@github.com> wrote:

[2019-03-22 18:12] LogoiLab commented on #1352
Honestly it could be both current view or entire graph depending on what the user selects. I know with some command line magic I can export r2 graphs as images. I haven't looked into cutter enough to see how you interface with the radare api but I'm assuming this is possible via either the api or the windowing system you're using.

[2019-03-22 19:54] oddcoder opened #1356 "Have QUiLoader Bundled with the official release"
While writing a Py2Side Plugin I faced this error message from inside cutter official release

[code]

It will be cool to have the QtUiTools Bundled with Cutter

[2019-03-22 20:27] RomeuG commented on #1352
What command line magic, if I may ask? :-)

On Fri, Mar 22, 2019, 18:13 Chad Baxter <notifications@github.com> wrote:

[2019-03-22 21:36] Maijin commented on #1352
Is that different request than right click export graph which is already implemented?

<img width="272" alt="image" src="https://user-images.githubusercontent.com/1408600/54854335-e3411280-4cf2-11e9-8169-1677eaf14409.png">

<img width="842" alt="image" src="https://user-images.githubusercontent.com/1408600/54854326-d7ede700-4cf2-11e9-9db1-06d3d7ec9d1b.png">

[2019-03-22 21:38] Maijin commented on #1347
Yep that's a duplicate of https://github.com/radareorg/cutter/issues/1113 but with -m

[2019-03-22 21:40] Maijin commented on #981
Can any of you @moreaki  @roy4801 @pelano  recheck this using the latest available release?

[2019-03-22 21:55] RomeuG opened #1359 "Compilation error with radare2 master repo"
**Environment information**
* Operating System: GNU/Linux
* Cutter version: 1.8.0
* File format: ???

**Describe the bug**

When compiling, this error appears:

[code]

Most likely because in this [Radare2 issue](https://github.com/radare/radare2/pull/13441) a new argument was added to the `r_bin_file_hash` function.

**To Reproduce**

Steps to reproduce the behavior:
1. Compile Cutter with the `m

[2019-03-22 22:45] a1ext commented on #1359
You can safely pass nullptr there. That’s a new argument to return old file hashes in case the binary was changed/patched

[2019-03-22 22:45] a1ext commented on #1359
The better is to wait until we update r2 and adjust everything in Cutter-side

[2019-03-22 23:18] RomeuG commented on #1359
Okay, I passed nullptr there in my working copy and everything went fine.
Thanks!

[2019-03-22 23:18] #1359 closed

[2019-03-22 23:48] a1ext opened #1362 "X-Refs Widget Improvements: wider `Code` column"
`Code` column has to be wider
---
![image](https://user-images.githubusercontent.com/14978853/54693879-65d1a280-4b38-11e9-955b-595e1baf92f6.png)

Because usually flags are long, the are not displayed fully. It has to have comments as well

[2019-03-22 23:49] a1ext opened #1363 "X-Refs Widget Improvements: empty `Code Preview`"
`Code preview` is empty after dialog appears
---

![image](https://user-images.githubusercontent.com/14978853/54858426-c0742580-4d15-11e9-96ff-f6afad0c4272.png)

Probably we have to select first xref of any available type (xrefs **to** has to be checked first)

[2019-03-22 23:51] a1ext opened #1364 "X-Refs Widget Improvements: `Type` column could be made smaller"
`Type` column could be made smaller to save some important space for `Code` column
---
![image](https://user-images.githubusercontent.com/14978853/54693879-65d1a280-4b38-11e9-955b-595e1baf92f6.png)

Related to #1362
We can use abbreviation for data types like "D" - for data, "C" - for code, etc. Also, it can be moved to the left so  `Code` could be the last expandable column in lists

[2019-03-22 23:56] a1ext opened #1365 "X-Refs Widget Improvements:"
Code and Data xrefs could be joined and shown in a single view
---

Currently they both take lots of **important** space on the view:
![image](https://user-images.githubusercontent.com/14978853/54858596-cfa7a300-4d16-11e9-8a5b-b6fdf8436511.png)

If we join them somehow, the view itself could get less complicated, I see it something like PyCharm has (clean and smooth, with splitter indeed):

![imag

[2019-03-23 00:00] a1ext opened #1366 "X-Refs Widget Improvements: lack of filtering in refs lists"
Lack of filtering in xrefs dialog
---

There are no possibility to quickly filter found refs. It would be **very** useful, I think. We can do filtering like IDA:

![image](https://user-images.githubusercontent.com/14978853/54858737-c7039c80-4d17-11e9-9752-8338a30d2e79.png)

or like PyCharm:

![image](https://user-images.githubusercontent.com/14978853/54858670-36c55780-4d17-11e9-8fd9-a8a2bb0fccc0.p

[2019-03-23 00:02] a1ext opened #1367 "X-Refs Widget Improvements: lack of `Copy all`/`Copy`"
Lack of copy to clipboard context menu `Copy All`/`Copy` for refs list(s)
---
![image](https://user-images.githubusercontent.com/14978853/54858769-fadec200-4d17-11e9-9c60-a7a7e5d3d97d.png)

[2019-03-23 00:04] RomeuG commented on #1337
Very odd...

In QDialog it says:
[code]

Maybe Windows overrides that behavior?

[2019-03-23 00:06] a1ext opened #1368 "X-Refs Widget Improvements: top-most flag of the dialog"
X-Refs dialog has `top most` flags, so it is over any window I have, don't think that's right behavior:
![image](https://user-images.githubusercontent.com/14978853/54858860-86f0e980-4d18-11e9-8352-c07d890d8175.png)

I even cannot access any cutter widget except it.

[2019-03-23 00:07] a1ext commented on #1338
@Maijin done, it has split into several issues

[2019-03-23 00:14] a1ext commented on #1337
dunno, RenameDialog has such effect as well, but if I call rename by using context menu - it shows somewhere next to the cursor... I think problems with dialog centering can be only on MAC. On windows it must work, that means there is some problem in code

[2019-03-23 04:06] AntonReborn commented on #1268
I'll do it

[2019-03-23 06:07] ITAYC0HEN commented on #1348
happens to me as well but only until the Functions widget is propagated successfully. Means, that until Function widget finished loading the graph overview is on that place

[2019-03-23 06:20] #1319 closed

[2019-03-23 07:15] ITAYC0HEN commented on #1367
I think this should be added to the Class of this table view, or List view or whatever implemented there. So it should be available for every usage of this class instead of adding the context menu to each usage separately

[2019-03-23 07:18] ITAYC0HEN commented on #1362
Agree. I think that we should remove asm.lines and asm.bytes in the preview, which will make more space for the code column

[2019-03-23 07:31] ITAYC0HEN commented on #1366
I think this should be added to the Class of this table view, or List view or whatever implemented there. So it should be available for every usage of this class instead of adding the context menu to each usage separately

[2019-03-23 09:38] moreaki commented on #981
@Maijin I have meanwhile upgraded to OSX 10.14.3, after years of resisting. While not exactly thrilled with the reduced battery life, I have now again access to software which was not working anymore previously; Cutter included, which seems to work just fine (except for the missing QTWeb in the build). Long story short: I can't test it anymore if the latest version would actually work on 10.11.x.

[2019-03-23 10:39] Maijin commented on #1300
This is fixed in r2 side, it will be fixed in cutter for next release.

[2019-03-23 10:48] Maijin opened #1374 "Support pds instead of pd in the nodes"
**Is your feature request related to a problem? Please describe.**

pds[?]     disassemble summary (strings, calls, jumps, refs) (see pdsf and pdfs)
Support pds instead of pd in the nodes

From @radare

**Describe the solution you'd like**

 Support pds instead of pd in the nodes

[2019-03-23 10:48] Maijin opened #1375 "Support 1 level refs/xrefs graphs"
**Is your feature request related to a problem? Please describe.**

Support 1 level refs/xrefs graphs from @trufae

**Describe the solution you'd like**

Support 1 level refs/xrefs graphs from @trufae

[2019-03-23 10:50] Maijin opened #1376 "Add "information about the basic blocks" button"
**Is your feature request related to a problem? Please describe.**

To get more information about the basic blocks - offset, name, calls, output nodes, ...
From @radare

**Describe the solution you'd like**

Add "information about the basic blocks" button

[2019-03-23 10:51] a1ext commented on #1375
Could you explain that?

[2019-03-23 10:51] Maijin opened #1377 "Add pinch to zoom"
**Is your feature request related to a problem? Please describe.**

Ability to pinch to zoom (or shift+wheel) is missing in Cutter.
From @trufae

**Describe the solution you'd like**

Add ability to pinch to zoom (or shift+wheel) is missing in Cutter

[2019-03-23 10:52] Maijin opened #1378 "Support background gradients instead of flat color"
**Is your feature request related to a problem? Please describe.**

Support background gradients instead of flat color
From @radare

**Describe the solution you'd like**

Add Support background gradients instead of flat color

[2019-03-23 10:52] Maijin commented on #1342
* [ ] Support pds instead of pd in the nodes *dup of 1374*
* [ ] Honor tracing information (see dt) to highlight the executed nodes, .. *dup of 1272*
* [ ] Support folding nodes *dup of 1270*
* [ ] Support 1 level refs/xrefs graphs *dup of 1375*
* [ ] List of basic blocks in columns (offset, name, calls, output nodes, ...) on click seek to them (inspired by https://github.com/radare/radare2/issues

[2019-03-23 10:52] #1342 closed

[2019-03-23 10:52] Maijin commented on #1375
@radare  please.

[2019-03-23 10:55] Maijin commented on #981
Ok good so it's really not a cutter issue. Closing here.

[2019-03-23 10:55] #981 closed

[2019-03-23 11:26] Maijin opened #1379 "Add compiler information in the dashboard"
**Is your feature request related to a problem? Please describe.**

Compiler information is now available in `iIj`

**Describe the solution you'd like**

Add compiler information when available in the dashboard

[2019-03-23 11:51] thestr4ng3r commented on #1378
![giphy](https://user-images.githubusercontent.com/1460997/54865729-5f2a7180-4d6a-11e9-9f75-f2537dc07330.gif)

[2019-03-23 12:16] a1ext commented on #1378
Why not, IDA has such ability

[2019-03-23 12:37] elfring opened #1380 "Improve exception safety with smart pointers"
Would you like to wrap any pointers with the class template “[std::unique_ptr](https://en.wikipedia.org/wiki/Smart_pointer#unique_ptr "Description for the usage of smart pointers")”?

Update candidates:
- [AttachProcDialog](https://github.com/radareorg/cutter/blob/ab27e09b91811c50c2801845dbc22e87a9454773/src/dialogs/AttachProcDialog.cpp#L174)
- [CutterApplication::loadTranslations()](https://githu

[2019-03-23 13:46] #1300 closed

[2019-03-23 13:48] ITAYC0HEN commented on #1376
Should it be part of Cutter core? I think it can be an API which will be accessed programitically? I don't find it useful to get information in a specific basic block.can you enlight me?

[2019-03-23 14:09] Maijin commented on #1376
ping @trufae

[2019-03-23 16:17] trufae commented on #1376
Why do you assign me bugs in cutter?

[2019-03-23 16:17] trufae commented on #1378
Why closing my issues and reopining them again by you?

[2019-03-23 21:49] Maijin commented on #1378
@trufae we need the issues splitted

[2019-03-23 21:50] Maijin commented on #1376
@trufae Take a look ;) I've written why, we need your input, description of what you want otherwise we can't do anything on this issue.

[2019-03-24 05:21] AntonReborn commented on #1377
@Maijin @trufae can you describe the difference in behaviors between the current zooming using Ctrl+wheel and requested "Pinch"?

[2019-03-24 05:43] ITAYC0HEN commented on #1377
Both pinch zoom (on laptop mouse pad) and <kbd>Ctrl</kbd>+Wheel works for me.
What did you experience?

[2019-03-24 09:46] scrapbird commented on #1378
Haha how do you expect something like this to look nice though? And do you mean just in `VV` or in `v` too?

[2019-03-24 10:18] #1179 closed

[2019-03-24 11:09] RomeuG commented on #1379
@Maijin I am working on it, almost finishing the issue. But I am a bit confused:

1. In which of the three columns of the dashboard do you want it added?
2. What if there is no compiler information? Do we still display it without any information or hide it?

Thanks

[2019-03-24 14:39] a1ext commented on #1337
Tested on Windows and X-Refs dialog doesn't center on parent window, but it centers on the screen. I don't think this is the right behavior

[2019-03-24 16:25] #1379 closed

[2019-03-24 16:25] Maijin commented on #1379
Looks like you figured it out ;)

[2019-03-24 16:27] Maijin commented on #1352
ping @LogoiLab  @RomeuG

[2019-03-24 16:38] RomeuG commented on #1352
I think that that right-click option is more than enough.
But I found a small bug there: if I save the graph as `.png` or `.jpg`, for instance, the file name will still be `graph.dot`.

[2019-03-24 16:59] oddcoder opened #1391 "Highlight isn't aligned over basic blocks in graph overview"
* Operating System: gentoo
* Cutter version: Cutter 1.8.0
* File format: Any

When using basic block highlighter API from inside python, the graph overview tends to have coloring shifted away from the right position.

![image](https://user-images.githubusercontent.com/10424605/54882779-2f609400-4e66-11e9-8e74-9df0207f6048.png)

It can be aligned by resizing the window size.

Steps to reproduce the

[2019-03-24 18:01] trufae commented on #1378
yeah i just recall that "feature" when reviewing some ida screenshots. obv no need to for transparencies or images like Eterm..  but making a small gradient between the selected color and a lighter one may look nice i guess. just a proposal, feel free to discard if u dont like it or its an unnecessary overengineering

[2019-03-24 18:10] trufae commented on #1377
Control+wheel works for you because you are not using a Mac. that's why im requesting this, because mac users use control+- to zoom, because ctrl+wheel does nothing, also, ctrl+wheel in mac is usually a system-wide zoom for accessibility. Also, pinch to zoom is pretty common and human friendly way to zoom in/out and used by many apps in the Mac ecosystem and well described in the HIG. so not sure

[2019-03-24 18:13] trufae commented on #1376
The idea for this is to mimic this https://github.com/radare/radare2/issues/13403 into cutter. basically, to have a side panel with the list of all the basic blocks that you can click on them to seek in the graph, and have multiple columns to specify information so the user can sort them by size, types of instructions, amount of edges , etc.. all this info is already in the graph information you n

[2019-03-24 18:15] trufae commented on #1375
I saw that in a youtube video of someone using ghidra

![https://pbs.twimg.com/media/D08E9WsXQAAObbe.jpg](https://pbs.twimg.com/media/D08E9WsXQAAObbe.jpg)

and this is exactly the same i implemented in visuall callgraph navigation in r2 many years ago, and its similar to the new vbg graph mode.

[2019-03-24 18:19] Maijin commented on #1375
Then that's a duplicate of #406

[2019-03-24 18:19] #1375 closed

[2019-03-24 18:19] Maijin commented on #406
From @radare
![image](https://user-images.githubusercontent.com/1408600/54883781-c8dd7500-4e69-11e9-82f7-ed14a28f5124.png)

[2019-03-24 18:29] Maijin opened #1392 "Add aao and avrr options in advanced analysis"
**Is your feature request related to a problem? Please describe.**

aao and avrr are missing from advanced analysis, one is for objc and one is for vtables

**Describe the solution you'd like**

Add aao and avrr in advanced analysis

[2019-03-24 19:16] trufae commented on #486
you can use wtf, iO or dmd for debugger maps, but for the iO part yes, we need to refactor stuff to provide a clean api to do this, proposals are welcome

[2019-03-24 19:35] #1337 closed

[2019-03-24 19:40] #1368 closed

[2019-03-24 22:12] #1351 closed

[2019-03-24 22:24] ITAYC0HEN commented on #1377
So is this a macOS-only issue? Because pinching the mouse-pad on my laptop works both for windows and Linux. If so, need to tag it as Mac only

[2019-03-24 22:31] karliss opened #1394 "Middle click drag/panning in graph view"
Panning with middle mouse button pressed is quite common in many programs with scrollable 2d graphic area.

Current drag while clicking background is slightly annoying while zoomed in large basic block.

[2019-03-24 22:57] a1ext commented on #1377
For reference [link](https://doc.qt.io/qt-5/qnativegestureevent.html)

[2019-03-25 09:21] scrapbird opened #1395 "Graph view is blurry"
**Environment information**
* Operating System: Ubuntu 18.04
* Cutter version: 1.8.0
* File format: Core dump

**Describe the bug**
The graph view is blurry in this version but not in the last version I used (1.7.4).

**To Reproduce**
Open any file, the graph will be blurry.

**Expected behavior**

The graph to not be blurry

**Screenshots**
![image](https://user-images.githubusercontent.com/20770

[2019-03-25 09:34] xarkes commented on #1395
I never experienced this.
Can you tell what happens if you zoom in/zoom out the graph view?
As of now I don't really know what could cause such an issue, can you provide the output of `env` here, maybe some QT environment variable is set?
Also what is your screen resolution?
Thanks :-)

[2019-03-25 15:25] oddcoder opened #1397 "Feature Request: navigate through graph view with arrows"
**Is your feature request related to a problem? Please describe.**

Right now, it is not possible to navigate through the graph using arrows (up, down, left, right)
however up and down can move me through instructions inside a basic block which isn't the behavior I would normally expect

**Describe the solution you'd like**

navigating throught the whole graph via arrows just like drag and drop.

[2019-03-25 17:50] Adikso commented on #1352
@RomeuG I can't reproduce it. It is saving with .png extension correctly (and without .dot)

[2019-03-25 19:55] RomeuG commented on #1352
@Adikso What version are you using? This happens me in 1.8.0.

[2019-03-25 20:17] scrapbird commented on #1395
If I recall correctly zooming in and out didn't help but I'll double check when I get home tonight and update with the other details. It's running on a 4k screen so I'm assuming it has something to do with DPI scaling but it's weird the rest of the app (especially the diass view) looks fine.

[2019-03-25 21:49] karliss commented on #1395
It isn't too that getting manual painting right takes more work than using builtin widgets where QT developers already handle all scaling.
I was able to achieve the blurry look by messing with QT_SCREEN_SCALE_FACTORS and manually setting different scaling factors for each monitor (1 and 2).

Looks like the problem is related to how image is cached using QPixmap. I tried removing it and painting to

[2019-03-25 22:54] karliss commented on #1395
[This](https://stackoverflow.com/questions/42011410/qt-drawing-high-dpi-qpixmaps) looks promising.

[2019-03-25 22:57] ITAYC0HEN commented on #1395
CC @Vane11ope, seems like this is related to the pixmap thing that was added

[2019-03-26 02:56] LogoiLab commented on #1352
Ok im using the version currently available in the arch AUR. could be the issue probably an old version.

[2019-03-26 03:01] LogoiLab commented on #1352
I don't want to close this issue unless we've decided the previous errors mentioned by @Adikso have been figured out

[2019-03-26 07:00] karliss commented on #1210
Double clicking seems to work the same way as in function, import and string lists.

[2019-03-26 11:07] #1391 closed

[2019-03-27 08:24] #1268 closed

[2019-03-27 08:27] #1306 closed

[2019-03-27 20:40] #1363 closed

[2019-03-28 18:31] #1331 closed

[2019-03-28 18:33] #1309 closed

[2019-03-28 23:11] karliss commented on #1395
Similar fix is required for recent file icons.

[2019-03-29 00:08] scrapbird commented on #1395
Sorry @xarkes, this slipped my mind, will grab the details you asked for this weekend.

[2019-03-29 09:16] xarkes commented on #1395
No worries, it looks like @karliss might have a fix :-)

[2019-03-29 09:19] xarkes commented on #1331
Closed in https://github.com/radareorg/cutter/pull/1398.

[2019-03-29 09:19] xarkes commented on #1309
Closed in https://github.com/radareorg/cutter/pull/1398.

[2019-03-29 21:52] pelijah commented on #1026
Dup of #688?

[2019-03-30 05:13] scrapbird commented on #1395
Awesome :)

QT env variables:
[code]

[2019-03-30 08:46] #1026 closed

[2019-03-30 10:02] Maijin commented on #1266
Done it's here https://hackmd.io/6To_DPB6QXC1MEFIYuNUIg?both#

[2019-03-30 10:02] #1266 closed

[2019-03-30 10:12] Maijin opened #1409 "Clicking on a string to highlight lightly all its bytes"
**Is your feature request related to a problem? Please describe.**

To enhance visibility in the hexdump

**Describe the solution you'd like**

Clicking on a string should highlight lightly all its bytes

[2019-03-30 10:13] Maijin opened #1410 "Clicking on a byte part of a string, it should highlight lightly all the bytes related and the string"
**Is your feature request related to a problem? Please describe.**

To enhance visibility in the hexdump

**Describe the solution you'd like**

Clicking on a byte part of a string, it should highlight lightly all the bytes related and the string

[2019-03-30 10:18] Maijin opened #1411 "Clicking on a Sequence of bytes to be highlighted"
**Is your feature request related to a problem? Please describe.**

To enhance highlight in hexdump

**Describe the solution you'd like**

Sequence of bytes which construct addresses would be highlighted in some way which will indicate that they're clickable.

[2019-03-31 09:35] thestr4ng3r opened #1413 "Graph Overview doesn't resize after changing back to the regular Graph Tab"
![Peek 2019-03-31 11-26](https://user-images.githubusercontent.com/1460997/55287438-1184b900-53a9-11e9-995d-c103adba0bf2.gif)

[2019-03-31 15:28] karliss opened #1415 "Show part of graph context menu everywhere"
**Is your feature request related to a problem? Please describe.**

Currently GraphView context menu shows up only when clicking on basic block but some of the entries like exporting image and sync/unsync are not block/code specific.

**Describe the solution you'd like**
Right clicking on graph view anywhere opens the context menu with appropriate content.
* current content when clicking on block

[2019-03-31 15:44] karliss opened #1416 "Do not show duplicate switch->case edges"
**Is your feature request related to a problem? Please describe.**

Switch statements can result in large amount of edges between two blocks. Drawing all of them increases the chance of hitting edge case in graph layout algorithm.

**Describe the solution you'd like**

If there are multiple edges between pair of basic blocks draw single but maybe thicker line.

**Additional context**
![Ekrānattēls

[2019-04-02 21:05] karliss opened #1419 "Improve graph layout for functions with "unreachable" blocks."
**Is your feature request related to a problem? Please describe.**

Sometimes list of blocks in function have blocks with no incoming edges. Most often such blocks are caused by failure to analyze switch statements, but there can be other causes.

**Describe the solution you'd like**

Adjust graph layout algorithm to treat blocks without incoming edges as additional entry blocks.

**Describe alter

[2019-04-03 08:53] scrapbird commented on #1395
Tested #1405 and can confirm it's working. Thanks guys!

[2019-04-03 08:53] #1395 closed

[2019-04-03 20:44] pelijah commented on #1301
Tried on binary with 16k functions and I can't say that Cutter is slow. But I used latest Cutter for Windows from Appveyor.

[2019-04-03 21:09] xarkes commented on #1301
Really? Double clicking function is instant? Seeking in the disassembly is instant?

[2019-04-03 21:22] pelijah commented on #1301
There are some delay but it is not annoying.

[2019-04-04 13:09] xarkes opened #1423 "Rework configuration in InitialOptionDialog"
Too many "cmd ?e".
Should also move `setConfig` API from CutterCore to Configuration I think.
Maybe even rename Configuration to core/CutterConfiguration.

[2019-04-04 17:15] Coualafool opened #1425 "dir.projects doesn't change"
**Environment information**
* Operating System: windows 10
* Cutter version: 1.8.0

**Describe the bug**

It is not possible to change the default path of projects with the select button. Cutter leaves the path by default ... Can you, please, help me?

[2019-04-05 05:43] karliss commented on #1419
I am working on this.

[2019-04-05 09:29] Coualafool commented on #1148
Hello, I encountered the same problem when I try to change the default access path of Cutter but I have not found solutions. Have you found one?

[2019-04-05 18:49] Maijin commented on #1148
Projects are currently not usable and work in progress as they requires huge refactoring in radare2 side.

[2019-04-06 11:16] karliss commented on #1416
Made a prototype to better demonstrate what I meant.

Before on the left, after on the right.

![Ekrānattēls no 2019-04-06 14-14-32](https://user-images.githubusercontent.com/7101031/55668730-6ecfad00-5876-11e9-95be-ea9dbb3e4713.png)

[2019-04-06 18:52] ITAYC0HEN opened #1434 "Redirect STDOUT to Console Widget for Python Plugins"
**Is your feature request related to a problem? Please describe.**

Currently, when Plugin author uses `print("hello, world")`, the output would be executed on the terminal which was executing Cutter (on windows usually there won't be a terminal for this).

This is unexpected behavior since we have a Console Widget

**Describe the solution you'd like**
I want STDOUT to be redirected to the Console

[2019-04-06 19:29] xarkes commented on #1416
Not so bad, I'm unsure about the need of thickness but it looks much better anyway :)

[2019-04-06 19:37] #1419 closed

[2019-04-07 08:27] karliss commented on #1416
I am fine with not having thickness, that would simplify the code. I don't have that much reverse engineering experience so I'll trust you if you say that it doesn't add any valuable information.

I have a feeling that there might be a bug causing more edge duplication than there should be which exaggerates the problem. Having multiple edges going to blocks that match multiple cases makes sense bu

[2019-04-07 11:02] #1394 closed

[2019-04-07 11:22] pelijah opened #1435 "Encoding warnings on Windows"
- [ ] https://ci.appveyor.com/project/radare/cutter/builds/23657068/job/co28srs8glxdrvsk?fullLog=true#L151

- [ ] https://ci.appveyor.com/project/radare/cutter/builds/23657068/job/co28srs8glxdrvsk?fullLog=true#L227

- [ ] https://ci.appveyor.com/project/radare/cutter/builds/23657068/job/co28srs8glxdrvsk?fullLog=true#L228

- [ ] https://ci.appveyor.com/project/radare/cutter/builds/23657068/job/co28

[2019-04-08 06:59] #1413 closed

[2019-04-08 07:00] thestr4ng3r commented on #1434
Related: https://github.com/radare/radare2/pull/13622 (to not clutter the output as much)

[2019-04-08 11:05] thestr4ng3r opened #1440 "Breakpad doesn't build on macOS with XCode >= 10.1 by default"
Original issue: https://bugs.chromium.org/p/google-breakpad/issues/detail?id=778&q=macos
Fix: https://chromium-review.googlesource.com/c/breakpad/breakpad/+/1338279
I have updated prepare_breakpad_macos.sh to use a fixed commit and apply the patch. This should be removed when the above fix is merged.

[2019-04-09 18:05] pelijah commented on #1434
We have `CutterCore::message()`
https://github.com/radareorg/cutter/blob/master/src/core/Cutter.cpp#L722

[2019-04-09 20:16] pelijah commented on #1434
So you can just use `cutter.message()` instead of `print()`.

[2019-04-09 20:20] ITAYC0HEN commented on #1434
But people use print, which is okay, should be redirected to Cutter.Message

[2019-04-09 20:28] ITAYC0HEN commented on #1434
And there are more ways to generate output to STDOUT and STDERR in python (and any other thingies), not only prints. Even when python throws exception I'd expect it to be on Console widget and not on the executing Terminal (which not always exists)

[2019-04-10 01:38] joaoescribano opened #1445 "Support for "pre-arguments" on the debug configuration"
**Is your feature request related to a problem? Please describe.**
I'm trying to debug a QT program that I cannot load "normally" at any debugger (I've tried a lot).

So this program actually has 2 binaries, one is a launcher and the other is the actual program client.

/program/bin/client
/program/launcher

So if you open directly the client binary directly at cutter (or at terminal normally), it

[2019-04-10 04:57] karliss commented on #1445
"pre-arguments" is called environment variables.

[2019-04-10 05:37] xarkes commented on #1445
Hello,

I know that the menu item is called "Debug' and that we have a "Green arrow" that looks like a start debug button, and that is very misleading, but actually Cutter does not support debugging for now.
It is planned and a work in progress.

[2019-04-10 08:39] ITAYC0HEN opened #1446 "Add re-load and un-load options to Plugins Options context menu"
**Is your feature request related to a problem? Please describe.**

Currently, if I made changes to a python plugin and want to reload it, I need to restart Cutter.

**Describe the solution you'd like**

It would be really great, especially for plugin developers, to have a context menu option to Reload a plugin. Same for unloading it.

**Additional context**

The context menu can be here, upon rig

[2019-04-10 13:15] joaoescribano commented on #1445
@karliss thanks for the explanation, that's good to know.

@xarkes really? that's a plot twist! lol
So... what does the emulation actually do? cuz if it emulates the software and I could go stepping into the opcodes, it will be fine for my propose. I would just need to add the LD_LIBRARY_PATH into it as an environment variable.

Thanks

[2019-04-10 13:59] xarkes commented on #1445
Emulation simulates the instructions one by one. For now, as far as I know, there is nothing that mimicks syscalls and library calls, so what you are willing to do would not be possible.

[2019-04-10 14:26] joaoescribano commented on #1445
:/ now I understand.
Thanks anyway

[2019-04-10 14:26] #1445 closed

[2019-04-10 16:15] pelijah commented on #1434
Python and plugins are initialized before MainWindow. So we have to change the order.

[2019-04-10 16:40] radare opened #1448 "RFE: Add multiple navigation bars"
Idea stolen from ghidra, but i think it will be nice to have the ability to have multiple configurable navigation bars, this is to pick whatever info u want on each bar (breakpoints, page permissions, strings, entropy, references, ..)

![https://i0.wp.com/0xeb.net/wp-content/uploads/2019/03/ghidra-codebrowser-all.png](https://i0.wp.com/0xeb.net/wp-content/uploads/2019/03/ghidra-codebrowser-all.png

[2019-04-10 17:36] thestr4ng3r commented on #1434
We can have some kind of buffer for output received before the MainWindow has been started. There might be something interesting in it, even without Python Plugins.

[2019-04-10 19:07] #1397 closed

[2019-04-10 22:53] gaasedelen commented on #1434
I agree that this should be the default. Existing interactive disassembler platforms already behave this way, so now all of your users will expect Cutter to behave the same way whether you like it or not 😅

Might be best not to overthink this. IDA has a pretty straightforward implementation that you can draw from for Cutter.

They hook the interpreter's stdout/stderr stream with a simple proxy obj

[2019-04-12 05:22] #1284 closed

[2019-04-12 07:11] ITAYC0HEN commented on #1434
@gaasedelen sounds great! Want to have a look and try solve it?
Actually, maybe this can be fixed globally somehow for the whole application https://github.com/radareorg/cutter/issues/966

[2019-04-12 08:20] thestr4ng3r commented on #1434
Yes, this should not be done in python. There are ways to replace/redirect the actual stderr/stdout fds.

[2019-04-13 11:52] karliss opened #1452 "Contradicting recent file behaviour in NewFileDialog"
**Is your feature request related to a problem? Please describe.**

NewFileDialog currently contains code for two contradicting behaviors:
* have most recent file at the top - by doing removeAll+prepend in NewFileDialog::loadFIle
* sort recent files alphabetical order - flag in .ui file

**Describe the solution you'd like**
Choose which behavior is preferable and removed code for other.

Having mo

[2019-04-13 11:52] karliss commented on #1452
React to this comment if you prefer **current behavior**.

[2019-04-13 11:53] karliss commented on #1452
React to this comment if you prefer **most recent at top**.

[2019-04-14 12:08] thestr4ng3r opened #1455 "Memory Widget Priority ignores unsynced Widgets"
It makes no sense to automatically raise a widget that is unsynced because its contents are unrelated to the seek. Example:
![Peek 2019-04-14 14-06](https://user-images.githubusercontent.com/1460997/56092622-9a7a1500-5ebe-11e9-82cd-2ae093bd2854.gif)
(the right widget get unsynced and should then not automatically be raised again on seek)

[2019-04-14 12:18] #1320 closed

[2019-04-14 21:59] radare opened #1457 "RFE: Add widget for alias commands"
A frontend for the '$' command.

[2019-04-15 03:41] ITAYC0HEN commented on #1457
What would you want to see there? A list of aliases?

[2019-04-15 10:40] radare commented on #1457
yes, being able to click at them to execute (or assign a keybinding to it)

many r2pm packages use alias commands to expose their functionality

[2019-04-15 10:43] radare opened #1459 "Scrolling to void in the graph"
open graph, wheel around. no way to find any bb anymore.

will be good to have a key like '.' to scroll the last selected bb, or "the closest one" otherwise on big graphs, without minigraph is pretty easy to get lost

[2019-04-15 10:43] radare commented on #1459
(or not allow to scroll around places where there are no nodes)

[2019-04-15 10:52] ITAYC0HEN commented on #1457
why do GUI users care about CLI aliases? I mean, Cutter users probably won't use their keyboard except renaming, searching, commenting and jumping between widgets. Not for typing commands

[2019-04-15 11:03] thestr4ng3r commented on #1457
I would rather integrate the regular r2 autocompletion in the console widget

[2019-04-15 12:00] xarkes commented on #1459
We decided to have this behaviour as far as I remember, see this issue: https://github.com/radareorg/cutter/issues/727

Now there can surely be improvements, but that's why we have an overview widget, you just have to click on it to get back to the graph!

[2019-04-15 12:02] ITAYC0HEN commented on #1459
or seek to it again, using the Functions widget or the go-to textbox

[2019-04-15 12:12] #144 closed

[2019-04-15 12:13] ITAYC0HEN commented on #144
this is a nice suggestion but not gonna happen. Users would be satisfied without this. Also, never receive other requests for this feature. closing

[2019-04-15 12:21] ITAYC0HEN commented on #297
dupe of #1298

[2019-04-15 12:21] #297 closed

[2019-04-15 12:25] ITAYC0HEN commented on #399
I really like this idea! This can be implemented via simple tooltip. Should not be complicated.

[code]

[2019-04-15 12:27] ITAYC0HEN commented on #413
the solution is a WIP and almost done. Tracked by @xarkes here: https://github.com/radareorg/cutter/tree/disassemblyWidget

[2019-04-15 12:30] ITAYC0HEN commented on #444
@xarkes is your solution supports highlight a specific instruction?

[2019-04-15 12:31] ITAYC0HEN commented on #498
Closing. It is not a specific issue which is focused or limited

[2019-04-15 12:31] #498 closed

[2019-04-15 12:32] ITAYC0HEN commented on #507
@xarkes did you respect this in your solution?

[2019-04-15 12:37] ITAYC0HEN commented on #682
#xarkes so you want to remove it? do you find it useless?

[2019-04-15 12:40] ITAYC0HEN commented on #698
@xvilka what is this?

[2019-04-15 12:41] ITAYC0HEN commented on #774
@Maijin is this split already?

[2019-04-15 12:42] ITAYC0HEN commented on #781
@trufae can you upload this ls file from your MAC?

[2019-04-15 12:42] ITAYC0HEN commented on #798
@dmknght some improvements were made, are you still experiencing the same?

[2019-04-15 12:47] karliss commented on #781
The problem should still be there, this is result of using grid based layout. I have some ideas for mitigating this without major rewrite.

[2019-04-15 12:49] ITAYC0HEN commented on #781
That would be fantastic!

On Mon, Apr 15, 2019, 15:48 karliss <notifications@github.com> wrote:

[2019-04-15 13:09] ITAYC0HEN commented on #882
@optizone will solve this in his upcoming PR :)

[2019-04-15 13:12] ITAYC0HEN commented on #891
@Maijin are these issues split?

[2019-04-15 13:56] XVilka commented on #698
Hm? I thought it is obvious - to be able to change the ESIL representation for this particular instruction in that particular place.

[2019-04-15 14:23] ITAYC0HEN commented on #698
is this a radare2 command? is it documented? how is it done? why is this necessary for cutter?

[2019-04-15 14:52] dmknght commented on #798
No it is still the same. Plus widget panels seems buggy in latest version

[2019-04-15 15:40] radare commented on #698
ahe for esil

[2019-04-15 15:40] radare commented on #698
anal hints

[2019-04-15 19:47] Maijin commented on #891
No that needs to be split indeed @ITAYC0HEN, are you doing it?

[2019-04-15 19:47] Maijin commented on #774
Nop are you doing it?

[2019-04-15 19:49] Maijin commented on #698
that's useful for emulation yes

[2019-04-15 20:17] karliss commented on #1459
It is already possible to press j/k for moving up/down in current bb which will also bring it to the center of screen.

Without reverting #727 scrolling could be limited so that right side of screen can't go further than left side of image, the same for other directions. At that point picture is only barely outside the screen which is furthest towards void anyone could need. This doesn't solve the

[2019-04-16 06:59] ITAYC0HEN commented on #781
Solved partially by #1460 :) Still more to go

[2019-04-16 09:25] xarkes commented on #444
Not it doesn't but it would work quite similarly if anyone wanted to do so.

[2019-04-16 09:26] xarkes commented on #507
No it doesn't because currently nothing is cached. Once cache is supported for the disassembly widget, this would be easy to implement.

[2019-04-16 09:29] xarkes commented on #682
I wouldn't say it's totally useless, but it's a feature that should be supported in radare2, or as a plugin.

[2019-04-16 09:31] #1148 closed

[2019-04-16 09:38] radare commented on #682
its already in r2, read my comments above

[2019-04-16 09:46] radare commented on #682
I have created this issue to improve it https://github.com/radare/radare2/issues/13782 feedback is welcome

[2019-04-16 18:01] ITAYC0HEN commented on #1452
Most recent order. No doubt :)
Good catch!

[2019-04-16 18:42] optizone opened #1463 "Crash on opening with no file"
**Environment information**
* Operating System: arch
* Cutter version: 1.8.1
* File format: N/A
 * Arch: N/A
 * Type: N/A

**Describe the bug**
When I try to open Cutter with no file to analysis, it crashes.
![segfault](https://user-images.githubusercontent.com/42874998/56234977-1aef7000-608f-11e9-9d9e-e348e80d342b.gif)

and from provided binaries:
![segfault 2](https://user-images.githubuserconte

[2019-04-16 18:45] ITAYC0HEN commented on #1463
Nooo I can't believe my eyes! You are the one who implemented the Crash
Dump feature so when users experience crashes they will share it with us
and attach the crash dump - and you didn't attach it yourself XD

Please do

On Tue, Apr 16, 2019, 21:43 optizone <notifications@github.com> wrote:

[2019-04-16 18:47] optizone commented on #1463
Yeah, there is another issue, it seems like it is impossible to attach binary file to issue

[2019-04-16 18:47] ITAYC0HEN commented on #1463
Zip it

[2019-04-16 18:48] optizone commented on #1463
[Cutter_crash_dump_16.04.19_21.37.10.zip](https://github.com/radareorg/cutter/files/3086428/Cutter_crash_dump_16.04.19_21.37.10.zip)

[2019-04-16 18:55] optizone opened #1464 "Zip crash dumps and attach ones from handler"
**Is your feature request related to a problem? Please describe.**
Currently when crash is occured, .dmp file is created and this file format can not be attached to issue. Not everyone knows (or able to understand) that solution is to zip this file.

So my suggestion is to zip this file by default and maybe attach it in crash handler.

[2019-04-16 19:01] ITAYC0HEN commented on #1464
Can be solved with this issue as well
https://github.com/radareorg/cutter/issues/870

[2019-04-17 08:02] #1452 closed

[2019-04-18 10:10] #1415 closed

[2019-04-19 14:39] Maijin opened #1468 "Use same font and font size for offset, hexadecimal and ASCII values"
**Is your feature request related to a problem? Please describe.**

Use same font and font size for offset and hexadecimal values to avoid

![image](https://user-images.githubusercontent.com/1408600/56429020-b49e6380-62c1-11e9-830f-b7d83ea2f16a.png)

**Describe the solution you'd like**

Use same font for the 3 columns

[2019-04-19 14:41] Maijin opened #1469 "Headers of the bytes column to fit the columns of the bytes"
**Is your feature request related to a problem? Please describe.**

Headers of the bytes column must be fit the columns of the bytes to avoid:

![](https://i.imgur.com/moXoDA8.png)

**Describe the solution you'd like**

Headers of the bytes column must be fit the columns of the bytes.

[2019-04-19 14:50] Maijin opened #1470 "Double click on an address on hexdump will seek to this address"
**Is your feature request related to a problem? Please describe.**

To ease navigation and usage of hexdump

**Describe the solution you'd like**

Double click on an address on hexdump will seek to this address

[2019-04-19 14:51] Maijin opened #1471 "Mark available flags and available comments in hexdump"
**Is your feature request related to a problem? Please describe.**

To ease navigation and provide user with all the information available in the hexdump

**Describe the solution you'd like**

Mark available flags and available comments in hexdump, this should be optional.

[2019-04-19 15:06] Maijin opened #1472 "Add decimal, 1-byte, half words, words and dwords format in the hexdump"
**Is your feature request related to a problem? Please describe.**

To show the hexdump in decimal, 1-byte, half words, words and dwords format

**Describe the solution you'd like**

Add right click format -> decimal, 1-byte, half words, words and dwords format (there is already hex and octal)

[2019-04-19 15:10] Maijin opened #1473 "Add right click Endianness -> Little Endian, Big Endian in hexdump"
**Is your feature request related to a problem? Please describe.**

To be able to visualize hexdump data depending onthe endianess

**Describe the solution you'd like**

Add right click Endianness -> Little Endian, Big Endian in hexdump

[2019-04-19 15:13] Maijin opened #1474 "Add Copy Address shortcut in hexdump"
**Is your feature request related to a problem? Please describe.**

To be able to quickly copy the current address

**Describe the solution you'd like**

(<kbd>Ctrl</kbd>+<kbd>Shift</kbd>+<kbd>C</kbd>) - will copy the address where the cursor is

[2019-04-19 15:15] Maijin commented on #1464
@ITAYC0HEN that looks completely different issue, radare2 natively handles zip files not sure what that has to do with zipping file for the crash reporting because there is no radare2 command to zip files right now.

[2019-04-19 18:35] ITAYC0HEN commented on #1464
The unzipping part. That shows the list of the files within an archive file with info about the individual files inside. Attached the screenshot from Ida to the issue

[2019-04-19 18:43] Maijin commented on #1464
but how is that related to the sending zip file to github 🤨

[2019-04-19 19:27] ITAYC0HEN commented on #1464
It requires to include an open source library to zip and unzip files, so is the other issue. Because Qt does not support zipping out of the box

[2019-04-19 19:29] Maijin commented on #1464
Radare2 already supports what ida does natively for #870 that's why i'm confused.

[2019-04-19 19:35] ITAYC0HEN commented on #1464
Ah now that I think of it, maybe r2 can decompress and compress zip files and we can use it instead of importing another 3rd party library

[2019-04-20 04:07] TheLorax commented on #1473
The hexdump view always displays 1 byte per column, what would an endian change look like here?

`68 65 6c 6c 6f 0a ff ff ff ff ff ff ff ff ff ff`   "hello" in ASCII

[2019-04-20 05:34] karliss commented on #1473
@TheLorax That's why there is #1472 for ability to display bytes in formats that benefit from endian change.

[2019-04-20 08:05] Maijin commented on #1473
Yep exactly @karliss  :)

[2019-04-20 16:45] gaasedelen commented on #1138
FYI, I tried to pull & run from dockerhub today and the old (or broken) build still appears to be up.

[code]

This is on a fresh ubuntu 18.04 desktop VM.

[2019-04-20 16:55] ps1337 commented on #1138
docker hub says `This repository doesn't have any autobuilds` o.O

Can someone with access to the build chain look into this?

[2019-04-20 21:59] pelijah opened #1478 "Special colors for function/symbol name in call/jmp instructions"
**Is your feature request related to a problem? Please describe.**

To make it easier to locate function/symbol names

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

Usual function in IDA (one color)
![изображение](https://user-images.githubusercontent.com/16493991/56462697-341a5880-63d0-11e9-8f98-7171d3936ab2.png)

Import thunk function

[2019-04-21 10:21] radare opened #1479 "Add option in disasm preferences for "asm.flags.inbytes""
<img width="1152" alt="Screenshot 2019-04-21 at 12 21 28" src="https://user-images.githubusercontent.com/917142/56468688-fea55780-642f-11e9-94e5-282a70f12d5b.png">

[2019-04-21 10:30] radare commented on #1479
(btw the fcn.rip thing is fixed in a PR i just pushed now)

[2019-04-21 19:37] gaasedelen opened #1482 "CutterCore signal bindings are generated improperly"
**Environment information**
* Operating System: Ubuntu 18.04
* Cutter version: 1.8.0, 1.8.1, Latest
* File format: N/A

**Describe the bug**

During the binding generation step of compilation, shiboken2 is misidentifying the `signals` definitions of the `CutterCore` class. Instead of templating out signal instances, shiboken appears to be interpreting the signal definitions simply as 'public' func

[2019-04-22 02:24] ivanstepanovftw opened #1483 "xref crash"
**Environment information**
* Operating System: 5.1.0-1-MANJARO
* Package manager: pacman
* Cutter version: 1.8.0.r37.g67f865af-1
* radare2 version: 3.4.1 0 @ linux-x86-64 git.3.4.1
* QT5 version: 5.12.2-1
* File format: ELF 64-bit LSB executable, x86-64, version 1 (GNU/Linux), statically linked, for GNU/Linux 3.2.0

**Describe the bug**
Crash

**To Reproduce**

Steps to reproduce the behavior:
1.

[2019-04-22 02:32] ivanstepanovftw commented on #1483
Logs updated, sorry for inconvenience

[2019-04-22 02:33] ivanstepanovftw commented on #1483
Execution was:
[code]

[2019-04-22 03:22] craigtao opened #1484 "can't open r_core.h , what happen?"
thanks for shared.

i have some question

environment:  qt5.8 vs2015

can't open r_core.h ,

[2019-04-22 07:44] xarkes commented on #1484
Hello, could you please follow the template and give more details on what actions you did? There are so few details in your question that all I can do is guess what's happening.

[2019-04-22 07:46] xarkes commented on #1482
Thanks for the report, cc @thestr4ng3r

[2019-04-22 07:48] craigtao commented on #1484
i clone cutter-1.8.1.
open cutter-1.8.1\src\Cutter.pro
IDE: qt creator, compiler: Qt_5_8_0_MSVC2015_32bit
Build all project,

Error infomation:
can't open r_core.h

[2019-04-22 07:58] xarkes commented on #1484
Hmm it looks like an issue with QtCreator on Windows, cc @pelijah.

[2019-04-22 08:00] xarkes commented on #1478
Yep agreed!

[2019-04-22 08:11] xarkes commented on #1138
Oh indeed, here you can see the last log: https://pastebin.com/mDEZrrM4

[2019-04-22 08:43] #399 closed

[2019-04-22 08:44] ITAYC0HEN commented on #1478
isn't it an issue for r2? because we simply take r2's output

[2019-04-22 08:47] ITAYC0HEN commented on #1483
can you please check with the most recent version of Cutter, from git.
You report mentioned it is Cutter 1.8.0 while we are already in 1.8.1 and fixed many bugs :)

[2019-04-22 08:48] #1241 closed

[2019-04-22 10:18] karliss commented on #839
Horizontal scroll bar? It already appears when content is too wide.
![scrolbar](https://user-images.githubusercontent.com/7101031/56496158-e8b39780-6500-11e9-8f8f-2badccc77202.png)

As for moving along the binary there is "scrollbar" at the top.

[2019-04-22 10:24] dmknght commented on #839
@Maijin @karliss I meant a vertical line for Hex Panel. Hex Panel can have thousands lines and using mouse scroll only is not the best idea in my opinion

[2019-04-22 10:42] karliss commented on #839
The upper bar I marked functions as global vertical scrollbar which affects disassembly, graph and hexdump widgets. Having a separate vertical one for hexdump widget wouldn't hurt as it's possible to open multiple hexdump widgets with position synchronization disabled.

[2019-04-22 13:17] lillypad commented on #999
Running same DPI to fix this for just your main display do the following:

[code]

Currently If you take any other windows and move them to lower DPI monitors the windows look okay but the font will be either too small or too large.

Based off this documentation it should be something that can be looked at fixing in the future, I'm interested in helping out if I get some time.

__References:__
htt

[2019-04-22 20:20] pelijah commented on #1484
I guess you forgot to execute `prepare_r2.bat`

[2019-04-22 20:22] pelijah commented on #1478
That's why I added the `radare2` label.

[2019-04-22 20:23] pelijah commented on #1242
Fixed by #1477.

[2019-04-22 20:23] #1242 closed

[2019-04-22 20:35] ITAYC0HEN commented on #1478
I think it'd be better to open this issue in r2 side, otherwise it's less
likely to get attention from r2 devs

On Mon, Apr 22, 2019, 23:22 Paul I. <notifications@github.com> wrote:

[2019-04-23 00:31] craigtao commented on #1484
@pelijah  i had execyte prepare_r2.bat

execute result: Unknown platform

@ECHO OFF
SETLOCAL ENABLEDELAYEDEXPANSION

IF "%VisualStudioVersion%" == "14.0" ( IF NOT DEFINED Platform SET "Platform=X86" )
FOR /F %%i IN ('powershell -c "\"%Platform%\".toLower()"') DO SET PLATFORM=%%i
powershell -c "if ('%PLATFORM%' -notin ('x86', 'x64')) {Exit 1}"
IF !ERRORLEVEL! NEQ 0 (
    ECHO Unknown platform: %PLA

[2019-04-23 06:21] ivanstepanovftw commented on #1483
Yes, fixed in Cutter 1.8.1. Why 1.8.0 with so many bugs used in manjaro/pacman? Who is responsible for this?

[2019-04-23 07:19] Maijin commented on #1483
Greetings @ivanstepanovftw,

We are not responsible for the distribution you're using the details of the maintainer can be found here https://www.archlinux.org/packages/community/x86_64/radare2-cutter/.

Best Regards,

[2019-04-23 07:19] #1483 closed

[2019-04-23 07:20] Maijin commented on #1484
The bug report has specific fields you need to provide such as what is the operating system you're running on.

[2019-04-23 07:35] xarkes commented on #1478
We can have both :)

[2019-04-23 09:17] craigtao commented on #1484
i had say ,compiler is " Qt_5_8_0_MSVC2015_32bit "

do you think in linux ?

[2019-04-23 10:43] pelijah commented on #1484
Then I guess you forgot to call `vcvarsall.bat` before running `prepare_r2.bat`

[2019-04-23 19:52] karliss opened #1487 "Improve hexdump widget performance"
Test 1
* open only disassembly output and try dragging mouse over the global scrollbar at top
* open hexdump widget and repeat step above, observe that  scrolling disassembly was smoother

Doesn't seem right as display hexdump should be much simpler than disassembling and coloring asm code.

Test 2
* Open hexdump widget and scroll down (preferably using a mouse that has freely spinning mouse wheel

[2019-04-23 20:02] karliss commented on #1487
Started measuring some times.

Observation 1. I initially thought that fetchHexdump is bad as it does multiple string allocations for each byte. Measurements showed that it isn't that bad, maybe QString has some kind of small string optimization.

Observation 2. Update widths is quite slow for what it does ~70 ms. Not sure what QT is doing so long. Probably should be replaced with calculations bas

[2019-04-23 21:17] pelijah commented on #1341
Only with Windows version

[2019-04-24 05:37] craigtao commented on #1484
there are this file "vcvarsall.bat"

[2019-04-24 07:28] pelijah commented on #1484
It depends on your Visual Studio installation directory. By default it's "C:\Program Files (x86)\Microsoft Visual Studio 14.0\VC\vcvarsall.bat".

[2019-04-25 08:49] #1468 closed

[2019-04-25 13:56] TheLorax commented on #1472
I'm working on this, but unsure when I will have time to finish. It might be worth pinging me to avoid duplicate work if somebody else wants to do this potentially faster than me.

[2019-04-25 16:33] pelijah opened #1488 "Show Qt version in AboutDialog"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

**Describe alternatives you've considered**

**Additional context**

![изображение](https://user-images.githubusercontent.com/16493991/56752227-7953d700-6790-11e9-96b3-aaed29bbb09a.png)

[2019-04-25 21:15] radare commented on #1478
right now 'ec num red' is whats used because colorization happens before the replacing afaik, so changing the address will result in the same color for the flag/func.

i will add another color . assign me this thing

[2019-04-26 00:21] radare commented on #1478
fixed in r2 side

[2019-04-26 00:21] radare commented on #1478
honors `ec flag`

[2019-04-26 10:27] #1484 closed

[2019-04-26 14:28] CarveKenneth commented on #1463
I'm seeing this as well on ubuntu, will attach my crash dump as well in case it helps

[2019-04-26 22:12] karliss commented on #1463
Can be repeated using radare without cutter.
[code]

[2019-04-27 07:02] ITAYC0HEN commented on #1488
What is the idea behind this? How would the user be benefit from it?

[2019-04-27 14:50] pelijah commented on #1488
At least knowledge of Qt version is required for installing PySide2

[2019-04-27 17:58] #1136 closed

[2019-04-28 12:31] karliss commented on #1487
Performance is acceptable in [hexedit](/radareorg/cutter/tree/hexedit) branch.

[2019-04-28 12:39] karliss commented on #1470
What does it mean to click on address in grid of bytes? 4-8 bytes starting with one being clicked on, 4-8byte word mode only or something else?

[2019-04-28 12:59] ITAYC0HEN commented on #1470
hmm say you have this hexdump:

[code]
there are two values here: 0x04123456 and 0x0000073412568911
if these values are valid addresses in the binary, it would be great if double_click \ ctrl+click will jump to it.

This might be too heavy or complicated to implement, so let us know

[2019-04-28 13:01] ITAYC0HEN commented on #1470
x64dbg (Qt based, OSS) had something similar, though not pretty. Notice the underlines.

![image](https://user-images.githubusercontent.com/20182642/56864753-c2916a00-69ce-11e9-8349-a9890fdc4376.png)

[2019-04-28 13:03] thestr4ng3r commented on #290
https://bugreports.qt.io/browse/QTBUG-61707

[2019-04-28 15:17] karliss commented on #1469
Fixed by #1485, this issue can be closed.

[2019-04-28 16:30] Maijin commented on #1469
Next time you can use Fix #1485 in your commit body/title and it will automatically close the issue when merged for info ;)

[2019-04-28 16:30] #1469 closed

[2019-04-28 16:39] karliss commented on #1469
@Maijin doing that in PR also works but I messed the syntax for closing multiple issues.

[2019-04-28 19:46] karliss opened #1494 "HexWidget refactoring"
Issue for tracking information about the hexWidget in [hexedit](/radareorg/cutter/tree/hexedit)/ [karliss/hexedit](/karliss/cutter/commits/hexedit2) branch.

Issues fixed by switching to the new hexWidget:
* #1473 #1057 endian selection
* #1472  #1064 word size and format
* #1487 performance
* #1060  currently implements the drawing logic, but doesn't read value from hex.pairs.
* #1068 - copy addr

[2019-04-28 19:54] Maijin commented on #1494
Hello @karliss ,

Make sure to avoid huge branches or huge Pull-requests. Those are hard to reviews, prone to problems and we have many examples in the past at least on radare2 side where people left in the middle of their huge development.

At this stage please aim at reproducing what's currently in master hexedit to get this new system in master quickly and then add new features or fix issues th

[2019-04-28 20:03] karliss commented on #1494
Review could be simplified by splitting current HexDumpWidget in to two parts so that parts which won't be replaced can be more easily reused.

[2019-04-28 20:06] Maijin commented on #1494
Anything that can ease the review part and avoid huge PR is welcome!

[2019-04-28 21:00] pelijah commented on #1494
Some weird behaviour on Linux. On Windows it looks fine.

I enabled `mouseTracking` to change cursor image in `mouseMoveEvent()`. Maybe not all cases are handled.

[2019-04-28 22:47] spirobel opened #1495 "crash with radare script"
**Environment information**
* Operating System:Ubuntu x86_64 x86_64 x86_64 GNU/Linux

* Cutter version: 1.8.1
* File format: arm binary

**Describe the bug**

**To Reproduce**

Steps to reproduce the behavior:
run radare script
[crashreport.zip](https://github.com/radareorg/cutter/files/3125544/crashreport.zip)

**Expected behavior**

 do not crash

**Screenshots**

**Additional context**

![no up

[2019-04-28 22:54] spirobel commented on #1495
ok it also does not crash if i just uncheck virtual addresses which makes sense. But even then I dont see the symbols in the symbols tab and this command:
[0x00000000]> pd @ sym.irq_uart0_handler_0x00018000
produces no output which it does when running the script in radare without cutter

[2019-04-30 01:06] JorgeTebruski opened #1496 "Bug in graph overview when changing theme"
**Environment information**
* Operating System: windows 10
* Cutter version: 1.8.1
* File format:
 * Arch:
 * Type:

**Describe the bug**

When switching from light theme to dark theme, the background of the graph overview still remains white.

**To Reproduce**
Steps to reproduce the behavior:

1. Change QT theme to light
2. Change QT theme to dark

**Expected behavior**

When switching from light

[2019-05-01 07:24] ITAYC0HEN opened #1497 "Parse Console widget output and make Flags and Addresses clickable"
**Is your feature request related to a problem? Please describe.**

Whenever we use the Console widget, we frequently need to copy flag names and addresses from the output and then seek to them manually or by using the shortcut <kbd>G</kbd>. This might be tedious when you jump between addresses.

**Describe the solution you'd like**

It would be great to parse the output of the Console widget and

[2019-05-01 13:05] thestr4ng3r commented on #1495
You load the script using the "Load Script" Text field in the Initial Options dialog, right? What are the exact settings that you use there? Also which of the files do you load exactly? full100k.bin + radare_script_nrf51.r2?

[2019-05-01 16:19] ITAYC0HEN commented on #1478
As for @trufae, this is now merged in r2. @pelijah, Can you check if we can make it work in Cutter now?

[2019-05-01 17:54] spirobel commented on #1495
I didnt change any of the options and used the "Load Script" Text field. I loaded 100k.bin and the radare_script. It crashed on me multiple times. Thats where the crash dump came from. I retried it today but it seems like its not crashing anymore. Maybe this is some kind of heisenbug i am sorry.
Anyhow, the issue with the missing symbols still persists.

[2019-05-01 20:25] #922 closed

[2019-05-03 06:18] karliss commented on #1494
A little progress update, I am currently working on splitting existing HexDumpWidget in two parts. One of which will get later replaced by the new hexWidget. It builds and opens but I still need to connect the signals for it to work properly.

[2019-05-03 08:45] ITAYC0HEN commented on #1496
I couldn't reproduce
![graph_light_to_dark](https://user-images.githubusercontent.com/20182642/57127371-d9520b00-6d98-11e9-8bf7-e926ea55fe14.gif)

[2019-05-03 08:50] ITAYC0HEN commented on #560
Tested and it is now fixed :)

[2019-05-03 08:50] #560 closed

[2019-05-03 08:51] ITAYC0HEN commented on #798
@dmknght not buggy, but changed the way you drag and drop. to support dragging groups. So to drag a widget you should do this from the tab. and to drag a group of widgets do this from the top bar

[2019-05-03 09:06] dmknght commented on #798
I'm sure what do you mean because this is about text highlighting error.

[2019-05-03 09:13] ITAYC0HEN commented on #798
You mentioned Widget Panels. What did you refer to?

On Fri, May 3, 2019, 12:06 dmknght <notifications@github.com> wrote:

[2019-05-03 10:53] xarkes commented on #1496
In the original issue, the problem appears on Windows, and I think you are under linux in the gif, am I right?

[2019-05-03 13:38] JorgeTebruski commented on #1496
![BugTheme](https://user-images.githubusercontent.com/38569298/57140772-f41f8200-6d8e-11e9-925a-f8c49c236ce1.gif)

When trying again, the bug occurred only in the native theme. This seems to be random.

[2019-05-04 06:45] ITAYC0HEN commented on #1435
CC @a1ext

[2019-05-04 06:46] ITAYC0HEN commented on #1496
@optizone maybe you can figure out the reason?

[2019-05-04 08:00] a1ext commented on #1435
These warnings are because of non fully-implemented this feature in r2-side https://github.com/radare/radare2/commit/3fba693b91173a65d5abc66aebdb45f93449ce08

@GustavoLCR could you take a look?

[2019-05-04 09:31] karliss commented on #1496
I was able to repeat a similar problem on Linux by changing only color them not interface theme.
* copy a light color theme
* switch to dark interface theme
* switch between one of dark color themes and copied light color theme, observe that overview doesn't get updated.

I guess that @JorgeTebruski being able to repeat it only with native theme is related to fact that native interface theme allow

[2019-05-04 09:41] optizone commented on #1496
Actually, it is old bug. Background of overview does not changes after `Configuration::colorsUpdated` immediately, but if you drag and drop this widget, it updates. Seems like cache issue.

[2019-05-04 10:00] karliss commented on #1496
Adding setCachDirty to OverviewView::refreshView helped.

[2019-05-04 10:27] optizone commented on #1496
@ITAYC0HEN is it just me or when light theme is selected text in interface theme combo box is the same color as background?

https://github.com/radareorg/cutter/issues/1496#issuecomment-489013136

[2019-05-04 18:38] optizone commented on #1496
@karliss will you send PR so we can close the issue?

[2019-05-04 20:37] karliss opened #1503 "Overview movement doesn't work when overview widget is small"
**Environment information**
* Operating System: Linux
* Cutter version: 19be6df20c7034823c148d8de6d905bffa36658d
* File format: Not applicable

**Describe the bug**

When graph overview widget is small moving view by clicking and dragging doesn't work properly. View position gets only updated during initial click but not while dragging mouse. Problem disappears after increasing size of overview wi

[2019-05-04 20:50] ITAYC0HEN commented on #1503
CC @Vane11ope

[2019-05-05 15:39] pelijah commented on #1478
Meh

![изображение](https://user-images.githubusercontent.com/16493991/57196354-d86dd480-6f64-11e9-8063-2051c1602d47.png)

[code]

[2019-05-05 15:45] ITAYC0HEN commented on #1478
Should the theme you use ads this line in order to support the new color eval?

@trufae how can we make your PR work here? We nned instructions haha

[2019-05-06 08:30] #1496 closed

[2019-05-06 09:35] radare opened #1505 "Add filesystem support in Cutter"
mj and mlj are now implemented in r2, so it should be enough to have it in cutter too

[2019-05-06 20:15] karliss commented on #1265
Here are a few other Qt docking  widget libraries:
* https://github.com/mfreiholz/Qt-Advanced-Docking-System
* https://github.com/nitramr/indigoDock  - designed for specific qt program, but half of it is the docking library. Should be possible to separate the docking library if provided functionality is worth it.
* https://github.com/KDAB/KDDockWidgets - one of the few that seems to be maintained

[2019-05-07 11:13] andryblack commented on #1347
Fixed in radare2 [#11385](https://github.com/radare/radare2/issues/11385)

[2019-05-07 11:21] Maijin commented on #1347
@andryblack thanks for the update, do you know if this is fixing #1113 too, please advise 👍

[2019-05-07 11:21] #1347 closed

[2019-05-07 14:35] andryblack commented on #1113
Fixed in radare2 [#11385](https://github.com/radare/radare2/issues/11385)

[2019-05-07 16:49] GustavoLCR opened #1507 "Dark Mode graph bbs are white"
**Environment information**
* Operating System: Windows 10
* Cutter version: 1.8.1 (Latest Appveyor build)
* File format: pe64
 * Arch: x86
 * Type: EXEC (Executable file)

**Describe the bug**
Non-selected basic blocks in the graph are white so the text is hard to see.

**To Reproduce**
Steps to reproduce the behavior:
1. Enable dark mode
2. Open a file
3. Analize functions
3. Switch to graph tab

[2019-05-07 17:06] karliss commented on #1507
What color theme are you using? I didn't notice anything similar while working on overview colors not being updated.

[2019-05-07 19:33] GustavoLCR commented on #1507
Im using ayu. but it doesn't seems to matter

Em ter, 7 de mai de 2019 às 14:06, karliss <notifications@github.com>
escreveu:

[2019-05-08 11:04] #1113 closed

[2019-05-08 11:04] ITAYC0HEN commented on #1113
Thank you :)

[2019-05-08 15:48] thestr4ng3r commented on #1482
Actually it is possible to connect to CutterCore's signals like this:
[code]
but yeah the way these are generated as functions is still wrong and should be fixed.

[2019-05-08 19:59] philipmnelson commented on #1299
Working on this one right now! Just wondering what keys I should bind to. I'm thinking C-z for undo and C-r for redo since that is the usual binding for most programs.

[2019-05-08 20:04] karliss commented on #1299
How about QKeySequence::Back and QKeySequence::Forward ?

[2019-05-08 20:10] philipmnelson commented on #1299
You know, that sounds better actually, since that's essentially what these do. Thanks!

[2019-05-08 20:12] ITAYC0HEN commented on #1299
I think that <kbd>ESC</kbd> is already there for "undo seek"

[2019-05-08 20:18] philipmnelson commented on #1299
It is. Is there a good reason to add another hotkey for "undo seek" other than proximity on the keyboard?

[2019-05-08 20:20] ITAYC0HEN commented on #1299
@maijin

[2019-05-08 20:35] Maijin commented on #1299
Well if undo seek is done, only remain redo seek then if not already done

[2019-05-08 20:38] karliss commented on #1299
* Undo seek currently is handled in certain widgets like disassembly not globally
* Undo seek/redo seek actions in main window are duplicated, it should be possible add single action in multiple menu.

[2019-05-08 20:38] philipmnelson commented on #1299
Where would be the best place to add a hotkey for redo seek then?

[2019-05-08 20:53] karliss commented on #1299
Try adding something like `ui->actionForward->setShortcut(QKeySequence::Forward);` to mainwindow.

While on it I also recommend deduplicating the action and leaving one which has more details (actionForward/actionBack). Not sure if it can be done through GUI editor but it's straight forward by editing .ui file, because action definition and adding it to menu are two seperate tags.

[2019-05-08 21:11] karliss opened #1508 "Clicking on graph overview causes crash"
**Environment information**
* Operating System: Linux
* Cutter version: d6bb0c0446c30e5661b96c86fd532bbd46e99e9c
* File format: elf

**Describe the bug**

Clicking on empty graph overview causes crash.

**To Reproduce**

Steps to reproduce the behavior:
1.  Open executable in cutter, make sure graph isn't visible  but overview is. If graph was visible restart cutter after switching to Dashboard or

[2019-05-08 22:09] karliss commented on #1494
Tried rebasing this branch on top of #1504, seek synchronization worked, keyboard shortcuts weren't detected, font size update wasn't working correctly.

[2019-05-09 07:25] keesj opened #1509 "bashisms in build.sh"
**Environment information**
* Operating System: Ubuntu cosmic
* Cutter version: git checkout

**Describe the bug**

The build script contains bashisms that cause problems on systems that do not have bash installed

*The use of "[["*

"[[" is bash specific and causes the following error on my system
./build.sh: 67: ./build.sh: [[: not found

I suggest using
if [ -n "$VAR" && "$VAR" = "bla" ]

*The

[2019-05-09 08:28] Maijin commented on #1509
Can you send a Pull-request so it can be reviewed directly there?

[2019-05-09 10:31] XVilka opened #1511 "Add LGTM configuration file"
You might noticed it is now performs auto analysis. It is better to set the configuration properly: https://lgtm.com/help/lgtm/lgtm.yml-configuration-file

See https://github.com/radareorg/cutter/pull/1510/checks?check_run_id=122987550 for example

[2019-05-09 18:49] philipmnelson commented on #1299
That works, where is the best place in mainwindow to add this?

[2019-05-09 20:44] ITAYC0HEN commented on #1264
https://twitter.com/jinmo123/status/1126436819283800064?s=21

[2019-05-10 06:54] keesj commented on #1509
It looks like the patch does address the problems I mentioned. somebodt on irc mentioned that is might be a good idea to run https://github.com/koalaman/shellcheck

[2019-05-10 10:50] ITAYC0HEN commented on #1508
@Vane11ope can you look at it?

[2019-05-10 16:47] #1392 closed

[2019-05-10 18:22] #1299 closed

[2019-05-11 13:50] karliss commented on #1494
Almost ready for review and PR.
* Will create an updated test plan based on #1504
* Need to check the formatting

[2019-05-11 20:28] karliss commented on #1470
Related to  #1411

[2019-05-12 04:08] #1508 closed

[2019-05-12 09:27] Maijin opened #1518 "Disable Horizontal scrollbar to Hex Panel"
**Is your feature request related to a problem? Please describe.**

All three columns of hexdump widget should be visible on screen - Offsets, bytes and ASCII. Shrinking won't be possible if it will hide some of these columns. Horizontal scrollbar mustn't appear.

**Describe the solution you'd like**

Disable horizontal scrollbar in Hex Panel

[2019-05-12 09:31] Maijin opened #1519 "ASCII selected - Add Copy Text shortcut in Hex Panel"
**Is your feature request related to a problem? Please describe.**

When selecting ASCII in the left column - Add Copy Text shortcut <kbd>Ctrl</kbd>+<kbd>C</kbd>.
To ease usability

**Describe the solution you'd like**

When selecting ASCII in the left column - Add Copy Text shortcut <kbd>Ctrl</kbd>+<kbd>C</kbd>

[2019-05-12 09:39] #1519 closed

[2019-05-12 09:45] Maijin opened #1520 "Add right click add a flag in Hex Panel"
**Is your feature request related to a problem? Please describe.**

To be able to quickly add flag when noticing a pattern.

**Describe the solution you'd like**

Reuse the code from disassembly/graph to add right click add a flag in Hex Widget

[2019-05-12 09:48] Maijin opened #1521 "Add apply structure in Hex Panel"
**Is your feature request related to a problem? Please describe.**

To quickly parse file format using the Hex Panel

**Describe the solution you'd like**

Add right click apply structure.

This issue is blocked by #532

[2019-05-12 10:39] Maijin commented on #1474
Actually this is fixed incorrectly, the copy paste must copy the starting address, not the end address of the selection/cursor for both ASCII and hexadecimal.

[2019-05-12 14:16] karliss opened #1522 "Automatically select appropriate address width for hex widget."
**Is your feature request related to a problem? Please describe.**

Always using 64 bit address takes unnecessary space.

**Describe the solution you'd like**

Automatically select address width based binary file. Possible indicators:
* asm.bits
* file size for generic files?
* increase  when scrolling past expected end?

[2019-05-12 14:29] karliss opened #1523 "Hex widget use different highlight style for hex/ascii parts"
**Is your feature request related to a problem? Please describe.**

Currently it is impossible to tell if selection in hexwidget is done in hex or ascii part.
Side of selection matters for:
* keyboard navigation
* default copy behaviour

**Describe the solution you'd like**

Use different highlight style for side for side where selection was done and other side.  For example see how binary ninja d

[2019-05-12 14:37] karliss commented on #1518
I see two ways how it can be solved, implementing both would be good.
*  Properly interact with Qt sizing system sizing policy, minimum size, preferred size
* Dynamic resizing mode - select most suitable size based on available space. Would be added as one more choice in list of available widths.

[2019-05-12 15:51] Maijin commented on #1518
@ITAYC0HEN

[2019-05-12 15:52] ITAYC0HEN commented on #1518
Both sounds great!

[2019-05-12 17:58] karliss commented on #1520
Duplicate of #1069

[2019-05-12 19:18] #1520 closed

[2019-05-12 19:22] Maijin opened #1524 "Paste Hex Panel"
**Is your feature request related to a problem? Please describe.**

To be able to edit files by pasting hexadecimal or ASCII content.

**Describe the solution you'd like**

When started in edit/cache mode only, <kbd>Ctrl</kbd>+<kbd>V</kbd> will remove the selected text if any is selected and will insert the content of the clipboard otherwise will only insert (like text editor). Both for ASCII and

[2019-05-12 19:23] Maijin opened #1525 "Cut Hex Panel"
**Is your feature request related to a problem? Please describe.**

To ease the edition of files using hex panel

**Describe the solution you'd like**

Cut - (**Only on write\cache mode**) - copy the selected ASCII\Bytes to clipboard and remove them

[2019-05-12 19:26] Maijin opened #1526 "Transform (or Modify) in Hex Panel"
**Is your feature request related to a problem? Please describe.**

Ability to modify the binary using bits operation (xor, rol etc.) and crypto operations (rc2, rc4,...).

**Describe the solution you'd like**

Will perform Write Operations on the selected bytes (see `wo?`, `woD?` commands)

[2019-05-12 19:28] Maijin opened #1527 "Hexdump Sidebar better fitted to the screen"
**Is your feature request related to a problem? Please describe.**

Currently the Sidebar is not very aware to its width in the screen, especially the Expand\Collapse button

**Describe the solution you'd like**

Make the sidebar aware to its width in the screen, especially the Expand\Collapse button

[2019-05-12 19:30] Maijin opened #1528 "When idle, Hexdump Sidebar must not perform operations"
**Is your feature request related to a problem? Please describe.**

To optimize speed.

**Describe the solution you'd like**

When idle, Hexdump Sidebar must not perform operations

[2019-05-12 19:34] Maijin opened #1529 "Sidebar Hexdump Code highlighting"
**Is your feature request related to a problem? Please describe.**

**Describe the solution you'd like**

To improve readability in the sidebar.

Add Code highlighting for the selected parsing langauge (python, c, JS, etc)