[2018-06-04 08:26] xarkes opened #513 "Reset settings should not modify architecture"
Modified settings should only be visual stuff not disassembly/analysis related.

[2018-06-04 09:25] xarkes opened #514 "Analysis presets?"
radare2 analysis is not meant to be fully automatic and painless. Maybe we should add some presets (rather than aaa, aaaa, custom) in the analysis window.
For example, for PPC those commands are very useful for analysis:
[code]
I believe it is also useful for ARM and such.
While for x86, `aaa` is most of the time enough.

[2018-06-04 09:32] xarkes opened #515 "Silent seek when in same function?"
Currently when analyzing a function, I often click on different blocks, which makes the widget change its seeked address.
But when I want to leave that function with escape (or the back arrow) it goes back to where I clicked until it leaves the function (so it can take a while).
Maybe we should just use `ss` (silent seek) when we are inside a function?

[2018-06-04 09:32] xarkes commented on #503
So if I understood correctly, you will drop your repository, and make a pull request here?

[2018-06-04 10:11] xarkes opened #516 "Strings offsets are wrong"
I loaded a binary with `-m` and it looks like the strings offsets are wrong (it points to unmapped memory)

[2018-06-04 11:00] MiroslavR commented on #512
Yes.

[2018-06-04 11:57] xarkes commented on #512
Can you share that simple hello world program too?

[2018-06-04 12:16] MiroslavR commented on #512
Sure, here it is: [helloworld.zip](https://github.com/radareorg/cutter/files/2068158/helloworld.zip)

[2018-06-04 15:34] JulioSDDR opened #517 "Move to gitlab?"

[2018-06-04 15:51] xarkes commented on #517
Why?

[2018-06-04 15:53] #517 closed

[2018-06-04 19:12] MiroslavR commented on #512
BTW, these are my build/run scripts:
- [Build Radare2](https://gist.github.com/MiroslavR/f85b1165979d60ebc8e6c29f4103161b)
- [Build Cutter](https://gist.github.com/MiroslavR/c3422cabd9c3d58616a917d9cf0dff9c)
- [Run Cutter](https://gist.github.com/MiroslavR/96151e5384e265a5f272d585cbef0b01)

Is there anything wrong with how I build Cutter or R2?

[2018-06-04 22:24] ps1337 commented on #503
Correct, I'll try to get this done before the weekend begins

[2018-06-05 12:14] MiroslavR commented on #512
Ok, I think I figured it out. For some reason, Radare2's pkgconfig (_r_core.pc_) is adding a dependency on my system capstone via `-lcapstone`, even though these libraries actually use built-in capstone. I guess the two capstones were somehow conflicting. Removing capstone from _r_core.pc_ solved all the issues mentioned in this report.

[2018-06-05 12:15] xarkes commented on #512
Cool, thanks for investigating!

[2018-06-05 12:15] #512 closed

[2018-06-05 14:06] s0i37 commented on #510
All good.
I removed all radare* packages (include dev,lib,etc)
Then I made:
[code]
And I have loaded my project successful!

[2018-06-05 14:06] #510 closed

[2018-06-05 14:36] xarkes commented on #510
Cool, thanks for the feedback!

[2018-06-05 17:18] ITAYC0HEN commented on #397
@fcasal, are you on it? please write if there's any update on this one :)

[2018-06-05 17:31] ITAYC0HEN opened #518 "Empty and uninformative Graph on non-functions"
In cases where the seek is not in a function, like in this example (Disassembly widget):

![image](https://user-images.githubusercontent.com/20182642/40991837-adfddc4a-68fd-11e8-97c2-915a2dbac473.png)

We will get an emty graph on the Graph Widget:

![image](https://user-images.githubusercontent.com/20182642/40991880-cc2002c0-68fd-11e8-98e6-4fcead1504fd.png)

I'm suggesting to put a visible text i

[2018-06-05 18:07] xarkes commented on #518
Agreed.
By the why I wonder why there is black text?

[2018-06-05 18:16] Maijin commented on #397
@ITAYC0HEN @fcasal is currently focus on the GSOC (debugger) see the Pull requests and give your feedbacks.

[2018-06-07 08:53] ulidtko commented on #498
I just loaded up a **45 MiB binary** (static link + debuginfo)... 5 minutes later, had to abort the `aaa` phase and retry without analysis. This time, it loaded up, and `aa`'d reasonably fast — however, the Cutter process now shows a crushing RSS of **6 GiB** o'ram.

Like, guys... if anyone would be willing to take on some heap profiling for this — it'd be shining cool to shave off some of this **

[2018-06-07 08:55] xarkes commented on #498
Yes of course, that's why this issue is opened. Ideally it would be great if you could share the binary, because that much RAM usage might be due to the analysis of your binary.

[2018-06-07 09:03] #502 closed

[2018-06-07 09:20] ulidtko commented on #498
Well it's really nothing particularly special, just a statically linked C++ service with dwarf3 debuginfo and some LLVM instrumentation (fuzz+asan). Afraid I can't simply share it, since that's uhh company property; however I guess, pretty much any similar big binary will do.

[2018-06-07 09:26] ulidtko commented on #498
The bare `r2`, btw, eats 2.2 GiB just on loading the same binary, with additional 1.5 GiB consumed after `aa`. The total 3.7 gig is considerably smaller that cutter's; so it seems there're ways to go.

[2018-06-07 09:28] xarkes commented on #498
Thanks for clarifying.

[2018-06-07 10:58] davidbrazdil opened #522 "Cutter 1.4 crashes on Linux (stack smashing detected)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian sid x86/64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| Cutter and r2 version, See About C

[2018-06-07 18:10] Maijin opened #523 "Create POC for debugging/emulation."

[2018-06-07 19:21] dharmangbhavsar commented on #518
Hi! This might be my first contribution so can you help me here? You just want to check the QJsonDocument object for emptiness right? And for the text in the window, I was not able to find the window handle for the setWindowText() function, if you're using that!

[2018-06-07 21:35] KarolS opened #524 "Load offset/map offset are ignored"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10 x64
| File format of the file you reverse (mandatory)      | Commodore PRG
| Architecture/bits of the file (mandatory)            | 6502 (8-bit)
| Cutter and r2 version

[2018-06-08 06:40] xarkes commented on #524
Hi,
Just to clarify a bit, if I am not mistaken:
- Load Address (`-B`) is here to tell Cutter where the file header begins. In your case, it begins at 0x0, so it should remain empty (or 0).
- Map Address (`-m`) tells Cutter to shift your binary to a specific offset

In my case I often work with `-m` and I have no issues with that. Maybe there is a bug when modifying both fields, but I cannot repro

[2018-06-08 06:44] xarkes commented on #524
Here is what I have when modifying Map Address only:
![2018-06-08-084358_1066x829_scrot](https://user-images.githubusercontent.com/10772605/41143024-22e5ccc4-6af8-11e8-8a41-9992502bf55c.png)
Which looks good to me.

[2018-06-08 12:39] KarolS commented on #524
The first two bytes are not the part of the program, they are the file header, they should not be loaded. The byte at address 0x801 should be 0x0b.

Anyway, the CLI version of Radare2 works fine, it's the Cutter GUI that I have a problem with. This is what I'm doing:
![obraz](https://user-images.githubusercontent.com/1790750/41157597-9f76bee6-6b26-11e8-9261-2188a2ba33c2.png)

After a cursory glanc

[2018-06-08 12:42] xarkes commented on #524
Ah indeed. I thought that was fixed before, sorry about that. Yes you can download the latest build from here:
https://ci.appveyor.com/project/radare/cutter/branch/master/job/dnov3995y8aq2jog/artifacts
Let me know if that fixes it.

[2018-06-08 13:07] KarolS commented on #524
Yes, in this newer version everything looks fine.
The -B option still doesn't do anything interesting, but loading with -m 0x7ff works good enough.
Maybe I'll submit one day a patch for Radare2 with proper PRG file support.
Thanks.

[2018-06-08 13:07] #524 closed

[2018-06-09 08:12] xarkes commented on #522
Well it's hard to tell what is wrong here.
I tried with the latest AppImage and I cannot reproduce this crash...

[2018-06-09 08:15] xarkes commented on #518
Yes exactly @dharmangbhavsar, just make a pull request and we will guide you from here if anything is wrong.
For inspiration you can take a look at `JupyterWidget.cpp`, it also prints a text if Jupyter is not available.

[2018-06-09 08:20] ITAYC0HEN commented on #518
Also, great to have you with us Dharmang (@dharmangbhavsar)! Welcome aboard!

[2018-06-09 09:31] xarkes commented on #467
Here's a hackmd to think about it. Feel free to add suggestions.
https://hackmd.io/XZsiLVQoTBKF2KLOATh4qA#

[2018-06-09 09:41] xarkes opened #525 "Plugins"
Let's talk about plugins here or in this hackmd:
https://hackmd.io/lM1IPaAET7-PQsts44oehA#

* PyQt plugins: https://github.com/radareorg/cutter/issues/496
* Other plugins: https://github.com/radareorg/cutter/issues/203

[2018-06-09 10:14] xarkes commented on #513
Fixed in https://github.com/radareorg/cutter/commit/22643535074cacc0865227b939a423871d360481

[2018-06-09 10:14] #513 closed

[2018-06-09 10:15] xarkes commented on #501
Hello, can you share directly the binary here? (drag and drop it) I cannot download the sample.

[2018-06-09 10:22] Maijin commented on #501
And follow the template to create issue as we don't know which version you are using.

[2018-06-09 10:43] wavvs commented on #501
@xarkes
[49dbf3e4a78e87f87f0bfd90d9e42338.zip](https://github.com/radareorg/cutter/files/2086881/49dbf3e4a78e87f87f0bfd90d9e42338.zip)
@Maijin it's in the title, cutter 1.4 release version

[2018-06-09 10:55] Maijin commented on #501
That's not what the template is requesting, 1.4 can be git, can be non-git, can be OSX, can be linux, can be windows, can be something else, please use the template we can't guess.

[2018-06-09 10:55] Maijin commented on #501
same for the radare2 version

[2018-06-09 11:15] wavvs commented on #501
Why do I need explicitly paste r2 version if you ship it along with cutter? Ughh...

[2018-06-09 11:18] xarkes commented on #501
I think Maijin meant you didn't specifiy if you compiled it yourself, or if you were using the latest release.
Hence those information.

[2018-06-09 11:27] Maijin commented on #501
Thanks for using the template ;)

[2018-06-09 14:51] 0x00rick opened #526 "missing pip packages: jupyter_client and notebook"
### machine

    OS: Ubuntu 18.04 LTS x86_64
    Kernel: 4.15.0-22-generic
    DE: Xfce

### cutter

    Cutter v1.4
    Using r2-2.5.0-160-gd774f579a

### noticed error

Upon start I could observe the following 2 stack traces:

[code]
and

[code]

### Fix

The fix is simple as I just had to do `pip3 install notebook jupyter_client` to get rid of the error.
I'm unsure of that's just an issue on my

[2018-06-09 17:28] Maijin opened #527 "Missing functions informations in function widget"
Missing functions informations in function widget from afll:

- calls
- xref
- edges
- cost
- frame

[2018-06-09 17:34] xarkes commented on #526
If you compiled it yourself, then it's an issue on your end.
You can disable this by removing `CUTTER_ENABLE_JUPYTER` definition when compiling.

[2018-06-09 17:38] 0x00rick commented on #526
I see that would explain it then.
I followed the instructions for building in the readme

### Building

First you must clone the repository:

    git clone --recurse-submodules https://github.com/radareorg/cutter
    cd cutter
    ./build.sh

I guess most people would do exactly that when reading through the readme.
So imo including jupyter and notebook in the default install routine or an explici

[2018-06-09 17:55] Maijin opened #528 "Right click edit functions"
Add right click edit functions in function list and function name in disassembly/graph, it should pop-up a dialog to edit functions:

- Rename
- Change start address
- Change end address
- Change stack frame size `afS`
- Calling convention

Maybe More?

[2018-06-09 18:08] Maijin opened #529 "Right click color block/instruction line"
- [ ] Right click color block
- [ ] Right click instruction line.

[2018-06-09 18:38] 0x00rick commented on #526
will do a PR soon.
You can review it later

[2018-06-10 07:47] ITAYC0HEN opened #531 "Add/fix the ability to rename local variables and arguments"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | 64
| Cutter and r2 version, See About Cutter (m

[2018-06-10 07:54] ITAYC0HEN opened #532 "Implement the pf and t for file structures and types"
Implement a UI for `pf` to print file formats, just in other file-format viewers such as 010Editor, PEView, CFF Explorer, etc

Examples:
![image](https://user-images.githubusercontent.com/20182642/41199519-4450f67c-6c9c-11e8-8ea8-c0a1a70b9a49.png)

---
![image](https://user-images.githubusercontent.com/20182642/41199526-60736d30-6c9c-11e8-8113-f08ad6054166.png)

---

![image](https://user-images.g

[2018-06-10 10:15] Maijin opened #533 "Add Segments in Cutter"
See Add Segments in Cutter
https://github.com/radare/radare2/pull/10288#event-1672464820 See iSSj

[2018-06-10 10:17] Maijin commented on #532
We should wait @sivaramaaa enhancements before launching this imho

[2018-06-10 14:59] ps1337 commented on #503
Sent PR #534.

Please check the note on referencing/adding the files.

[2018-06-12 23:00] Rehan-MALAK opened #538 "Empty Disas on hello-world main function compiled with debug symbols"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian GNU/Linux unstable (sid)
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| Cutter and r2 versio

[2018-06-13 07:29] xarkes commented on #538
Hi,
Can you provide the exact binary so it's easier for us to reproduce?
Thanks!

[2018-06-13 07:35] xarkes commented on #538
Nevermind I found the bug. Will fix later.

[2018-06-13 15:03] xarkes commented on #41
Closing as I think it's done already.

[2018-06-13 15:03] #41 closed

[2018-06-13 15:05] xarkes commented on #159
If you were talking about quick filter I think this is done.

[2018-06-13 15:05] #159 closed

[2018-06-14 11:49] xarkes commented on #397
As said this is quite easy to do as the code is (or was) present (taken from x64dbg graphs).
I think it's just a matter of knowing what to copy paste and where.

[2018-06-16 20:18] xarkes commented on #496
@danigargu FYI: http://blog.qt.io/blog/2018/06/13/qt-python-5-11-released/?hsCtaTracking=6a98599e-2336-40fc-bb33-940e46e48720%7C96301a53-b975-4aba-80c4-ded982b9ae29

So we will likely be using PySide2 for our plugin interface. I don't have a PoC yet but I hope it's not an issue.

[2018-06-17 21:00] xarkes commented on #298
Done.

[2018-06-17 21:00] #298 closed

[2018-06-19 21:11] alfarom256 opened #542 "Errno 99 : socket not binding when also using certain VPN clients"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian, amd64, Kali 2018v1(Debian 4.14.12-2kali1) x86_64
| File format of the file you reverse (mandatory)      | N/A
| Architecture/bits of the file (mandatory)            | N/A

[2018-06-20 08:57] xarkes commented on #448
Done earlier in June.

[2018-06-20 08:57] #448 closed

[2018-06-20 09:27] mien opened #544 "Can't see the switch statement graph after the jump statement"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             |Ubuntu 18
| File format of the file you reverse (mandatory)      | ELF etc.
| Architecture/bits of the file (mandatory)            | x86
| Cutter and r2 version, See About Cutter (

[2018-06-20 09:35] xarkes commented on #516
Plus it doesn't print all strings (when dealing with multiple files)

[2018-06-20 09:47] radare commented on #544
e anal.jmptbl=true

[2018-06-20 10:33] mien commented on #544
sorry didn't get you !

[2018-06-20 10:48] xarkes commented on #544
Try to manually set this setting in the Console.
`e anal.jmptbl=true`
After that refresh the view, it might fix it.

[2018-06-20 12:53] mien commented on #544
Nope not working

[2018-06-20 13:11] radare commented on #544
You have to set this option before analyzing the function

[2018-06-20 13:11] radare commented on #544
Dunno if cutter have this option anywhere im just speaking about r2

[2018-06-20 14:33] Maijin commented on #544
![image](https://user-images.githubusercontent.com/1408600/41665178-acc23370-74a7-11e8-8fbb-2508f21357fb.png)

[2018-06-21 09:17] xarkes commented on #501
Just noticed that was because of projects.
Projects on radare2 side are very shitty (produces many wrong files) and I think that's mostly why Cutter crashes here.

[2018-06-22 08:40] Maijin opened #547 "Add a paste shellcode in open dialog"
Add a paste shellcode in open dialog.

Once the user select this option in the open menu, it will be prompted with a large text field that the user can populate with a shellcode like: B8C342BAFFF7D08B388B37BDC698B9FFF7D58B4D7756FFD10563D62D0B2D4DD52D0BFFE0

A quick verification should also check for 0x and remove it.

[2018-06-22 11:12] ITAYC0HEN commented on #547
What do you think, should it create a new file on disk or just to use `malloc://` like this
[code]

[2018-06-22 12:07] ITAYC0HEN commented on #531
I believe that the problem is from radare at [`cmd_an()` ](https://github.com/radare/radare2/blob/122cb395e988dad114b54b1483fd6210d719b012/libr/core/cmd_anal.c#L800)

[code]

[2018-06-22 12:09] Maijin commented on #547
just use malloc

[2018-06-22 12:09] ITAYC0HEN commented on #515
Sounds good to me

[2018-06-26 09:46] xarkes commented on #538
Cannot find the commit, but it's been fixed on radare2 master branch.

[2018-06-26 09:47] xarkes commented on #544
Closing as activating this jmptbl option fixes it.

[2018-06-26 09:47] #544 closed

[2018-06-26 09:48] xarkes commented on #496
Won't have time to do that for 1.5. Moving for next release.

[2018-06-26 09:49] xarkes commented on #522
Can anyone reproduce this?

[2018-06-26 09:51] xarkes commented on #398
Can't reproduce, I think #483 fixed it.

[2018-06-26 09:51] #398 closed

[2018-06-26 10:06] fcasal commented on #522
Takes some time but opens fine for me on both the latest Appimage and master.

[2018-06-26 10:50] xarkes commented on #522
Ok thanks, I'm closing, feel free to reopen if it still happens with the upcoming 1.5 release.

[2018-06-26 10:50] #522 closed

[2018-06-27 07:11] xarkes commented on #420
Btw, I started the new tool here: https://github.com/radareorg/r2pm

[2018-06-29 04:05] XVilka opened #555 "Parity with another RE programs"
See `parity` label in radare2 https://github.com/radare/radare2/issues?q=is%3Aopen+is%3Aissue+label%3Aparity

[2018-07-01 00:08] Maijin commented on #555
no need to create an issue for that :p I have created the label though

[2018-07-01 00:08] #555 closed

[2018-07-01 06:08] s0i37 opened #558 "Text highlighting in "Graph" mode"
Hello.
May you please add highlighting some text in "graph" mode as well as in "Disassembly"?

[2018-07-01 07:33] xarkes commented on #558
I think this is a duplicate for https://github.com/radareorg/cutter/issues/444

[2018-07-01 08:21] #503 closed

[2018-07-01 08:29] xarkes commented on #531
Looks fixed on master.

[2018-07-01 08:32] ITAYC0HEN commented on #531
Is there any PR as a reference?

[2018-07-01 08:32] xarkes commented on #531
Nope, maybe in radare2, but at least I cannot reproduce.

[2018-07-01 08:35] ITAYC0HEN commented on #531
Oh yeah, I remember I checked and saw that the problem is in r2. Sadly I'll
be afk for a while so can't really check.

If you say so, I believe you

On Sun, Jul 1, 2018, 11:32 xarkes <notifications@github.com> wrote:

[2018-07-01 08:35] xarkes commented on #531
Ideally I should check on the same binary as you, but I tried with different ones and it looks good.
Worst case, you can still reopen the issue.

[2018-07-01 08:35] #531 closed

[2018-07-01 08:36] xarkes commented on #516
The issue lies in radare2. The matter is that the virtual address is wrong for some sections.

[2018-07-01 08:37] ITAYC0HEN commented on #531
iirc it's Dropshot. You can find the binary in the articles I published on
Cutter. The addresses are in the screenshot.

On Sun, Jul 1, 2018, 11:36 xarkes <notifications@github.com> wrote:

[2018-07-01 08:41] xarkes commented on #531
Confirmed, fixed.

[2018-07-01 09:00] xarkes commented on #525
C++ plugins done in https://github.com/radareorg/cutter/pull/550

[2018-07-01 09:03] xarkes commented on #518
Waiting for https://github.com/radareorg/cutter/pull/537

[2018-07-01 10:41] thestr4ng3r commented on #514
Good idea. I think the analysis dialog should be revised a bit in general. It should be more clearly separated what belongs to file loading and what to analysis. Then the analysis part should be able to be split off to also be able to be used after the file has been opened without duplicating code.

[2018-07-01 11:47] xarkes commented on #514
Sorry fail in issue number...

[2018-07-01 11:48] xarkes commented on #518
Fail in issue number, fixed in https://github.com/radareorg/cutter/commit/22465615a4cda2c9bf6a2efd5667b62dba1d8814

[2018-07-01 11:48] #518 closed

[2018-07-01 12:15] xarkes commented on #501
So yeah I think projects are too broken to be actually used in Cutter.
We really need to refactor the projects in radare2.

[2018-07-01 12:40] xarkes commented on #255
https://github.com/radareorg/cutter/pull/553

[2018-07-01 13:40] Maijin commented on #529
Merged both issues

[2018-07-01 13:40] #529 closed

[2018-07-01 13:51] #424 closed

[2018-07-01 18:51] s0i37 commented on #558
No no no. In #444 I mean highligthing instruction like a "ecHi". But here I mean that then I select some var or register it will not highlighted in another instructions.

[2018-07-01 19:04] xarkes commented on #558
Ah ok sorry.

[2018-07-01 21:16] wavvs commented on #501
Need to open issue on radare2 side?

[2018-07-01 21:40] xarkes commented on #501
Not really, the problem is mainly that projects are not stable at all. For that radare2 needs some big refactoring (and it's already tracked in issues I think).
While I know it is an important feature, all I can suggest is to not use projects for now...

[2018-07-02 04:23] Maijin commented on #501
CC @radare maybe need prioritization for one of the future release 🤔

[2018-07-02 04:32] Maijin commented on #558
ok so this is already done in disassembly mode then

[2018-07-02 13:39] #255 closed

[2018-07-02 14:22] Rehan-MALAK commented on #538
No, it seems that it has not been resolved.

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian GNU/Linux unstable (sid)
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandator

[2018-07-02 15:11] 404NetworkError commented on #424
I'm having the same issue as the original post (on El Capitan), just with the recently released version 1.5. Attached is my crash log.

[Cutter_2018-07-02-094925.crash.zip](https://github.com/radareorg/cutter/files/2155715/Cutter_2018-07-02-094925.crash.zip)

[2018-07-02 19:20] s0i37 commented on #558
I updated cutter and r2 today. But I have no highlighting in graph window

[2018-07-02 20:19] Maijin commented on #558
i said in disassembly.

[2018-07-02 21:52] Rehan-MALAK commented on #538
[hello.zip](https://github.com/radareorg/cutter/files/2156914/hello.zip)

[2018-07-03 02:51] Maijin commented on #538
Can't reproduce, @xarkes ?

[2018-07-03 04:09] XVilka commented on #413
See also https://github.com/radare/radare2/pull/10555

[2018-07-03 05:13] Maijin commented on #413
CC @cyanpencil

[2018-07-03 07:51] gmastergreatee opened #560 "GUI Bug : Disassembly Window jumps to top on instruction click in Graph Window"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 8.1 x86_64
| File format of the file you reverse (mandatory)      | any PE(*.exe) file
| Architecture/bits of the file (mandatory)            | x86/32 or x86/64
| Cutter a

[2018-07-03 08:03] xarkes commented on #538
![2018-07-03-095416_1313x452_scrot](https://user-images.githubusercontent.com/10772605/42206339-1b10457a-7ea7-11e8-885a-a87be3517113.png)
Can't reproduce either. This is strange because your radare2 version looks up to date.
I don't understand what's happening here to be honest.

What I can suggest is to try with the 1.5 AppImage file. (Available [here](https://github.com/radareorg/cutter/releases

[2018-07-03 11:16] cskcsk opened #561 "Fail when building :("
Hello sir , when trying to build, I got an error message like this
[code]
Thank's :)

[2018-07-03 12:38] xarkes commented on #561
Hmm interesting, can you provide your exact Qt version?

[2018-07-03 16:15] Rehan-MALAK commented on #538
Hi ! thanks for your replies...
Unfortunately, I can reproduce the bug, even with the 1.5 AppImage file.
Your output looks like my hello-world **without** the debug symbols...

![hello-world-nodbg](https://user-images.githubusercontent.com/39339802/42230454-576e9c46-7ee9-11e8-836b-524604b041d3.png)

instead of

![hello-world-dbg](https://user-images.githubusercontent.com/39339802/42230482-6924eb70

[2018-07-03 17:49] pelijah commented on #558
Dup of #97

[2018-07-03 18:50] Firpo7 opened #562 "opcode description"
# I don't understand why in the opcode description there isn't any description...

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             |Ubuntu x86 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of

[2018-07-03 22:52] #558 closed

[2018-07-04 00:16] #562 closed

[2018-07-04 07:07] xarkes commented on #562
Thanks for reporting the issue.

[2018-07-04 08:49] cskcsk commented on #561
My Qt version is ```5.5```

[2018-07-04 08:50] xarkes commented on #561
As the README states, Cutter requires at least Qt 5.9.1:
https://github.com/radareorg/cutter#requirements
So if you update your Qt library, it should build fine.

[2018-07-04 09:06] xarkes commented on #538
Alright, sorry that's my bad, I don't know why I couldn't reproduce the first time...
Will fix.

[2018-07-04 10:07] #538 closed

[2018-07-04 14:37] #561 closed

[2018-07-05 11:53] xarkes commented on #514
Here's a pad to regroup different analysis presets:
https://hackmd.io/LF7lUpxdQx-MT3Zb_gtZdA

[2018-07-05 12:33] xarkes opened #563 "Do not open any file checkbox is broken"

[2018-07-05 18:18] Maijin commented on #514
That's for radare2 not cutter, we need to change aaa to reflects this hackmd ONCE this is decided

[2018-07-05 19:19] xarkes commented on #514
What do you mean? I think r2 is not ready to have such presets, so I wanted to put that in Cutter only.

[2018-07-05 21:07] Maijin commented on #514
I think IS ready, but we just need to define them.

[2018-07-06 16:01] thestr4ng3r commented on #498
VisualNavbar now uses p- and works much faster.

[2018-07-06 21:24] xarkes commented on #563
Fixed in https://github.com/radareorg/cutter/commit/c0fe9e2c3f2428237a8645a537eecba0337fc1b7

[2018-07-06 21:24] #563 closed

[2018-07-07 08:48] xarkes commented on #169
Last item done in https://github.com/radareorg/cutter/commit/b222aaa09431e58d05277d94613073a14cd9a4f6

[2018-07-07 08:48] #169 closed

[2018-07-08 22:27] pelijah opened #567 "Remove QWebEngine dependency and Jupyter widget"
Jupyter can be ran from web browser. I think no need to use this heavy QWebEngine that increases load time and distro size.

[2018-07-08 22:30] pelijah opened #568 "Delete *.ui files for simple widgets"
- [ ] BacktraceWidget

- [ ] BreakpointWidget

- [ ] ClassesWidget

- [ ] CommentsWidget

- [ ] ConsoleWidget

- [ ] EntrypointWidget

- [ ] ExportsWidget

- [ ] FlagsWidget

- [ ] FunctionsWidget

- [ ] HeadersWidget

- [ ] ImportsWidget

- [ ] MemoryMapWidget

- [ ] PseudocodeWidget

- [ ] RegisterRefsWidget

- [ ] RegistersWidget

- [ ] RelocsWidget

- [x] SectionsWidget

- [ ] StackWidget

- [

[2018-07-09 01:20] XVilka commented on #567
Then there will be no integration with cutter. That was the point,
switching between Windows is an unneeded headache.

On Mon, Jul 9, 2018, 6:27 AM Paul I. <notifications@github.com> wrote:

[2018-07-09 07:34] xarkes commented on #497
Closed in https://github.com/radareorg/cutter/pull/566

[2018-07-09 07:34] #497 closed

[2018-07-09 07:36] xarkes commented on #567
Anyway this is already possible through the `CUTTER_ENABLE_JUPYTER` and `CUTTER_ENABLE_QTWEBENGINE` variables during compilation.
Maybe we can do different packages like one with it and one without it.

[2018-07-09 17:45] pelijah commented on #567
What is main need of using Jupyter+WebEngine? Running Python scripts from Cutter?

[2018-07-09 17:50] XVilka commented on #567
No, rich notebook for storing research notes, scripts results, mathematics
formulas, diagrams, sharing this kind of dashboard with other researchers.

On Tue, Jul 10, 2018, 1:45 AM Paul I. <notifications@github.com> wrote:

[2018-07-09 18:00] #567 closed

[2018-07-10 08:44] l2dy opened #570 "v1.5 crashes on macOS when opening a saved project"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 10.13
| File format of the file you reverse (mandatory)      | Mach-O
| Architecture/bits of the file (mandatory)            | x86/64
| Cutter and r2 version, See About Cutt

[2018-07-10 08:50] xarkes commented on #570
I think it's the same issue as in https://github.com/radareorg/cutter/issues/501

[2018-07-10 09:04] l2dy commented on #570
Thanks for the hint. I didn't find a matching stack trace when searching for `loadCurrentGraph`, but now I see the other issue has the same steps to reproduce (except that I used the Auto-Analysis level), it's probably the same issue.

[2018-07-10 09:04] #570 closed

[2018-07-10 10:37] xarkes commented on #570
Yep but your stacktrace might indicate that it's not a bug in radare2 actually.
I'll check if I can reproduce the same stacktrace.

[2018-07-11 06:30] ITAYC0HEN commented on #516
Do we have an open issue for this in the radare2 repository?

[2018-07-11 10:24] deckbsd opened #571 "No more functions into the functions windows with cutter 1.5 64 bits on windows 7"
Hello,

I just unziped the cutter 1.5 for win64, and not matter regarding which PE file i load, there is no more functions in the functions GUI window.

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 7 64 bits
| File f

[2018-07-11 10:35] SpenserStyles opened #572 "Cutter 1.5 Windows Console not Working"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10 x64
| File format of the file you reverse (mandatory)      | BIN
| Architecture/bits of the file (mandatory)            | arm cortex-m 32-bit
| Cutter and r2 version, S

[2018-07-11 13:46] Adikso opened #573 "Excessive spacing and lines in Disassembly/Graph view"
When you try to make graph look minimal and you disable everything except disassembly you get this excessive spacing on the left side.
![screenshot_20180711_151957](https://user-images.githubusercontent.com/1407751/42574699-5630c980-851f-11e8-871d-157fa24ab965.png)

It would be nice if you could make it look like this:
![screenshot_20180711_151915](https://user-images.githubusercontent.com/1407751

[2018-07-11 17:56] pelijah commented on #572
Already fixed in master. @xarkes what about 1.5.1?

[2018-07-11 18:04] pelijah commented on #572
You can download the latest Cutter build from AppVeyor.

[2018-07-11 19:37] xarkes commented on #572
Yes it's planned.

[2018-07-11 19:37] #572 closed

[2018-07-11 19:38] xarkes commented on #571
Hi, it's a known issue which is fixed on master.
I will soon release new binaries.

[2018-07-11 19:38] #571 closed

[2018-07-11 19:42] xarkes commented on #573
Hi, I think it's the `agJ` command in radare2 which is not correct.
There must be an additionnal wrong printf when `e asm.offset=false`.
I think it's easy to fix (just add a if (json and offset=false)) if you find the correct place.

[2018-07-11 19:58] thestr4ng3r opened #574 "Graph with a Jump Table shows overlapping blocks without arrows"
Binary: [ls.tar.gz](https://github.com/radareorg/cutter/files/2186001/ls.tar.gz)

Open with aaa in Cutter and display graph at sub.__overflow_ba0:
![bildschirmfoto vom 2018-07-11 21-51-03](https://user-images.githubusercontent.com/1460997/42596249-4a1bf3d2-8555-11e8-86c6-bd864ac90f2c.png)

Looks fine in VV.

[2018-07-11 20:29] xarkes commented on #574
It's actually a jumptable. The `jmp rax` block has no `jump` attribute (from `agJ` output), which is why the graph doesn't print any arrow.
Maybe we should change the `jump` format to an array?

[2018-07-13 16:38] j4m3z0r opened #579 "AppImage file segfaults"
I just tried installing Cutter on Ubuntu 18.04 (x64) from the AppImage file, and got a segfault:

[code]

Here's the stacktrace from GDB:

[code]

Kernel version:
[code]

The libQt5Gui.so.5 library is provided by the system package:

[code]

I don't think I have any KDE stuff installed; I'm trying to run this on the GNOME desktop. Let me know if you need any more info to help diagnose. Thanks!

[2018-07-18 20:43] securitykitten opened #585 "[Segmentation fault (core dumped)l functions (afta)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x64
| File format of the file you reverse (mandatory)      | Shellcode (x86)
| Architecture/bits of the file (mandatory)            | x86
| Cutter and r2 version, See About

[2018-07-19 08:58] XVilka commented on #585
@sivaramaaa can you please check this one?

[2018-07-19 08:58] radare commented on #585
please confirm this issue with r2 from git, there have been related fixes after the 2.7 release, and if ths is a crash in r2 please report it into the radare repository

[2018-07-19 11:47] sivaramaaa commented on #585
@XVilka , i don't think it's related to `afta` , i checked  this bin with `e asm.bits = 32;aaa`, here is the output , no crash

[code]

[2018-07-19 15:55] securitykitten commented on #585
I also don't believe that this is related to `afta`
It seems like the segfault occurs right around the same time, but the line
[code]
Just happens to print to STDOUT at the same time of the crash.  The line should be
[code]

If I update R2 on my local system will Cutter default to using that?  I can update R2 and verify that the bug (is/is not) part of R2.

As a related question, is there a way to

[2018-07-20 07:05] xarkes commented on #585
Well, it is possible only if you link Cutter against that specific version of R2.
So if you manually checkout to a specific r2 version, then compile Cutter with it, it should use that version.
However, unless you link it statically, it's harder to use two different versions of radare2.

[2018-07-20 12:06] xarkes commented on #573
Closing as #577 mostly solves it.

[2018-07-20 12:06] #573 closed

[2018-07-20 12:06] xarkes commented on #573
But for the graph view we should use `graph.offset` config variable.

[2018-07-22 10:14] xarkes commented on #525
Closed in favor of the GitHub project.

[2018-07-22 10:14] #525 closed

[2018-07-22 10:16] xarkes commented on #496
This is almost complete, see the plugins branch: https://github.com/radareorg/cutter/tree/plugins_python
And the plugins project: https://github.com/radareorg/cutter/projects/2

[2018-07-23 09:52] xarkes opened #589 "Can't open file with utf8 chars in name"
I have been reported that files containing utf8 characters in their name cannot be loaded in Cutter (Windows).
I tried it with master on Linux and it works, although there are some issues:
![2018-07-23-114648_274x61_scrot](https://user-images.githubusercontent.com/10772605/43070000-ded5f6b8-8e6e-11e8-9b8c-497b9cbeb317.png)

[2018-07-23 12:40] xarkes commented on #585
Problem is here:
https://github.com/radare/radare2/blob/master/libr/core/anal_tp.c#L540
I think it tries to access a 64bits register which doesn't exist while in 32bit mode.
So there's one: the return value is not checked:
And two as you mentionned, it seems that the initial "32 bit" parameter was ignored.

[2018-07-23 12:49] xarkes commented on #579
Can you confirm the bug is still present with the 1.6 AppImage file?

[2018-07-23 12:50] xarkes commented on #568
I agree with this issue, in my opinion there's no need to overload everything with `.ui` files. But I've been told that it's harder to understand the UI when those are not present and you have to read C++.

[2018-07-24 08:53] sivaramaaa commented on #585
@xarkes , @securitykitten can someone confirm the fix and then close this issue !

[2018-07-24 09:40] xarkes commented on #585
Yes, I think that fixes it but as said above it seems there is another bug in Cutter which changes the `bits` parameter. I have to fix it first before closing.
Thanks for the patch.

[2018-07-26 07:08] Maijin commented on #547
ping @ITAYC0HEN

[2018-07-26 17:40] pelijah commented on #486
Requires changes on r2 side.
[code]

[2018-07-26 17:41] Maijin commented on #486
Huho @radare

[2018-07-26 17:57] pelijah commented on #486
https://github.com/radare/radare2/blob/master/libr/core/cmd_info.c#L460

[2018-07-26 20:36] Maijin commented on #486
Yes it's known issue, it has been discussed already on r2core

[2018-07-28 08:35] pelijah commented on #242
About *.svg:
It requires changes on r2 side because `ag` command can't export graph to specified file.
Alternative: export graph to temp *.dot file and then convert it to svg.

Both ways require presence of installed `graphviz`.

[2018-07-28 11:20] Maijin commented on #242
The first solution is better as we should be able to define a location for those commands.

[2018-07-28 11:29] Maijin commented on #242
I'm seeing your PR https://github.com/radare/radare2/pull/10841/files

[2018-07-28 16:57] mohe2015 opened #600 "Update https://github.com/radareorg/cutter/issues/417"
As the conversation is locked can a collaborator please add the following note to https://github.com/radareorg/cutter/issues/417 for further users which stumble upon that error message: You need to install  python3-pkgconfig and python3-dev.

It's pretty obvious but maybe it saves somebody a few minutes.

Thanks

[2018-07-28 18:14] Maijin commented on #417
Update - You need to install python3-pkgconfig and python3-dev.

[2018-07-28 18:15] Maijin commented on #600
Thanks, I have added it, don't forget you can use our pre-built binaries too - https://github.com/radareorg/cutter/releases.

[2018-07-28 18:15] #600 closed

[2018-07-28 22:05] Maijin commented on #54
@pelijah this one should be ok to do now without changes in r2

[2018-07-29 20:17] Maijin opened #601 "Add disclaimer in compiling.md about releases"
https://github.com/radareorg/cutter/blob/master/docs/Compiling.md

[2018-08-01 05:32] Vane11ope commented on #547
im taking this but anyone can steal and i wont bite

[2018-08-01 18:15] radare opened #604 "Double clicking in the open button causes strange behaviour"
In my mac i get a crash, but other people get double-guis in windows.

![image 2018-08-01 20 14 19](https://user-images.githubusercontent.com/917142/43540242-7a826c54-95c7-11e8-98a5-1e45189d8a8b.jpg)

[2018-08-01 18:25] xarkes commented on #604
You didn't specify the version, how are we supposed to help you?

[2018-08-01 18:43] xarkes commented on #604
Anyway I managed to reproduce. Will fix.

[2018-08-01 18:43] radare commented on #604
I downloaded the 1.6 release. Sorry for being an asshole

[2018-08-01 19:30] xarkes commented on #604
Typical radare2 contributor.

[2018-08-01 19:32] #604 closed

[2018-08-01 22:30] fabianMendez opened #605 "Implement afvn to rename argument/local"
Implement an option for `afvn` to rename argument/local variables
![image](https://user-images.githubusercontent.com/32204060/43552552-8bcafbb4-95b0-11e8-84e6-3f7068671853.png)

[2018-08-01 22:52] fabianMendez opened #606 "Local/argument variables not getting reflected in the assembly"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows x86 32
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/32
| Cutter and r2 version, See About Cutt

[2018-08-02 06:40] xarkes commented on #605
This is already available when you click in the disassembly.
![2018-08-02-083741_1920x1080_scrot](https://user-images.githubusercontent.com/10772605/43566701-a0ca819a-962f-11e8-86f1-3c21b57eb6db.png)

[2018-08-02 06:45] xarkes commented on #606
As seen in your other issue, I cannot reproduce that behaviour, even with default options.
Ok found the bug: in the preferences asm.var.sub is not checked by default, while the option is ON.
When check it nothing happens, and when unchecking it the local_4h is replaced by esp+4

[2018-08-02 06:56] xarkes commented on #606
So for now you should manually click both options: `asm.var.sub` and `asm.var.subonly` in the preferences settings.

[2018-08-02 07:55] xarkes commented on #605
Well, we can discuss before closing, because it's true that this option should also be available when right clicking in the head of the block.
This requires to separate each line and only highlight one.

[2018-08-02 08:05] Maijin commented on #605
Right

[2018-08-02 16:11] fabianMendez commented on #606
@xarkes it works, thanks

[2018-08-03 04:08] XVilka commented on #413
Wasn't this fixed already?

[2018-08-03 06:41] #606 closed

[2018-08-03 06:41] xarkes commented on #413
No, otherwise the issue would be closed :)

[2018-08-04 06:59] pelijah commented on #54
Can you provide an example for using `$s # for filesize`?

[2018-08-04 09:00] pelijah commented on #247
Useless for Windows.

[2018-08-04 09:06] pelijah commented on #486
Is there any solution?

[2018-08-04 13:40] pelijah commented on #589
What do you mean under "cannot be loaded in Cutter"? Does it crash?

[2018-08-04 18:03] xarkes commented on #589
It says "File not found" or similar error.

[2018-08-04 18:04] xarkes commented on #247
Useless? Or too hard to implement?

[2018-08-04 18:30] pelijah commented on #247
There is no `man` on Windows.

[2018-08-04 18:47] pelijah commented on #589
Hmm my Cutter can open files with names that contains Unicode characters.

[2018-08-04 18:50] pelijah commented on #332
So is it fixed?

[2018-08-04 18:57] pelijah commented on #511
So now you can use:
* "d" to define data and switch between Byte/Word/Dword/Qword;
* "*" to define data arrays;
* "c" to delete any data meta.

[2018-08-04 23:26] Maijin commented on #54
? $ are variable that holds values, you can do `pc $s @ XXX ` for example See ?$?

[2018-08-04 23:27] Maijin commented on #247
yes but that could use MSDN for windows and man for the other

[2018-08-04 23:28] Maijin commented on #511
e cfg.bigendian

[2018-08-04 23:32] Maijin commented on #242
@pelijah the PR have been merged in r2 for this

[2018-08-05 06:38] pelijah commented on #511
I mean `swap endianess` for given offset. And `cfg.bigendian` is global setting. I think it is bad idea to add such feature to context menu and especially to add shortcut for it.

[2018-08-05 11:28] Maijin commented on #511
yes ok understood, then that's a good feature to add to r2 tracker 👍

[2018-08-05 15:37] pelijah commented on #511
So this issue might be closed.

[2018-08-05 18:04] Maijin commented on #511
? Well no it needs to stay open until it's fixed on r2 side and cutter :p or we reopen an issue on cutter repo only with this swap endianess request

[2018-08-05 20:11] Maijin commented on #332
Yes 👍

[2018-08-05 20:11] #332 closed

[2018-08-06 06:55] xarkes commented on #589
cc @XVilka
Amyway I think there's the display info that is still wrong in the Dashboard

[2018-08-06 13:05] pangqingyuan1991 opened #607 "Cannot assemble 'movl $1, %eax' at line 3"
When I change asm format to att, it can't write instruction any more. And says "Cannot assemble 'movl $1, %eax' at line 3".
Doesn't it support changing instruction when in att format?

[2018-08-06 14:53] fcasal commented on #607
Yes, I believe there still isn't att assembler support in radare2 yet. Related issue on r2 side: https://github.com/radare/radare2/issues/8291

[2018-08-07 00:44] pangqingyuan1991 commented on #607
OK. So I close this issue.

[2018-08-07 00:44] #607 closed

[2018-08-07 19:25] Maijin opened #608 "Add a hotkey to toggle endianess"
Add a hotkey to toggle endianess

[2018-08-07 19:25] Maijin commented on #511
https://github.com/radareorg/cutter/issues/608

[2018-08-07 19:25] #511 closed

[2018-08-07 21:50] ndaprela commented on #506
Maybe related to radare/radare2#2952 ?

[2018-08-10 17:12] #547 closed

[2018-08-12 03:59] ITAYC0HEN commented on #579
Ping @j4m3z0r

[2018-08-12 06:01] j4m3z0r commented on #579
Sorry guys, have been busy and am travig right now. Will look at this next week. Appreciate the follow-up.

[2018-08-12 13:08] Maijin opened #614 "Reduce size of debug/emulation icons"
Reduce size of debugging icons

[2018-08-12 13:08] #601 closed

[2018-08-13 05:36] riverar opened #615 "Flags not created after loading PDBs"
## Environment
Windows 10 x64 17134.191 (RS4)
Visual Studio 2017 Preview 15.8

Version 1.6
Using r2-r2.8.0-64-g404e4a1b7

## Expected behavior
After loading symbols from the symbol store (or manually via `idpd`), I expect to see flags created for each symbol in the pdb.

## Actual behavior
Flags missing

## Steps to reproduce the behavior
1. Open C:\Windows\System32\Uxtheme.dll
2. `idpd` to ensure

[2018-08-13 07:41] xarkes commented on #615
Did you try that within r2 cli? Does it work as expected there?

[2018-08-13 07:56] riverar commented on #615
@xarkes I _thought_ I had it working in standalone R2 CLI but appears not. 😢

Sounds like an r2 bug. Want me to repost the issue there?

[code]

[2018-08-13 10:43] xarkes commented on #615
Yes please :)

[2018-08-13 14:02] adulau opened #616 "Compilation issue (bf07f2a002800190c2892a20e9a860025256208c)"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

Compilation issue (bf07f2a002800190c2892a20e9a860025256208c)
[code]

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)

[2018-08-13 17:42] xarkes commented on #616
I believe the radare2 libs you are linking against Cutter are not up to date with the submodule in the repository.
Try updating your radare2 library and compile again.

[2018-08-13 18:28] j4m3z0r commented on #579
Confirmed that I see the same crash on a fresh download of 1.6 AppImage:

[code]

[2018-08-13 18:57] j4m3z0r commented on #579
Ok, so operating on the thesis that there must be some weird library installed on my machine that's screwing things up I tried Cutter on a second Ubuntu 18.04 machine I have here (over SSH X forwarding) and whilst I haven't done anything meaningful with it, it doesn't crash on startup. I figured this must be something to do with which libraries are installed on the two systems (they're both pretty

[2018-08-14 07:05] xarkes commented on #579
Thanks for the clear explanation, really appreciate it.
We will check that with AppImage.

[2018-08-14 09:04] xarkes commented on #585
Sorry for the delay. Fixed in https://github.com/radareorg/cutter/pull/618

[2018-08-14 09:04] #585 closed

[2018-08-14 09:07] xarkes commented on #616
After reading again, the radare2 commit is matching the repository so I think it's more likely that you have some old radare2 libraries installed on your system.
Maybe you should try to `sudo make purge` inside radare2 directory.

[2018-08-15 16:45] Adikso opened #619 "Copy address don't work"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | ArchLinux x64 (KDE Plasma)
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| Cutter and r2 version, Se

[2018-08-15 16:51] Adikso opened #620 "Prettier function names"
Make cutter show function name:
`sym.SomeClass::method_int_int_int_int_int_int`
as
`SomeClass::method(int,int,int,int,int,int)`
in Functions widget

[2018-08-15 17:00] ITAYC0HEN commented on #620
This should be implemented in radare2 as eval variable and not in Cutter. See the discussion in this pull request (which rightly wasn't accepted) :
https://github.com/radareorg/cutter/pull/519

[2018-08-15 17:07] #620 closed

[2018-08-15 19:03] securitykitten opened #622 "Graphing Bug"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Fedora 28 x86_64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/32
| Cutter and r2 version, See About Cut

[2018-08-15 21:31] #619 closed

[2018-08-15 21:31] xarkes commented on #622
I think it is more or less the same as https://github.com/radareorg/cutter/issues/574

[2018-08-16 07:59] pelijah commented on #515
I think it should be optional feature.

[2018-08-16 20:53] Adikso opened #625 "Cancel in instruction editor don't work"
It is saving changes but it should not ;)

[2018-08-17 14:34] #625 closed

[2018-08-17 14:34] ITAYC0HEN commented on #625
Thank you, fixed :)

[2018-08-17 15:19] ITAYC0HEN commented on #413
@xarkes your fix works fine - the problem with the vertical alignment is in the font being used. I assume
Inconsolata doesn't support some characters such as ">" so the character is being printed with different font that has different char-width.

**Inconsolata (Default font):**
![inconsolata](https://user-images.githubusercontent.com/20182642/44273958-96bbc300-a249-11e8-9dcc-ae51af518aed.JPG)

**

[2018-08-17 16:25] XVilka commented on #413
Open a bug in Inconsolata.

On Fri, Aug 17, 2018, 11:19 PM Itay Cohen <notifications@github.com> wrote:

[2018-08-18 11:06] thestr4ng3r opened #629 "macOS Application Bundle loads system r2 libraries"
present in 1.7 as reported by @radare

rpath doesn't seem to work properly:
![photo_2018-08-18_13-05-30](https://user-images.githubusercontent.com/1460997/44298671-6e82a180-a2e7-11e8-8533-0530693c15f1.jpg)
![photo_2018-08-18_13-02-23](https://user-images.githubusercontent.com/1460997/44298662-5c086800-a2e7-11e8-8429-164b358c59aa.jpg)

[2018-08-18 11:13] trufae opened #630 "Cant change font"
already submitted a video in the cutter channel

[2018-08-18 11:13] trufae opened #631 "debug/emulation buttons are too big"
(and they get bigger when you click them)

<img width="999" alt="screen shot 2018-08-18 at 13 05 22" src="https://user-images.githubusercontent.com/6431515/44298730-860e5a00-a2e8-11e8-9da9-beefee97efb6.png">

[2018-08-18 11:14] trufae opened #632 "Cutter for Mac takes r2 libs from system isntead of frameworks"
rpath is a bitch
<img width="1164" alt="screen shot 2018-08-18 at 13 02 06" src="https://user-images.githubusercontent.com/6431515/44298736-97effd00-a2e8-11e8-99d3-33ec1f99a59a.png">
<img width="726" alt="screen shot 2018-08-18 at 12 58 13" src="https://user-images.githubusercontent.com/6431515/44298737-9b838400-a2e8-11e8-9729-786277f9b12f.png">

[2018-08-18 11:15] trufae opened #633 "Inconsistent interline spacing with utf8"
(and alien xe2x94x82 at left)
<img width="762" alt="screen shot 2018-08-18 at 13 14 49" src="https://user-images.githubusercontent.com/6431515/44298742-c5d54180-a2e8-11e8-8c3d-8a303651ead9.png">

[2018-08-18 11:16] thestr4ng3r commented on #632
duplicate of #629

[2018-08-18 11:16] #632 closed

[2018-08-18 11:17] trufae opened #634 "Background color in themes is not supported"
and this makes many r2themes look bad in cutter

This is `bold` for example: (check the CALLs)

<img width="1188" alt="screen shot 2018-08-18 at 13 17 04" src="https://user-images.githubusercontent.com/6431515/44298753-0765ec80-a2e9-11e8-8401-94a0d078ffe0.png">

[2018-08-18 11:19] trufae opened #635 "'u' key not handled in graphs"
Using 't' and 'f' is graphs is great. but would be better if cuttr handles 'u' to undo seek tot he previous selected basic block like in r2

[2018-08-18 11:20] trufae opened #636 "Add a button to close the side bar of the hexdump"
When having some splits in makes it unreadable

<img width="418" alt="screen shot 2018-08-18 at 13 19 33" src="https://user-images.githubusercontent.com/6431515/44298772-6d527400-a2e9-11e8-81f5-ab851f34b9ff.png">

[2018-08-18 11:22] trufae opened #637 "Add the ability to sync the seek between two widgets"
Scrolling in disasm may update the graph view if in sync (or hexdump, or whatever)

[2018-08-18 11:24] trufae opened #638 "Context menu is missing in the graph view"
I would add options like this:

* [ ] toggle bytes
* [x] toggle offset

[2018-08-18 11:28] trufae commented on #637
oh i think this is already done

<img width="324" alt="screen shot 2018-08-18 at 13 28 23" src="https://user-images.githubusercontent.com/6431515/44298824-9f180a80-a2ea-11e8-8290-731dc1cfd339.png">

[2018-08-18 11:31] pelijah commented on #638
I think we should add separate settings "Show offset"/"Show bytes" for GraphView to Preferences

[2018-08-18 11:34] trufae commented on #635
ok that works, was expecting the same keys as in r2. what do you think
about having 'u' also in here?

On Sat, Aug 18, 2018 at 1:20 PM Paul I. <notifications@github.com> wrote:

[2018-08-18 11:35] trufae commented on #638
sgtm

On Sat, Aug 18, 2018 at 1:31 PM Paul I. <notifications@github.com> wrote:

[2018-08-18 11:38] trufae commented on #629
This is my workaround
[code]

[2018-08-18 12:29] ITAYC0HEN commented on #637
Yup, already implemented :)

[2018-08-18 12:29] #637 closed

[2018-08-18 12:31] ITAYC0HEN commented on #631
definitely too big. We're working on fixing this, current ones are bad
Thanks, closing as duplicate <3

[2018-08-18 12:31] #631 closed

[2018-08-18 12:33] ITAYC0HEN commented on #636
why not both? :)
good idea

[2018-08-18 12:37] ITAYC0HEN commented on #633
yup, we are tracking it in #413. @xarkes found the fix but we have a problem with alignments.
Closing as duplicate

[2018-08-18 12:37] #633 closed

[2018-08-18 14:00] ITAYC0HEN commented on #630
Can't reproduce - RElease version, arch Linux 64bit

[2018-08-18 14:05] thestr4ng3r commented on #630
Seems to be macOS specific

[2018-08-18 15:14] ITAYC0HEN commented on #638
Show offset toggle for the graph is already available in the preferences menu.
I'm not sure we should split asm.bytes as well (which will require another eval in radare2 (iirc)

[2018-08-18 15:28] #622 closed

[2018-08-18 15:28] ITAYC0HEN commented on #574
Another example: https://github.com/radareorg/cutter/issues/622

[2018-08-18 16:27] pelijah commented on #638
Really?
![default](https://user-images.githubusercontent.com/16493991/44301270-c1c31700-a31c-11e8-9994-ad7f3a8da854.png)

[2018-08-18 16:38] pelijah commented on #630
It seems that label with font name is not updated on font change.

[2018-08-18 16:40] pelijah commented on #635
We shouldn't waste available shortcuts.

[2018-08-18 16:51] ITAYC0HEN commented on #638
You are probably not using latest release / version from git

![image](https://user-images.githubusercontent.com/20182642/44301464-02705f80-a320-11e8-9218-e3ae970f878e.png)

[2018-08-18 17:27] Maijin commented on #635
agree with @pelijah esc is more natural too in graphical interface for this

[2018-08-18 19:42] pelijah commented on #636
You can hide it using splitter.

[2018-08-18 21:58] riverar commented on #615
User error; `idpd` only populates the symbol store. `idp` loads symbol information and populates flags. Thanks all.

[2018-08-18 21:58] #615 closed

[2018-08-19 05:39] ITAYC0HEN commented on #635
I think it won't bring major benefit and Esc is a standard in GUI RE tools. We can keep 'u' for something else, maybe Undo-Editing when implemented

[2018-08-20 01:46] JorgeTebruski opened #643 "String panel don't show strings."
### Work environment

|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 10 home 1803 x64
| File format of the file you reverse (mandatory)      | PE, ELF x86/64
| Architecture/bits of the file (mandatory)            | PPC, x86/32, x86/64 etc.
| Cutter and r2 version, See About Cutter (mandatory)  | Version

[2018-08-20 07:13] xarkes commented on #635
I also agree with the others, we can keep 'u' for something else.

[2018-08-20 07:13] #635 closed

[2018-08-20 07:16] xarkes commented on #634
That's intended and I don't know if we want to change that or not.

[2018-08-20 07:18] xarkes commented on #413
Great, maybe we can change default font in Cutter and then merge the fix.

[2018-08-20 07:36] Obaied commented on #643
Same problem reproduced

[2018-08-20 09:43] radare commented on #634
another option is to use the bg highlight value if any instead of the foreground. that will solve the visual problems because of the contrast with the expected dark background.

And yes, most r2 themes look bad in cutter, and i think we should split them between black and white themes. so cutter can reduce the list depending if running in dark or not dark modes

[2018-08-20 09:44] radare commented on #413
agave is nice too. i put some nice console fonts in my Therm (iterm2 fork) if u want to check them too

[2018-08-20 09:46] thestr4ng3r commented on #413
Yeah agave is great. Looks really nice in cutter.

[2018-08-20 10:25] xarkes commented on #643
Ah ok thx.

[2018-08-20 12:30] ITAYC0HEN commented on #413
It's too heavy imo. I prefer thiner fonts.
Also, yeah, no continuous lines :(

[2018-08-20 12:47] #630 closed

[2018-08-20 14:25] darcosion opened #645 "require Qt 5"
When I try to compile, that doesn't work with QT4.

Can y suggest to specify
`lessThan(QT_MAJOR_VERSION, 5): error("requires Qt 5")`
?

It could be better to the compilation.

[2018-08-20 14:43] Maijin commented on #645
Can you create a Pull request with your suggested solution ? You can use Github pencil - https://help.github.com/articles/editing-files-in-your-repository/

[2018-08-20 14:49] darcosion commented on #645
Done.
https://github.com/radareorg/cutter/pull/646

[2018-08-20 14:49] #645 closed

[2018-08-20 15:45] ytrewqytrewqytrewqytrewq1 opened #647 "ModuleNotFoundError: No module named 'jupyterlab'"
### Work environment
OS: Ubuntu x64
File format: elf
Arch: arm
Cutter 1.7
Version info: https://pastebin.com/dpnLhS9z

### Actual behavior
Cutter crashes
https://pastebin.com/k5smrfHX

### Steps to reproduce the behavior
./Cutter-v1.7-x86_64.AppImage libexploit.so

[libexploit.zip](https://github.com/radareorg/cutter/files/2303006/libexploit.zip)

[2018-08-20 17:02] wilo17 opened #648 "Project ERROR: r_core development package not found"
Project ERROR: r_core development package not found

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | FEDORA intel 64
| File format of the file you reverse (m

[2018-08-20 17:07] XVilka opened #649 "Switch to JupyterLab"
Only after it will reach 1.0 version and will start substituting JupyterNotebook (should happen in the end of 2018).

https://github.com/jupyter/roadmap/blob/master/jupyterlab.md#10-release

[2018-08-20 17:10] Maijin commented on #648
Greetings @wilo17,

We are glad you are trying to compile Cutter and we are sorry to hear that the process failed.

If you want to compile the project yourself, please make sure you are following the instructions provided in the README and using the radare2 submodule provided, someone will check your problem shortly.

**PLEASE NOTE**. If you just want to use cutter: use our releases available for

[2018-08-20 17:15] wilo17 commented on #648
I tried Cutter-v1.7-x86_64.AppImage, there is segmentation fault when I try to open a file.

[wilo@localhost SECURITY_TOOLS]$ ./Cutter-v1.6-x86_64.AppImage
Setting r2 prefix = "/tmp/.mount_CutterZD7OLq/usr"  for AppImage.
Setting PYTHONHOME = "/tmp/.mount_CutterZD7OLq/usr"  for AppImage.
PYTHONHOME = "/tmp/.mount_CutterZD7OLq/usr"
Segmentation fault (core dumped)

[2018-08-21 08:49] xarkes commented on #643
The key is `string`, I see it with `izj` and `izzj`.

[2018-08-21 08:51] Maijin commented on #643
Ok so that's because someone updated `izzj` for radeco iirc

[2018-08-21 08:53] pelijah commented on #643
@xarkes
![default](https://user-images.githubusercontent.com/16493991/44391519-c3692680-a538-11e8-80f6-6d3d8f31a83c.png)

[2018-08-21 10:58] radare commented on #643
oh right, i think kazarmy changed this 2 weeks ago

[2018-08-21 13:32] ytrewqytrewqytrewqytrewq1 commented on #647
same error with cutter v1.5

[2018-08-21 18:00] Vane11ope commented on #125
i take this btw if anyone does not mind

[2018-08-21 20:56] xarkes commented on #647
Weird.

[2018-08-22 07:45] kefir- commented on #579
I got something similar. Downloaded Cutter 1.7 and tried running it on Ubuntu 16.04.5 (latest version). I got the warning:

    Version mismatch
    The version used to compile Cutter (2.8.0-118-gb0547831f) does not match the binary version of radare2 (). This could result in unexpected behaviour. Are you sure you want to continue?

So it appears that the version detection in radare2 failed. This

[2018-08-22 09:11] ytrewqytrewqytrewqytrewq1 commented on #647
can you reproduce the bug?

[2018-08-22 10:07] xarkes commented on #647
I get a different error but similar. Will investigate later.

[2018-08-22 19:34] s0i37 commented on #444
Hello.
After last release a color highlighting has worked. But not everywhere...
![temp](https://user-images.githubusercontent.com/22872513/44486002-d597b180-a66b-11e8-983a-cc2d837639c0.png)
I highlighted two instruction through "ecHi red" command.

[2018-08-23 15:20] crowell opened #651 "feature request: api for colorizing basic blocks"
it would be useful to be able to set the background for specific basic blocks to a different color for something like visualizing traces, etc. similar to this: https://github.com/gaasedelen/lighthouse

[2018-08-23 20:59] pelijah commented on #643
`is_array` is not set for `izzj` command.
https://github.com/radare/radare2/blob/master/libr/core/cmd_info.c#L344

[2018-08-24 06:02] ITAYC0HEN commented on #616
ping @adulau

[2018-08-24 06:18] xarkes opened #653 "Remove pie chart"
I think it's quite useless, and I've already seen that specific widget slow down everything.
I'd like to remove it.

[2018-08-24 06:25] ITAYC0HEN commented on #653
remove it entirely or just hide it in some menu?
I think it useless as well, except that it looks pretty in screenshots :)

[2018-08-24 06:38] xarkes commented on #653
I would personally prefer to remove it entirely but we can choose.

[2018-08-24 07:16] thestr4ng3r commented on #653
kill it

[2018-08-24 09:45] Maijin commented on #653
Agree to remove those piechart and replace later with better option like #487

[2018-08-24 09:50] ITAYC0HEN commented on #487
+1 !!!
I love this feature of PE-Bear to edit raw and virtual sections and to easily shrink binaries - so useful!

[2018-08-24 14:00] radare commented on #653
the pie is a cake

[2018-08-24 16:06] #643 closed

[2018-08-24 18:59] pelijah opened #656 "Add Log API to CutterCore"
Redirect messages to ConsoleWidget and optionally to a file.

[2018-08-24 22:36] #54 closed

[2018-08-25 18:54] #242 closed

[2018-08-26 01:05] bodgergely commented on #579
I am having the same problem. AppImage crashes.

[2018-08-26 16:11] Maijin commented on #651
https://github.com/radare/radare2/pull/11224#discussion_r212830841 afbc got merged

[2018-08-26 17:30] bodgergely commented on #579
I want to add some context. I extracted the Appimage and when running the Cutter binary and opening its core file I get the below:

#0  0x00007ff982622d3b in Py_InitModule4_64 () from /usr/lib/x86_64-linux-gnu/libpython2.7.so.1.0
#1  0x00007ff982a4a693 in init_radare_module () at python.c:264
#2  init (lang=<optimised out>) at python.c:376
#3  0x00007ff99c9224c8 in r_lang_add (lang=0x17e2730, foo=

[2018-08-26 17:33] Maijin commented on #579
Instead of adding more issues here that are unrelated, please open new issues.

[2018-08-26 17:38] bodgergely opened #664 "Cutter crashes when initialising the radare python module"
I extracted the Appimage and when running the Cutter binary and opening its core file I get the below:

Ubuntu 64 bit 4.13.0-46-generic

[code]

[2018-08-27 08:06] pelijah commented on #568
I have added the list of suggestions.

[2018-08-27 16:56] pelijah commented on #656
Ok, I think message() is enough for now.

[2018-08-27 16:56] #656 closed

[2018-08-27 23:33] bodgergely commented on #664
I was debugging this issue.
I am bit confused as the radare instance built by Cutter builds a python2 plugin.
On the other hand Cutter is linked with python3.
At the time when the plugin is being loaded it is the python2 language plugin that comes from the radare plugins directory. I also seem to have python2/python3 versions of the same functions being imported and used.

Also when I manually cha

[2018-08-28 00:02] bodgergely commented on #664
Okay, I deleted the cached radare build I had under $HOME/.local/share/radare2 and did ./build.sh and now this whole python problem went away.

[2018-08-28 00:02] #664 closed

[2018-08-29 17:44] boondoggler commented on #501
Just to add: I am seeing this on Cutter 1.7.1 on both Linux Debian 9 and Windows 10 x64.

On mine it doesn't crash it just eats up 100% CPU forever

Brilliant project, but this makes it unusable as all work in unsavable

[2018-08-29 23:07] xarkes commented on #501
Yep, this is something we want to improve, but it requires quite a lot of changes in radare2 codebase.

[2018-08-31 00:43] radare commented on #506
yes this is dupe

[2018-08-31 00:43] #506 closed

[2018-08-31 17:10] dmknght opened #665 "Cutter 1.7.1 Graph display block wrong place, over write by other block"
# Hi! I am reversing a malware (please see zip file bellow) with normal Cutter analysis option. After go to main function, i saw a block of code on the top of graph, and it is over written by main block (please see screenshot)

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arc

[2018-09-01 08:31] xarkes commented on #665
Hi, thanks for reporting, I think this is clearly similar as https://github.com/radareorg/cutter/issues/574

[2018-09-01 11:13] jamieweb opened #666 "How can I verify the integrity of Cutter?"
Is there somewhere that I can get GPG signatures of the releases, or even just plain hashes? Signed commits also don't seem to be used.

[2018-09-01 12:28] xarkes commented on #666
About signed commits, I guess it shouldn't be an issue to sign them.

[2018-09-01 12:35] jamieweb commented on #666
Yeah it looks like you're already signing your commits, but a lot of the other developers aren't. Maybe mandatory commit signing would be the way to go for now?

[2018-09-04 14:01] ITAYC0HEN opened #670 "Adding an application Icon on Windows"
Currently it doesn't have one

![image](https://user-images.githubusercontent.com/20182642/45036042-16c49400-b064-11e8-8b41-82f511ec84c6.png)

[2018-09-04 14:09] xarkes commented on #670
Only on Windows though.

[2018-09-05 08:49] xarkes commented on #647
There are actually two bugs in once.
1. `no module named jupyterlab` which is maybe an AppImage bundling issue
2. `[11614:11633:0820/173556.065274:FATAL:scoped_file.cc(40)] Check failed: 0 == ret. : Descrittore di file errato` which is an issue with the qt webegine

[2018-09-05 08:51] xarkes commented on #648
ping @wilo17? And try again with `1.7.1` AppImage please. Thanks.

[2018-09-05 08:53] xarkes commented on #648
For the compiling issue, your radare2 installation is probably wrong. Try removing any radare2 from your system, and installing it again from git with `./sys/install.sh`.

[2018-09-05 08:54] xarkes commented on #665
I am closing as duplicate. If not fixed after #574 is fixed, feel free to reopen.

[2018-09-05 08:54] #665 closed

[2018-09-05 08:55] xarkes commented on #616
ping @adulau :)

[2018-09-05 11:09] xarkes commented on #579
Hi @j4m3z0r, I tried again myself and I believe the issue is that `ldd` is not resolving the dependencies correctly. However it should work just fine that way.
To confirm, can you run this command?
`cd /tmp/.mount_Cutterxxxxx` then `strace ./AppRun 2>&1 | grep openat | grep \\.so`
You should see if the loaded libraries are the one inside the Cutter mount directory, or others.

[2018-09-05 12:47] #252 closed

[2018-09-05 15:09] xarkes commented on #638
It depends what you mean by "show comments"? I think we can enable that for all the analysis stuff, but keep user comments.

[2018-09-05 15:48] wst-ci opened #675 "Interface is offset and misaligned in Windows 10 with high DPI scaling"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)

[2018-09-05 16:25] sst2001 opened #676 "Mac version crash when trying to opening ESP32 libnet80211.a"
When I select libnet80211.a file, set xentens CPU type, and after few seconds the appliation crash. I changed CPU type with same result.

When I open an object file .o, it was loaded but failed to disassemble.

[2018-09-05 16:53] #670 closed

[2018-09-05 16:57] xarkes commented on #676
Hi,
Can you please share the binary? Can you try opening it in radare2 directly, looks more likely a bug in radare2.

[2018-09-05 19:58] adulau commented on #616
After a recent `git pull` of the latest version of radare2, the compilation works...

[2018-09-05 19:58] #616 closed

[2018-09-06 02:46] CraftSpider commented on #574
Having the same issue here while disassembling a file with an unconditional jump to near the end of the function as the first instruction.

[2018-09-06 04:40] sst2001 commented on #676
This is the lib file.
[libnet80211 2.a.zip](https://github.com/radareorg/cutter/files/2355449/libnet80211.2.a.zip)

[2018-09-06 10:33] Maijin commented on #638
Probably you can also add an option like:

- Show user comment
- Show automatic comment or something (don't think we need the level of granularity available in r2 for now)

[2018-09-06 15:02] CraftSpider opened #679 "Java decompile duplicating function names"
# This template is meant for bug reports, if you have a feature request, please be as descriptive as possible and delete the template

*If you would like to report a bug, please fill the template bellow*

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)

[2018-09-06 15:04] xarkes opened #680 "Split Cutter.h to fasten compilation time"
Cutter.h file is included almost everywhere, and so when one does a simple modification to it, it has to recompile everything.
It would be awesome if someone could split Cutter.h header, into logical parts, so it only recompiles a few files, and fasten compilation times.

[2018-09-06 15:17] xarkes commented on #679
Hi,
This is very likely a bug in radare2 itself, not inside Cutter.
Can you paste `aflj` output?

[2018-09-06 15:42] CraftSpider commented on #679
Yep, looks like a bug in radare2, assuming I'm reading the output correctly: https://pastebin.com/nDKZuNte

[2018-09-06 16:09] xarkes commented on #679
Yep, better open an issue on r2 repo and close this one :)

[2018-09-06 17:11] #679 closed

[2018-09-06 17:31] xarkes commented on #679
No problem, thanks :)

[2018-09-07 11:37] Maijin opened #682 "Move Unsafe function feature in radare2"
Move Unsafe function feature in radare2 -

https://github.com/radare/radare2/blob/217edd4be5e4f31e728156d19f1b3ddcaa4c512a/libr/anal/d/types.sdb.txt#L184

[2018-09-07 13:26] Maijin commented on #676
@sst2001  Provide the information required in the issue template - We are missing tons of information. At this point I can't reproduce in radare2

[2018-09-07 13:26] Maijin commented on #676
https://github.com/radareorg/cutter/blob/master/.github/ISSUE_TEMPLATE.md

[2018-09-07 13:31] michalmalik opened #683 "Crash during ELF ARM64 aaa"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | MacOS 10.13.6
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | ARM64
| Cutter and r2 version, See About Cutter

[2018-09-07 13:35] xarkes opened #684 "Check for update in About dialog"
It'd be great to add a "check for update" feature in the about dialog, or in the help submenu.

[2018-09-07 13:38] ITAYC0HEN commented on #684
Checking only for release versions right?
Do we want to implement a way to update it or manually (like open the browser on the "release" page)?

[2018-09-07 13:46] xarkes opened #685 "Automatically open an issue"
Automatically open https://github.com/radareorg/cutter/issues/new from a button

[2018-09-07 13:47] xarkes opened #686 "Add font ratio option"
Allow to increase/decrease global font size (not only disasm)

[2018-09-07 13:49] xarkes commented on #684
Yes, manually at first I think it's good enough.

[2018-09-07 13:53] Maijin commented on #683
Hello,

I can't reproduce this problem.

Ensure you are using radare2 from git, if you're unsure paste output of `r2 -v` here.
To install radare2 from git, first uninstall your version of radare2 and clean your distro. Then use `git clone https://github.com/radare/radare2 && cd radare2 && ./sys/install.sh`, verify your version and check if there is no error using `r2 -v`.

Could you also provide t

[2018-09-07 13:54] Maijin commented on #685
Could automatically fill the template too for the basic infos

[2018-09-07 14:13] xarkes opened #687 "Accelerate compilation times"
Cutter now takes quite a while to compile, there's already https://github.com/radareorg/cutter/issues/680 which help compilation times during development, but I think there are some basic improvements we can do to fasten the process.

[2018-09-07 14:16] xarkes commented on #683
Hi,
I cannot reproduce on Linux nor Mac. Can you please provide a backtrace?

[2018-09-07 14:27] radare commented on #682
This is called flag tags. It was already there. See libr/flag/d

[2018-09-07 14:53] Maijin commented on #682
@radare This needs to be merged with the function definition database, it's a dup

[2018-09-07 14:56] Maijin commented on #682
To create a consolidate database, something like XXX.unsafe similar to the noreturn in the types sdb

[2018-09-07 15:42] radare commented on #683
Is this a bug in cutter or r2?

[2018-09-07 15:49] Maijin commented on #683
Works fine in r2 if opened/analyzed/graphed

[2018-09-07 16:01] xarkes commented on #683
I don't know, according to the stacktrace, that's because of libr_core/libr_parse if I'm correct.

[2018-09-07 16:05] michalmalik commented on #683
Maybe it got fixed since 2.8.0

[2018-09-07 16:08] michalmalik commented on #683
During the analysis, if I press "Cancel" at the right moment, it opens without crashing :D

[2018-09-07 17:38] xarkes opened #688 "Make python interpreter work with r2lang"
Integrate r2lang-python3 inside Cutter binaries

[2018-09-07 18:03] xarkes opened #689 "Fix Info.plist file for generated .dmg file"

[2018-09-07 18:04] xarkes opened #690 "Sign binaries"
Find a way to sign our release binaries (at least for windows and osx).
That will be useful for the debugger for OS X.

[2018-09-08 07:28] xarkes opened #693 "Import .idb files"

[2018-09-08 07:32] #400 closed

[2018-09-08 07:37] xarkes opened #694 "Layout saving/switching"
The idea is to have some presets layouts (Default, Debug, ...) and have a menu that allows one to switch from one another.
Also the menu should provide a way for the user to save a layout and reopen it later.

[2018-09-08 08:14] thestr4ng3r commented on #694
binja = remove all widgets

[2018-09-08 08:15] thestr4ng3r commented on #605
yeah, needs some things in `pdJ`

[2018-09-08 10:06] xarkes commented on #686
Reopening because I think it's still useful anyway. People don't have to do hack through the command lines.

[2018-09-09 17:55] #329 closed

[2018-09-10 17:44] watkipet opened #697 "Crash on macOS when selecting __stub_helper on Mach064 object file"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | macOS 10.13.6 Intel x64
| File format of the file you reverse (mandatory)      | Mach064
| Architecture/bits of the file (mandatory)            | x86/64
| Cutter and r2 version, S

[2018-09-11 00:40] jamieb122 commented on #605
@xarkes May not need to do that.  I am actually working a context menu item that will allow you to set types of local vars (could easily add re-name to it as well).  Context item is *basically* "Manage local vars (types/names)"  In the dialog, you can select the variable you are looking to manage and change the type.  Changing the name at the same time would just be another text box.  I have it wo

[2018-09-11 03:19] XVilka opened #698 "Allow to override ESIL code for particular opcode"
Provide an option to override ESIL for particular opcode, maybe in a context menu?

[2018-09-11 05:36] edpil02 opened #699 "Link issues when radare2 is built --with-sysmagic"
My distro built radare2 with --with-sysmagic , and i got link  errors when building cutter:
undefined reference to `r_magic_version'.
No issue when radare2 does not use the --with-sysmagic option.
Sorry for my english.

[2018-09-11 07:26] Vasco-jofra opened #700 "Editing stack values show instruction preview"
### Expected behavior
In the stack view we are editing hex values so no preview of instruction should be shown.
![screenshot from 2018-09-11 08-12-52](https://user-images.githubusercontent.com/11303847/45344321-56770880-b59b-11e8-9316-879d454bf928.png)

### Actual behavior
Editing stack values now shows instruction preview after #696.

### The fix
EditInstructionDialog should not be used for editi

[2018-09-11 07:59] ITAYC0HEN opened #701 "Open file via Drag & Drop doesn't work on Windows"
At least on the latest Release version. Please verify reproducibility on newer version

![image](https://user-images.githubusercontent.com/20182642/45346339-3b12fa00-b5a9-11e8-8340-b0ede13e5d57.png)

[2018-09-11 08:02] xarkes commented on #701
Works fine on Linux.

[2018-09-11 08:05] xarkes commented on #699
Ah indeed, must fix.

[2018-09-11 08:13] Maijin commented on #698
Yes like the immediate change

[2018-09-11 17:03] yarjor opened #703 "Linux crash on file load"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits                              | Arch Linux 64bit kernel ver. 4.18.6 (VMWare VM)
| File format of the file you reverse     | Occured on both PE and ELF
| Architecture/bits of the file           | x86/32 & x86/64
| Cutter an

[2018-09-11 23:27] ITAYC0HEN opened #705 "Colurful Console - Support colors in the embedded Console"
Make Console widget prettier by adding a support for colors.

Currently it is only B&W:

![image](https://user-images.githubusercontent.com/20182642/45393150-e31cd780-b62a-11e8-8fce-f4a22dae58f0.png)

[2018-09-12 19:14] yarjor commented on #703
I have now tried it with 1 more exe I had, /bin/ls, /bin/true, vim and python3, segfaulted on all of them.
It is worth mentioning that out of the many runs (I ran each binary ~5 times) a few loads actually succeeded without segfaulting (about 10% chance of successful run...?)

[2018-09-12 20:04] xarkes commented on #703
Ok I have to investigate more...

[2018-09-13 06:32] #684 closed

[2018-09-14 01:38] jamieb122 commented on #605
See pull request afvn Context Menu functionality #707

[2018-09-15 12:50] thestr4ng3r opened #710 "Hexdump offset column is editable"
![bildschirmfoto vom 2018-09-15 14-49-20](https://user-images.githubusercontent.com/1460997/45586369-a08f1f80-b8f6-11e8-95cb-897406e4fec8.png)

[2018-09-16 11:11] ITAYC0HEN opened #711 "Add opened file-name to Cutter's title"
Would be nice to have the name of the opened file in the program's title:

Something like `Cutter - /tmp/hello_world` or `Cutter - hello_world`

It would be helpful in cases where multiple instances of Cutter are opened which is quite a common case while reversing

[2018-09-16 11:14] Maijin commented on #711
Radare2 is able to disassemble multiple file in the same environment, thus not sure if this appropriate. Maybe we could do that in the name of the tabs instead?

[2018-09-16 20:56] Maijin commented on #711
Probably ok for now because we don't use a lot of this multiple file opening

[2018-09-17 11:14] ITAYC0HEN opened #712 "Don't show the "Load Options" dialog when choosing "Don't open any file""
No good reason to show this dialog when no file is going to be opened since "Don't open any file" is checked in the Open File dialog:

![image](https://user-images.githubusercontent.com/20182642/45619986-ec230400-ba83-11e8-9c44-2f42ac5f0985.png)

[2018-09-17 11:14] wst-ci commented on #690
I guess you're meaning a code signing certificate rather than developer GPG signatures?

[2018-09-17 11:19] wst-ci commented on #686
This would be good for my poor vision (#675). Are you saying that I can 'hack' this manually by setting the QA_SCALE_FACTOR envvar in bash and then opening Cutter?

[2018-09-17 12:03] xarkes commented on #686
Exactly, or directly in command line:
`QT_SCALE_FACTOR=2.0 ./Cutter`

[2018-09-17 12:05] xarkes commented on #690
In this case yes, but I think having developer GPG signature is also a good practice.

[2018-09-17 12:06] xarkes commented on #712
Well I think one cannot change architecture after loading the file, so that might be the current reason.

[2018-09-17 12:08] wst-ci commented on #686
Ah interesting, that might help me. Is there an equivalent for Windows 10?

If not, I guess you could just compile Cutter in Cygwin and launch it that way with the scaling.

[2018-09-17 12:16] xarkes commented on #686
You can do the same in the cmd prompt:
[code]

[2018-09-17 12:51] wst-ci commented on #686
Ah right, that's actually really helped. I guess the default value is 1.0?

It's just issue #675 causing issues now.

Thank you.

[2018-09-17 13:31] ITAYC0HEN commented on #712
Via GUI you mean? Since typing `e asm.arch` should do
If this the case, it should be added to the menu option.

[2018-09-19 13:40] ITAYC0HEN opened #715 "Implement write operations (wo?) in hexdump widget"
Hexdump widget is obviously messed up but whenever possible, we should implement a dialog that allows performing 'special' write operations on selected bytes in hexdump (either on write mode or when `io.cache` available).

Here's a list of available operations. Not all of them should be implemented obviously.

[code]

[2018-09-20 14:50] #574 closed

[2018-09-21 14:00] wst-ci commented on #675
Is there a QT envvar that would allow me to set an over/underscan for the application? That would be a temporary measure at least.

[2018-09-21 17:07] pelijah commented on #666
Commit signing? Why?

[2018-09-25 00:41] j4m3z0r commented on #579
Hey, sorry; didn't realize this was waiting on me. My understanding was that ldd did symbol resolution the same way as the loader, but anyway, here's the output of that command:

[code]

Grepping out ENOENT from that gives us the following, which shows that it's loading system libraries:

[code]

So I'm pretty sure the issue is related to LD_LIBRARY_PATH. I didn't realize it, but I set an LD_LIBRA

[2018-09-25 07:28] xarkes commented on #648
ping @wilo17

[2018-09-25 07:34] xarkes commented on #579
Ok, I think I will just add it in the documentation and close the issue, if it sounds good to you.
Thanks again for the complete analysis.

[2018-09-25 07:49] ITAYC0HEN commented on #589
Verified on Windows 64bit release:
![image](https://user-images.githubusercontent.com/20182642/46000209-9ddbb980-c0b0-11e8-97a1-3156493062f3.png)

[2018-09-25 08:28] #648 closed

[2018-09-25 18:59] j4m3z0r commented on #579
Sure, that seems reasonable. It might be best not to overwrite LD_LIBRARY_PATH anyway, since it seems like the kind of thing people may need to set.

[2018-09-26 14:02] xarkes commented on #703
Not fixed apparently. I will work more on it tonight.

[2018-09-27 07:50] #701 closed

[2018-09-27 08:46] #703 closed

[2018-09-27 08:47] ITAYC0HEN commented on #703
@yarjor, the bug should be fixed on master now.
If after compiling from master you still experience the bug, please write here and we'll reopen the issue.
Thank you :)

[2018-09-27 09:56] ITAYC0HEN commented on #710
fixed #725

[2018-09-27 09:56] #710 closed

[2018-09-27 11:16] #711 closed

[2018-09-27 11:52] xarkes opened #727 "Increase graph view size"
The graph view takes the minimum space needed (depending on the displayed nodes) which means that you cannot move the view so that a node that is on the extreme left (or right, or top or bottom), appears to be in the middle of your screen.
![2018-09-27-135109_1039x622_scrot](https://user-images.githubusercontent.com/10772605/46144151-69a4fc00-c25c-11e8-85cc-563ebef0d407.png)
As you can see on the

[2018-09-29 10:38] ITAYC0HEN opened #729 "Cutter has too many files in its Root directory (Windows)"
On Windows release the directory is a mess and we have too many files on the root folder.
This is something that needs reordering IMHO.

![image](https://user-images.githubusercontent.com/20182642/46244700-9e938900-c3eb-11e8-8fb8-15f3de353284.png)

I'd prefer something more clean, for example:

[code]

Also, we have tons of DLLS that I;m not sure required and we have 22 `r_*.dll` files which proba

[2018-09-29 12:14] ITAYC0HEN commented on #700
@CraftSpider can you please have a look at this? You did a great job fixing #329 :)

[2018-09-29 19:14] pelijah commented on #729
After removing QtWebEngine we have only 5 `Qt5*.dll` files.

[2018-09-30 02:59] XVilka commented on #729
I don't see why this is a problem at all. IDA also has "platforms" directory.

[2018-09-30 09:08] ITAYC0HEN opened #733 "Create keyboard shortcuts to open different widgets"
We need keyboard shortcuts to create navigation and opening of widgets more easily.
I'd suggest stick to the most famous keyboard shortcuts defined by IDA and [x64/Olly]Dbg.

A list of IDA Pro shortcuts can be found here: https://www.hex-rays.com/products/ida/support/freefiles/IDA_Pro_Shortcuts.pdf

[2018-09-30 09:35] Maijin commented on #125
ping @Vane11ope ?

[2018-09-30 09:38] xarkes commented on #676
Not enough information provided. Closing this.

[2018-09-30 09:38] #676 closed

[2018-09-30 11:39] xarkes commented on #579
Fixed in https://github.com/radareorg/cutter/commit/1c69d62f4ec5a1f5111e91560afd35ac58f4894a.

[2018-09-30 11:39] #579 closed

[2018-09-30 11:40] xarkes commented on #683
Probably fixed in https://github.com/radareorg/cutter/commit/484cc632143cb3367f5679d1551db030f8f32854.

[2018-09-30 11:46] ITAYC0HEN commented on #683
@michalmalik I can't reproduce now and it, probably fixed.
Can you try to build cutter from master and check if the issue still occur?

[2018-09-30 18:04] xarkes commented on #697
Is it a bug on OS X? Can anyone confirm? I cannot reproduce with master on Linux.

[2018-09-30 19:42] Maijin commented on #697
Can't reproduce on master.

[2018-09-30 19:42] #697 closed

[2018-09-30 19:45] Maijin commented on #647
Can you still reproduce?

[2018-10-01 04:00] CraftSpider commented on #700
I'll take a look, shouldn't be too hard of a fix

[2018-10-01 05:15] XVilka opened #743 "Better QtConsole for Jupyter integration"
See https://blog.jupyter.org/jupyter-qtconsole-4-4-81f2eaad5706

[code]
https://www.youtube.com/watch?v=Fi_Xd6h4ncw

See also https://www.spyder-ide.org/ as an example of such integration.

[2018-10-01 06:31] xarkes commented on #461
This is fixed already since a long time.

[2018-10-01 06:31] #461 closed

[2018-10-01 07:04] freshpickle commented on #733
This looks pretty good

[2018-10-01 10:11] ITAYC0HEN commented on #733
@freshpickle, that's right! :)
want to take a look?

[2018-10-01 10:39] freshpickle commented on #733
Yes would love to...I'm still a high schooler actually but I'm doing a lot
of C++

On Mon, Oct 1, 2018, 1:11 PM Itay Cohen <notifications@github.com> wrote:

[2018-10-01 11:10] ITAYC0HEN commented on #733
That's great!

You can start by following the building instructions which are detailed here:
https://radareorg.github.io/cutter/index.html
basically, you need to install QT and build the project.

Here you can see how we have implemented some keyboard shortcuts:
https://github.com/radareorg/cutter/blob/master/src/MainWindow.cpp#L246

The idea is that a keyboard shortcut will bring the relevant wid

[2018-10-01 13:06] piba941 commented on #733
@ITAYC0HEN  i would like to take up this issue.

[2018-10-01 13:20] ITAYC0HEN commented on #733
Hi @piba941, love the spirit! Seems like @freshpickle will take this one but we have enough Hacktoberfest issues available: https://github.com/radareorg/cutter/labels/Hacktoberfest

Simply choose one of them and do your magic :)

[2018-10-01 13:43] freshpickle commented on #733
You could give it to piba I don't mind..turns out I still don't understand
much but thanks so much for the help

On Mon, Oct 1, 2018, 4:20 PM Itay Cohen <notifications@github.com> wrote:

[2018-10-01 14:29] ITAYC0HEN commented on #733
okay @piba941 you can go for it! Check my instructions just a few comments above.
Meantime, I'll assign this issue to you :)

@piba941 please check more issues [here](https://github.com/radareorg/cutter/labels/Hacktoberfest), we can walk you through the process - you will do great! :D

[2018-10-01 15:45] sajattack commented on #528
Can I take a stab at this one?

[2018-10-01 15:50] xarkes commented on #528
Yes for sure!
I think this can be done under the already existing "Rename function" option.

[2018-10-01 17:30] sajattack commented on #528
Another question to clarify, do you want separate menu options or change "Rename function" to "Edit function" and add all the options in one dialog?

[2018-10-01 17:33] Maijin commented on #528
No, I think we should separate "rename function" because we don't want to bloat the rename dialog with all those stuffs

[2018-10-01 20:07] tkhurana96 commented on #705
I would like to give it a shot...

[2018-10-01 20:12] sajattack commented on #528
Ok, so rename separate, but the rest together?

[2018-10-01 20:32] ITAYC0HEN commented on #528
Hi @sajattack, good to have you here - welcome aboard! :)

While right-clicking a function we currently have the option to Rename it ("N" shortcut), this should stay untouched --

![image](https://user-images.githubusercontent.com/20182642/46313938-d9efac80-c5d1-11e8-9568-e99532daa105.png)

The requested addition is a new entry to this context menu, that would open a Dialog with the features menti

[2018-10-02 01:56] Vane11ope commented on #125
on it now sorry.

[2018-10-02 10:54] #629 closed

[2018-10-02 10:54] #689 closed

[2018-10-02 15:48] reijin90 opened #752 "Connection to remote gdbserver hangs"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Ubuntu x64_86 and Windows 10 Pro 64
| File format of the file you reverse (mandatory)      | ELF
| Architecture/bits of the file (mandatory)            | x86/64
| Cutter and r2 ve

[2018-10-02 16:12] ITAYC0HEN commented on #752
We should blacklist debug IO such as (bochs, gdb, ptrace, qnx, windbg) until we implement debugging support

The relevant code is implemented here:
https://github.com/radareorg/cutter/blob/e3bc7440243648b643d1d3b034549bd26fb4f607/src/Cutter.cpp#L1352-L1371

and being called here:
https://github.com/radareorg/cutter/blob/e3bc7440243648b643d1d3b034549bd26fb4f607/src/dialogs/NewFileDialog.cpp#L323-L3

[2018-10-02 17:19] michalmalik commented on #683
@ITAYC0HEN No, sorry, I am not going to build Cutter :)

[2018-10-02 18:06] ITAYC0HEN commented on #683
Okay then :)
I think this issue was fixed already - thank you for informing us, appreciate it

[2018-10-02 18:06] #683 closed

[2018-10-03 04:05] tkhurana96 commented on #705
@ITAYCOHEN, I will get started with building the project using the link you shared

[2018-10-03 09:12] ITAYC0HEN opened #753 ""Run Script" freezes window without showing any dialog"
Upon running a script (`File > Run Script`), Cutter is freezing without showing any indicative window to the user.

![image](https://user-images.githubusercontent.com/20182642/46401467-ba59a080-c705-11e8-9d20-6f9204378b1e.png)

I'd expect a dialog with an infinite progress-bar to show until the execution of the script will end or until a Cancel button was clicked. Similar to the Initial Analysis d

[2018-10-03 10:16] ITAYC0HEN opened #754 "Show number of items in QTreeView widgets (Functions, Strings, etc.)"
Naturally, we have many QTreeViews implemented for our widgets. The problem is that the user can't know how many items are shown in the widget in a given time.

![image](https://user-images.githubusercontent.com/20182642/46404509-09a3cf00-c70e-11e8-85f8-56c1a49a624d.png)

For example, I wanted to know how many functions a binary have and I had no other option except executing `afl~?` in the Consol

[2018-10-03 12:39] ITAYC0HEN opened #756 "Ctrl-F not working in Flags widget"
Ctrl-F on the Flags widget doesn't move the focus to the Filter search box. It might happens in other widgets as well, I checked few and the were okay.

To fix it, simply need to add something like this:

[code]

To this function:
https://github.com/radareorg/cutter/blob/e3bc7440243648b643d1d3b034549bd26fb4f607/src/widgets/FlagsWidget.cpp#L124

An example can be shown in the StringsWidget:
https:/

[2018-10-03 16:13] reijin90 commented on #752
I'm not sure if this issue is actually related to your implementation. As I just discovered, I have the same behaviour when trying to connect to my remote gdbserver via the Windows version of Radare. I've created an issue there too: https://github.com/radare/radare2/issues/11722

[2018-10-03 20:03] xarkes commented on #752
On one side, there is a mistake, we should not provide debugging IO (such as `gdb://`) in Cutter because the debugger is not complete yet.
On the other side, it seems there's a bug in radare2 as you stated here so, I'm gonna close this issue.
Thanks for creating the issue on radare2.

[2018-10-03 20:03] #752 closed

[2018-10-03 20:17] xarkes commented on #614
Fixed in #755.

[2018-10-03 20:17] #614 closed

[2018-10-03 22:53] jamieb122 commented on #605
Suggest closing this issue, as the feature was inplemented in latest commit

[2018-10-04 03:38] sajattack commented on #528
I'm new to Qt. This is what I have for the dialog so far:
![2018-10-03-203628_566x411_scrot](https://user-images.githubusercontent.com/1562711/46451647-35de4080-c74c-11e8-9651-aeaa3cb2f683.png)
How do I do the outlined box to the right?

[2018-10-04 06:06] ITAYC0HEN opened #760 "Blacklist debugging IO in NewFileDialog"
We should blacklist debug IO such as (bochs, gdb, ptrace, qnx, windbg) until we implement debugging support

The relevant code is implemented here:
https://github.com/radareorg/cutter/blob/e3bc7440243648b643d1d3b034549bd26fb4f607/src/Cutter.cpp#L1352-L1371

and being called here:
https://github.com/radareorg/cutter/blob/e3bc7440243648b643d1d3b034549bd26fb4f607/src/dialogs/NewFileDialog.cpp#L323-L3

[2018-10-04 06:12] ITAYC0HEN commented on #528
hi @sajattack! You did a really good start :)

The screenshot I posted in the issue is just to show the example of the dialog but as I wrote there, we should stick to the original request:

- Rename
- Change start address
- Change end address
- Change stack frame size (afS)

If you think that there are more useful features to add here, that's fine for us. You can see `af?` in radare2 for more opti

[2018-10-04 06:55] ITAYC0HEN opened #761 "Add "right Click > Select Block" to the Hex Widget"
It will be great to have the option to select a block of `[size]` for a given `[address]` or a range of `[start_address]` to `[end_address]` in the Hex Widget.

It would proobably should look something like this:

![image](https://user-images.githubusercontent.com/20182642/46457057-a3748600-c7b9-11e8-9941-ac174f818b23.png)

**Ideally, it would have these features:**

- select `[start address]` and

[2018-10-04 07:51] #756 closed

[2018-10-04 07:51] xarkes commented on #605
Yes indeed. Closed in #708.

[2018-10-04 07:51] #605 closed

[2018-10-04 08:07] ITAYC0HEN commented on #700
great! Thank you :)

[2018-10-04 08:10] ITAYC0HEN commented on #302
@trufae - Can you give an example for this? (from radare2 or any other hex editor)

[2018-10-04 15:03] ITAYC0HEN opened #764 "Indicate that a command is being executed on Console widget"
Currently, when executing a heavy command in the Console widget we don't have any indication that the command is being run. We should add a label that says when the command is running

[2018-10-04 15:42] securitykitten commented on #648
I have a Fedora box where I was able to replicate this error.

It can be solved by
[code]

[2018-10-04 18:01] GordanZovko commented on #733
@ITAYC0HEN is anyone working on this? seems quiet. :) Would like to have a take on this.

[2018-10-04 18:12] ITAYC0HEN commented on #733
@GordanZovko please do :) Indeed seems quiet.
would appreciate if you'll take and finish it actually :)

thanks!

[2018-10-04 23:06] smhaziq commented on #754
Any suggestion on the count display location?
How about adding in a status footer for each QTreeView widgets?

[2018-10-05 07:54] Maijin commented on #754
Probably in the title like `Functions (123)` or `(123) Functions`

[2018-10-05 08:14] ITAYC0HEN commented on #754
I prefer a tiny and solid status bar at the footer actually

[2018-10-05 10:05] ITAYC0HEN opened #766 "Allow multi selection of entries in QTreeView widgets (Functions, Strings, etc.)"
Currently, multi-selection of items in our widgets isn't possible (at least in those I checked).
It would be great to allow the user to select multiple items so he can count them (after #754 would be fixed) and/or copy them.

1. clicking on entry A and while holding Shift a click on entry B will select all items in the range between A to B
2. Holding CTRL and then clicking on an item will select i

[2018-10-05 10:59] GordanZovko commented on #733
@ITAYC0HEN I am a bit lost, are there defined functions that need to be bound to shortcuts, if so can you please point some of them to me?

[2018-10-05 12:44] mirh opened #768 "Show currently open file"
Either the full path or just the name would be fine for me.
And either in the title bar, or somewhere else in the UI too.

It's really a mess to work with more than a couple files, when you can't remember which window is what.

[2018-10-05 12:49] xarkes commented on #768
I think this was fixed here: https://github.com/radareorg/cutter/pull/726
It's not available in the latest release, but next one is coming very soon.

[2018-10-05 12:49] ITAYC0HEN commented on #768
Hey, thanks for the feedback!

It's already implemented on Master branch and will be released soon in the new release.

I pushed it at #726
https://github.com/radareorg/cutter/pull/726

If you'll work on Cutter from source it is available for you :)

Closing this issue. Please let me know if you tried using Cutter from git and it's not available for you.

[2018-10-05 12:49] #768 closed

[2018-10-05 14:03] mirh commented on #768
Duh, thanks

[2018-10-05 14:11] mirh opened #769 "Crash when pseudocode view is enabled"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 7 x64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | x86/64
| Cutter and r2 version, See About Cutter

[2018-10-05 16:42] #760 closed

[2018-10-05 17:56] jamieb122 commented on #761
See pull request 770

[2018-10-05 18:11] ITAYC0HEN commented on #733
hi @GordanZovko! Please see my comment above https://github.com/radareorg/cutter/issues/733#issuecomment-425870240

For example, `Shift +  F12` should bring to focus the Strings widget (list of shortcuts available in the link I posted at the head of this thread) and will open it if it's not opened.

[2018-10-05 23:11] a1ext commented on #769
r2 issue, crashes at Linux as well. To reproduce:
* `e asm.pseudo = true`
* `pdj 6@6442453038`

[2018-10-06 01:39] a1ext commented on #769
Because of buffer overflow [here](https://github.com/radare/radare2/blob/master/libr/core/disasm.c#L5336)
![image](https://user-images.githubusercontent.com/14978853/46566014-008a4c00-c920-11e8-9d59-c2ccbed9053b.png)

In case `asmop.buf_asm` has a small string (<32 characters) the string is being stored inside inline `RStrBuf::buf` array and `r_asm_op_get_asm` returns a pointer to it. After passin

[2018-10-06 13:41] ITAYC0HEN commented on #605
Is it only me or we still can't rename local vars on the top of the first block?
Should be available using `Shift+N` or `right click-> rename var_4` as in other blocks

@jamieb122 @xarkes

![image](https://user-images.githubusercontent.com/20182642/46571919-3f52ed00-c986-11e8-89c2-cad32a2e63b5.png)

[2018-10-06 13:55] duck2 commented on #766
I can give this a try.

[2018-10-06 19:16] ITAYC0HEN commented on #605
actually, I don't want a complicated dialog for renaming. I prefer `"Shift+N" -> (all text selected in the textbox) typing name -> enter`. I don't see why can't it be two different dialogs (same as IDA has)

[2018-10-06 19:28] jamieb122 commented on #605
To do this in the function header, the dissasembly needs to be changed so that each line is separately selectable...I think more processing would need to be done in the disassembly widget to determine if the address is at a function (not just in a function), and then somehow parse out which variable is referenced via which line.  Probably doable but I imagine the implementation might have to be a

[2018-10-07 05:20] marcograss opened #772 "Cutter UI color scheme in text fields is broken in macOS mojave Dark Mode"
### Work environment
OS: macOS 10.14 mojave dark mode
File Format -  Architecture: Any
Cutter and r2 version: latest

### Expected behavior

The UI elements should be visible in dark mode, see the attached screenshot in the function list panel,

there are other instances, basically in every text field

### Actual behavior

![image](https://user-images.githubusercontent.com/1010159/46578468-982c8f0

[2018-10-07 06:13] ITAYC0HEN commented on #766
It would be great @duck2! Thank you :)
Please update us with the progress

[2018-10-07 09:20] xarkes opened #774 "[META] Better disasm output"
As discussed around, the disasm output is sometimes not easy to read. This issue regroups the stuff we want to improve for better output.

- [x] Function names/calls (See https://github.com/radareorg/cutter/pull/519)
- [x] Shrink flag names (Sometimes long strings make the box very wide)
- [x] Automatically disable `aan` which can be very misleading

Feel free to edit or comment to add stuff.

[2018-10-07 10:14] Vane11ope commented on #764
on it

[2018-10-07 14:04] Maijin commented on #774
Removing the `aan` must be done once PE analysis is fixed otherwise you'll face a huge backward on many PE binaries and loose user-base in profit of other tools that don't have this problem.

[2018-10-08 03:16] sajattack commented on #690
There's a good how-to guide for signing Windows binaries here, but someone's gonna have to pony up $$$ for a certificate https://learn.adafruit.com/how-to-sign-windows-drivers-installer/overview

[2018-10-08 04:56] ITAYC0HEN commented on #705
Hey @tkhurana96 :)
How things are going? Just following up to see that everything is ok.
If you need some help, don't hesitate - we are here :D

[2018-10-08 05:18] tkhurana96 commented on #705
Will start really soon working on it😀

[2018-10-08 08:16] wst-ci commented on #690
Could we get GPG signatures distributed with the releases first? Authenticode signing feels a bit fluffy.

[2018-10-08 08:33] wst-ci commented on #690
Why will it require this? Just get all the devs to sign Cutter.zip, Cutter.dmg and Cutter.AppImage?

[2018-10-08 09:01] xarkes commented on #690
He means this makes no sense to sign Cutter, while it bundles not signed dependencies.

[2018-10-08 09:04] Maijin commented on #690
That's what I meant yes.

[2018-10-08 09:15] wst-ci commented on #690
Ah right, so you're saying that the Cutter build process pulls-in various unsigned binaries, so signing the final release doesn't provide full integrity verification?

[2018-10-08 10:39] trufae opened #781 "Unaligned graph node"
thats in the entrypoint of mac's ls

<img width="755" alt="screenshot 2018-10-08 at 12 01 29" src="https://user-images.githubusercontent.com/6431515/46604622-2584e780-caf7-11e8-943d-499f16f45710.png">

[2018-10-08 12:38] XVilka opened #782 "Add errors autoreport"
With Sentry or any other similar service/software https://blog.sentry.io/2018/03/06/the-sentry-workflow

[2018-10-08 15:16] Maijin commented on #528
Someone reported that we should add "edit calling convention" to this list, I have added it.
The list of calling convention for a given environment is given by `afcl` (`afclj` to be implemented on radare2) and to set it's `afc XXXX`

[2018-10-08 15:34] ytrewqytrewqytrewqytrewq1 commented on #647
tested with 1.7.2
Cutter does not crash anymore but an error message regarding jupyter persist
`Cutter-v1.7.2-x86_64.Linux.AppImage
Setting r2 prefix = "/tmp/.mount_CutterVVwyhy/usr"  for AppImage.
Setting PYTHONHOME = "/tmp/.mount_CutterVVwyhy/usr"  for AppImage.
PYTHONHOME = "/tmp/.mount_CutterVVwyhy/usr"
Python init
[W 17:31:25.514 CutterNotebookApp] Error loading server extension jupyterlab

[2018-10-08 15:37] xarkes commented on #647
Interesting, thanks for the feedback.

[2018-10-08 18:06] duck2 commented on #766
Hello,

After doing some research, I think I should first subclass `QTreeView` into a custom class, say, `CutterQTreeView` and implement the functionality using [QItemSelectionModel](http://doc.qt.io/qt-5/qitemselectionmodel.html).

This will require changing code in all widget files(`QTreeView to CutterQTreeView` and `<customwidget>` tags). Is that OK?

[2018-10-08 20:55] kernelm0de commented on #527
I would like to give this a try.

[2018-10-08 23:04] xarkes commented on #527
Sure @kernelm0de, feel free to ask help or details here.

[2018-10-08 23:07] xarkes commented on #766
It sounds ok, but: I think someone is already creating a subclass `CutterQTreeView` (https://github.com/radareorg/cutter/pull/779)
So it would be better if one could wait on the other (I let you decide between yourselves) to try not to do the same work at the same time.
cc @smhaziq

[2018-10-08 23:29] duck2 commented on #766
I can wait until the subclass is created, given I didn't get Cutter to build with `CutterQTreeView` yet.

[2018-10-09 08:14] dmknght opened #784 "Mouse cursor highlight comment only instead of full command"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian testing amd64
| Cutter and r2 version, See About Cutter (mandatory)  | Version 1.7.2 / Using r2 3.0.0 |

# Suggestion
Every time I move mouse cursor on a command in graph m

[2018-10-09 13:44] aldelaro5 opened #786 "Graph: on PowerPC, the graph prematurely stops on or behave weirdly with branches"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Arch Linux x64
| File format of the file you reverse (mandatory)      | DOL, ELF
| Architecture/bits of the file (mandatory)            | PPC
| Cutter and r2 version, See About Cu

[2018-10-09 15:37] radare opened #787 "Cutter.sh window title in macOS"
https://twitter.com/trufae/status/1049480320305831936

[2018-10-09 20:03] a1ext opened #791 "Jupyter Notebook is broken"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits                              | Windows 7 x64
| File format of the file you reverse      | not related
| Architecture/bits of the file            | not related
| Cutter and r2 version, See About Cutter (mandatory)  | Versi

[2018-10-09 20:59] a1ext commented on #589
will try to fix it

[2018-10-09 20:59] ITAYC0HEN commented on #589
Great! Thank you :)

[2018-10-09 21:07] #791 closed

[2018-10-09 21:22] a1ext opened #795 "Cutter loads everything as a plugin if there is no `plugins` directory next to it"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits                              | Windows 7 x64
| File format of the file you reverse      | not related
| Architecture/bits of the file            | not related
| Cutter and r2 version, See About Cutter (mandatory)  | Versi

[2018-10-10 06:29] xarkes commented on #795
Oh right, why is that a `cd`? :(

[2018-10-10 06:41] xarkes commented on #527
Closed in #788.

[2018-10-10 06:41] #527 closed

[2018-10-10 09:54] xarkes commented on #782
Yeah good idea, I thought about it but never opened an issue.

[2018-10-10 12:34] #754 closed

[2018-10-10 12:35] xarkes commented on #766
@duck2 The PR #779 has been merged, so feel free to extend the class.

[2018-10-10 17:51] dmknght opened #798 "Graph mouse click highlight wrong position"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Parrot 4.2 64 bit
| File format of the file you reverse (mandatory)      | ELF (happens to any format)
| Architecture/bits of the file (mandatory)            | x86_64 (happens to

[2018-10-10 18:12] xarkes commented on #795
Yeah we just need to get the cd return value and handle it.

[2018-10-10 18:18] ITAYC0HEN commented on #798
Sadly, I can't reproduce on:

| Cutter Version  | OS                |
|-----------------|-------------------|
| Release (1.7.2) | Windows 10 64-bit |
| Release (1.7.2) | Arch Linux 64-bit |
| Master (git)    | Windows 10 64-bit |
| Master (git)    | Arch Linux 64-bit |

Screenshot, same binary:

![image](https://user-images.githubusercontent.com/20182642/46757039-a3044f80-ccd1-11e8-9379-9c7f0adfbd

[2018-10-10 18:47] dmknght commented on #798
That is super weird. I am using release version and it happens to me from previous versions.
Here is a picture with Cutter 1.7.1, Debian 9 amd64 inside Virtualbox.
![screenshot at 2018-10-11 01-43-19](https://user-images.githubusercontent.com/29118926/46758487-1ff5f000-ccf7-11e8-9a3f-a58d1053a7af.png)
![screenshot at 2018-10-11 01-46-38](https://user-images.githubusercontent.com/29118926/46758634-

[2018-10-10 18:53] ITAYC0HEN commented on #798
Indeed weird, and I totally believe you - thanks for letting us know!
Sadly I can't reproduce on the machines stated above and never heard of similar complains. 😕

Any chance you can debug it from source on your end and try to figure out what causes it?

[2018-10-10 19:02] ITAYC0HEN commented on #798
Okay I was able to reproduce indeed! :)

Cutter version from git, another Arch64 machine

![image](https://user-images.githubusercontent.com/20182642/46759437-16a95b00-ccd8-11e8-937c-83a8fb60741f.png)

[2018-10-10 19:07] dmknght commented on #798
Wow i am about cloning and building it. Hope you fix it soon. Thanks for fast supporting <3

[2018-10-11 09:07] dmknght opened #801 "Enable X-refs in Strings panel and X-refs can not find strings"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 10 amd64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | i386
| Cutter and r2 version, See About Cutter

[2018-10-11 09:47] ytrewqytrewqytrewqytrewq1 opened #802 "Cutter unable to open an apk"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             |  Ubuntu 17 64bit
| File format of the file you reverse (mandatory)      | apk
| Architecture/bits of the file (mandatory)            | N/A
| Cutter and r2 version, See About Cutte

[2018-10-11 10:06] ytrewqytrewqytrewqytrewq1 opened #803 "Cutter crashes after loading a dex file"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             |  Ubuntu 17 64bit
| File format of the file you reverse (mandatory)      | dex
| Architecture/bits of the file (mandatory)            | N/A
| Cutter and r2 version, See About Cutte

[2018-10-11 12:07] xarkes commented on #801
I think the reason for that is the same as here: https://github.com/radareorg/cutter/issues/516

[2018-10-11 12:30] dmknght commented on #801
Can you guys add X-refs to Strings panel? It would be a lot easier to find strings.

[2018-10-11 13:05] #712 closed

[2018-10-11 16:34] kernelm0de commented on #801
![strxref](https://user-images.githubusercontent.com/30472260/46819227-d4981c00-cda0-11e8-8017-296ffd1f51ff.PNG)

With "0x" before the address i am able to get xrefs. getXrefs function inside Cutter.cpp doesn't use "0x" before the address. That might be causing the problem?

https://github.com/radareorg/cutter/blob/master/src/Cutter.cpp#L2037

[2018-10-11 20:32] a1ext opened #805 "Cutter treats `Close` as `Discard` in the `Save Project` dialog when you tries to close the main window and then changes your mind"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 7 x64
| File format of the file you reverse (mandatory)      | not related
| Architecture/bits of the file (mandatory)            | not related
| Cutter and r2 version, Se

[2018-10-11 21:42] ITAYC0HEN commented on #803
Thanks for letting us know :)
I was able to reproduced on the Appimage release version, but wasn't able to reproduce the bug on Master.

Can you please check it on Cutter from git?

[2018-10-11 21:56] ITAYC0HEN commented on #803
tried again on Appimage version and didn't have a crash - after a while (too much time), cutter loads fine.
I don't get the segfault message

[2018-10-11 22:13] ITAYC0HEN commented on #802
Reproduced on master:
![image](https://user-images.githubusercontent.com/20182642/46836429-0cf82400-cdba-11e8-939a-d38ac9138034.png)

as far as I remember, `zip://` doesn't open the file but only list the files inside. I'm not sure though...
In such case, `zip://` should be removed from Cutter.
On the other hand, there's an `apk://` IO option which for some reason doesn't exist in our list. We sho

[2018-10-12 00:01] a1ext opened #807 "Function summary displaying has bad disasm preview formatting (-monospace font)"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Windows 7 x64
| File format of the file you reverse (mandatory)      | not related
| Architecture/bits of the file (mandatory)            | not related
| Cutter and r2 version, Se

[2018-10-12 05:27] ITAYC0HEN commented on #807
In addition to the mentioned problems, there is no width limit for the tool tip. Whenever there's a long flag in the disas preview, the width of the tool tip will fit to the text. In some cases the tool tip was so width that it covered my two monitors.

[2018-10-12 07:08] #805 closed

[2018-10-12 07:16] ITAYC0HEN commented on #802
Good idea :)

@XVilka, do you remember if the quoted above is true?

[2018-10-12 07:17] ytrewqytrewqytrewqytrewq1 commented on #802
@ITAYC0HEN if you position your mouse over zip in the IO selection input field a description appears which lists apk between the supported files types for zip

[2018-10-12 07:28] ITAYC0HEN commented on #803
can you reproduce this in radare2 as well?

[2018-10-12 07:33] ITAYC0HEN commented on #769
Fixed partially in https://github.com/radare/radare2/issues/11751 so I'm closing the issue.
That said, `r_parse_parse` is still vulnerable to buffer overflow and probably need reimplemntation in the radare2 side.

I think @a1ext can share more details

[2018-10-12 07:33] #769 closed

[2018-10-12 07:36] ITAYC0HEN commented on #784
can you share a screenshot which demonstrate the problem?

[2018-10-12 07:36] gloomy-ghost opened #808 "Unknown opcode for every program"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits                 | Debian x86 64
| File format of the file you reverse    | ELF64
| Architecture/bits of the file        | x86/64
| Cutter and r2 version, See About Cutter  | Version 1.7.2 / Using r2 2.9.0 (AppImage)
| Sho

[2018-10-12 07:38] optizone8 commented on #494
@ITAYC0HEN
Yeah, I thought about instant preview. But first, I think we should do some refactoring and add button 'apply' to settings dialog.

And about import/export. Do you talk about buttons that functions of copying files from/to radare2 custom schemes folder?

[2018-10-12 07:39] ytrewqytrewqytrewqytrewq1 commented on #803
radare works fine

[2018-10-12 07:54] dmknght commented on #784
Here is my screenshot. I am very sorry for bad image quality. My Cinnamon can't take screenshot with comment box under mouse so I have to do it in the hard way.
![img_20181012_144159](https://user-images.githubusercontent.com/29118926/46855467-fee3eb00-ce2d-11e8-927d-a616a5758ebd.jpg)
Anyway, i think i had some mistakes:
1. This box only shows up when mouse move to comment (not instruction)
2. Loo

[2018-10-12 08:11] ITAYC0HEN commented on #808
CC @fcasal

[2018-10-12 09:01] dmknght opened #809 "Menu displays "Rename local variable" wrong after re-open saved project"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 10 amd64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | i386
| Cutter and r2 version, See About Cutter

[2018-10-12 09:04] dmknght commented on #784
Here is my better screenshot.
![screenshot from 2018-10-12 16-03-05](https://user-images.githubusercontent.com/29118926/46859614-728af580-ce38-11e8-9a6e-840ea6f07ecb.png)

[2018-10-12 10:18] xarkes commented on #808
The `Unknown opcode` are probably because of `ao` command, I'd say it is unrelated.
Also you have to understand that emulation won't load your libraries, so if you just press `Continue` it will jump to a bad location eventually (and maybe execute invalid instructions).

[2018-10-12 10:28] a1ext commented on #807
@xarkes Why? it is good to have it... It saves the time, if a func is short and you don't have to click there to look at it.

[2018-10-12 10:32] a1ext commented on #807
@xarkes is it possible to get disasm preview colored?

[2018-10-12 10:42] xarkes commented on #807
It saves time, really? From my point of view, it's faster to click on it than waiting for the tooltip to appear.
I don't know if QToolTip supports html.

[2018-10-12 10:44] a1ext commented on #807
I could fix that, it does I think. How to get colored output of `pdi 10 @ func_name`?

[2018-10-12 10:45] xarkes commented on #807
I think you will need to use `pdJ`.

[2018-10-12 10:48] dmknght commented on #801
I think so. Because strings panel is using key filtering so i guess hotkey will not okay in here.

[2018-10-12 11:09] gloomy-ghost commented on #808
Am I misunderstanding something or is it _not_ working as expected? I've been trying to search for a correct use case for the emulation but no luck so far, so I thought it is similar with a debugger...

[2018-10-12 11:52] ITAYC0HEN commented on #808
Oh, it is not. It has its pros and cons. You can see some examples here:

 http://www.mien.in/2018/08/15/emulating-decryption-function-with-radare2/

https://blog.xpnsec.com/radare2-using-emulation-to-unpack-metasploit-encoders/

https://medium.com/@nicholas.rafter/unpacking-rig-ek-shellcode-using-esil-71aba07366b0

[2018-10-12 12:03] ITAYC0HEN commented on #801
Ctrl+X?

[2018-10-12 17:45] ITAYC0HEN commented on #809
CC: @jamieb122 maybe you'll have any insight here

[2018-10-12 17:47] ITAYC0HEN commented on #801
Right, makes sense :)

[2018-10-12 19:00] dmknght opened #815 "Reopen project use default asm.tabs and asm.tabs.off automatically"
### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | Debian 10 amd64
| File format of the file you reverse (mandatory)      | PE
| Architecture/bits of the file (mandatory)            | i386
| Cutter and r2 version, See About Cutter

[2018-10-12 21:34] xarkes commented on #815
Yeah I think because for now projects are only r2 projects (not Cutter).
We'll have to rework that, once the projects on r2 are fixed/more stable.

[2018-10-12 23:07] jamieb122 commented on #809
That actually is not related to what was implemented in pull request #708 and looks to be a separate bug.  That pull request used the verbiage "Re-type function local vars."  This bug looks like it is related to the context menu item associated with "Rename Flag/Fcn/Var Used Here" in DisassemblyContextMenu.cpp (line 41).

[2018-10-13 01:40] gloomy-ghost commented on #808
Okay... So it seems like an IEBKAC case :new_moon_with_face:, I'll just run the edited binary then...

[2018-10-13 01:40] #808 closed

[2018-10-13 03:42] dmknght commented on #809
More information: Both clicking on menu and using hotkey `Shift + N` gives me `add flag` menu so i think this is a bug that calling wrong function.

[2018-10-13 08:05] ITAYC0HEN commented on #764
Fixed in #789

[2018-10-13 08:05] #764 closed

[2018-10-13 09:05] dmknght commented on #809
I think the problem is from https://github.com/radareorg/cutter/blob/2105b1fba21df25971f29c85b90ee3ceaf2182cd/src/menus/DisassemblyContextMenu.cpp#L287
[code]

[2018-10-13 10:44] ITAYC0HEN commented on #413
okay so we need to decide on the right font to use and finally get rid of the dashed lines in cutter
[code]

[2018-10-13 11:06] ITAYC0HEN commented on #486
ping @Maijin
Got any update here? I think we can parse the section size and `wtf` it  using `wtf size @ section_addr`

[2018-10-13 11:41] Maijin commented on #486
Not so simple because the command you suggest implies we work on no-VA mode which is not case :S

This depends from either:
- https://github.com/radare/radare2/pull/9715
or
- SIOL fix in Rbin

Both issues that are long lasting

[2018-10-13 12:05] ITAYC0HEN opened #816 "Color Themes: show only those which relevant to selected Dark\Light Qt Theme"
#### First terms definition:
**Color Theme:** The color of the text of the disassembly
**QT Theme:**  The color of the interface. Either "Default" (light) or "Dark"

---

Currently, we have too many Color themes and some (most?) of them are useless because:
1. super ugly
2. invisible or partially invisible in either or both of our QT Themes

For example, look at this combination of themes in which

[2018-10-13 12:06] ITAYC0HEN commented on #634
highlight\background  color for specific lines won't be implemented but pancake's suggestion for different Color Themes for dark\light modes is great.

I summed it up in a dedicated issues: #816

Closing this

[2018-10-13 12:06] #634 closed

[2018-10-13 12:18] optizone8 commented on #816
I think, we should add light QT theme as well. Because default is not always light.

[2018-10-13 13:07] icebp commented on #733
@ITAYC0HEN  is anyone working on it? I looked at the code a bit and I think I can create a PR today adding these shortcuts (at least the widgets ones)

[2018-10-13 15:46] optizone8 opened #820 "Improve preferences dialog"
Now preferences dialog don't have 'apply' button, that usually presences in that type of widgets, maybe we should add one.

Also I think we should add new category related to color themes (like "Disassembly view") and keep "General" category to Qt themes, fonts, languages (I'll do it soon) and something more "general".

So, what do you think?

[2018-10-13 17:16] ITAYC0HEN commented on #820
Adding a "Apply" button is a great idea! Good :) and

I believe that anything about design should be at the same place (qt theme, color theme, fonts, etc). We can call it "appearance"/"interface" or something similar.

[2018-10-13 17:29] ITAYC0HEN commented on #820
I think yes

On Sat, Oct 13, 2018, 20:20 optizone8 <notifications@github.com> wrote:

[2018-10-13 17:30] ITAYC0HEN commented on #820
Yeah, but maybe "appearance" is more popular

[2018-10-13 18:16] tkhurana96 commented on #705
Hi all, I was able to build the project succesfully, and I have gone through the code too. My finding till now is that radare2 is not sending the ANSI color sequences for commands. I have reached this portion of code:

[code]

@ITAYC0HEN Can you guide me what does `r_cons_push` does ? I tried looking into it, but couldn't get a sense of it. I am basically trying to find out how are commands(that a

[2018-10-13 19:00] xarkes commented on #705
For radare2 to send the ANSI color, you have to make sure that the variable `scr.color` is different than `0`.
Some commands overwrite it by default (setting it to 0), using the TempConfig class.

[2018-10-14 00:10] Adikso commented on #798
I wrote this highlighting code and from what I see this is happening with non-mono fonts. It is calculating position as if all "tokens" have same width. I can fix it

[2018-10-14 08:49] rootbsd opened #822 "r2dec support issue"
# r2dec support issue

*r2dec support does not work out of the box...*

### Work environment

| Questions                                            | Answers
|------------------------------------------------------|--------------------
| OS/arch/bits (mandatory)                             | N/A
| File format of the file you reverse (mandatory)      | N/A
| Architecture/bits of the file (mandatory

[2018-10-14 09:00] kernelm0de commented on #64
Any details where the button needs to be added?. I think it would be better toggling the sideview from context menu of hexdump.

[2018-10-14 09:11] ITAYC0HEN commented on #822
Hi Paul! :)
Definitely! Bundling r2dec by default is on our task-list and my guess is that it would be available in one of the next two releases.

I think @thestr4ng3r mentioned that it shouldn't be too hard to implement since [Duktape](https://duktape.org/) is quite light.

We hear more and more people asking for r2dec to be embeded by-default in Cutter so I think we can prioritize it :)

Meantim

[2018-10-14 09:15] ITAYC0HEN commented on #64
it is up to you. Toggle button is good. (Click>close-menu, Click>open_menu)

[2018-10-14 09:32] tkhurana96 commented on #705
@xarkes Thanks, I tried setting `scr.color` to 2 and it works :smile: !! So, I was able to enable colors in radare2 output, here is the PR #823 .

[2018-10-14 09:56] rootbsd commented on #822
Hi,
  Nice to see you there Itay ;)

  That's a nice new if r2dec is natively embedded in Cutter. As I said for Linux the workaround is not complicated. For Windows, I probably have the wrong building environment but I didn't find a way to compile it. I saw the issue with the make command but no success...

P.

[2018-10-14 10:24] kernelm0de opened #824 "Undirected Graph Edge displayed for a jump that goes out of the current function"
![graph](https://user-images.githubusercontent.com/30472260/46915388-c0366800-cfc8-11e8-9832-fe48650b8c56.PNG)

I think there should not be any edge displayed for a jump that goes out of the current function

[2018-10-14 13:29] kernelm0de commented on #816
- **dark** - default, ayu, zenburn, darkda, rasta, solarized, monokai, onedark, cga, lima
- **default** - cutter, white, dark, matrix
- **should remove** - defragger, consonance, pink, behelit, xvilka, white2, sepia, tango, focus, bold, smyck, ogray, basic

took a quick look at all the color themes, what do you think?

[2018-10-14 15:48] dmknght commented on #822
Please add theme color to r2dec as well.

[2018-10-14 15:53] xarkes commented on #705
Yeah I think that's because the console doesn't support ANSI codes.
You might want to try with `scr.html = true`, I think this widget can handle html.

[2018-10-14 17:03] kernelm0de commented on #807
Is anyone working on this? And imo strings shouldn't be displayed in tooltip. Some functions have too many strings which makes tooltip height too big.

[2018-10-14 17:05] a1ext commented on #807
I’m working on it

[2018-10-14 17:09] kernelm0de commented on #807
Tooltip supports html, so a <pre> tag will format disasm preview same as it appears on console :)

[2018-10-14 17:17] a1ext commented on #807
Yes, I know. Currently the work in progress and it looks like the following:
![f91e66ff-70be-449f-80ea-0e5ee1226386](https://user-images.githubusercontent.com/14978853/46919838-03570200-cfee-11e8-85e8-70baa60586e4.jpeg)

[2018-10-15 04:11] #795 closed

[2018-10-15 05:09] ITAYC0HEN commented on #816
@kernelm0de overall good :)
Maybe we should remove more from the "dark" list. And we MUST add "consonance" to the dark list. It's great!

[2018-10-15 09:56] Maijin commented on #824
It probably should be highlighted too somehow.

[2018-10-15 09:59] Maijin commented on #822
Greetings @dmknght,

By commenting issues with different issues is likely that your problem/suggestion will be skipped.
Please open a issue on the r2dec project - https://github.com/wargio/r2dec-js/issues.

Regards,

[2018-10-15 11:05] ITAYC0HEN commented on #822
@Maijin, actually, the r2dec highlighting colors are problems with our own QT Code highlighting afaik
@Vane11ope knows better, and maybe @thestr4ng3r that implemented it

[2018-10-15 12:46] a1ext commented on #807
Hey guys, the question:
Currently we could crop a tooltip specifying its max width, but in this case lots of long names are being cropped, usually cropped is useful part, and useless (`sub.api_ms_win_crt_runtime_l1_1_0.dll__...`) is left, so the information displayed on tooltip becomes less useful than it has to be...

![image](https://user-images.githubusercontent.com/14978853/46951533-ef181100-d

[2018-10-15 13:04] ITAYC0HEN commented on #766
ping @duck2

[2018-10-15 14:20] xarkes commented on #807
Hi,
We are planning to remove it from any disas view to make the disassembly better, so I suggest you to keep it as it is now, and we will modify it once we managed to remove it from the disas widget.

[2018-10-15 14:21] xarkes commented on #824
What should be highlighted? The last block?

[2018-10-15 19:54] #807 closed

[2018-10-15 20:27] xarkes opened #832 "Improve CONTRIBUTING.md and move some parts in docs/"
I think we should move some content from CONTRIBUTING.md, and only keep the important stuff there, and have a detailed page in the documentation about contributing.

[2018-10-15 20:30] pelijah commented on #822
It is not hard to build r2dec on Windows since https://github.com/wargio/r2dec-js/pull/109.

[2018-10-15 20:30] xarkes opened #833 "Add more C++ classes documentation and include it in the new docs"
We must have some API documentation, so we should find a way to do this.
The easiest is to add them as comments and generate it with doxygen, now I don't know how easily it can be integrated on https://radareorg.github.io/cutter/

[2018-10-15 20:33] xarkes commented on #699
Oh really? Hmm interesting, I'm gonna ping/check in r2 side.

[2018-10-15 20:36] exezin commented on #699
Unless there's something else I am missing..

[code]

[2018-10-15 20:38] xarkes commented on #699
Oh, this looks like your r2 version is old. Make sure you don't have old r2 libraries in your system.

[2018-10-15 20:43] rootbsd commented on #822
Interesting. I'm gonna try ASAP. thank you @pelijah

[2018-10-15 20:45] rootbsd opened #834 "Functions list update/refresh"
**Environment information**
* Operating System: Windows
* Cutter version: 1.7.2
* File format: PE32

**Describe the bug**
If I update the function names in command line in the console it's impossible to update the functions widget.
The only way I found is to save the project and restart Cutter.

**Expected behavior**
It would be great to have an auto update or a refresh button (like in the pseudoc

[2018-10-15 20:47] rootbsd opened #835 ""Save as..." does not work in the Cutter"
**Environment information**
* Operating System: Windows 10
* Cutter version: 1.7.2
* File format: PE32

**Describe the bug**
If I use the user interface to save my project it simply does not work.
I need to use the command line (Ps projectname) in order to save my work.

**Expected behavior**
Saving.

P.

[2018-10-15 20:52] xarkes commented on #835
We discussed that already, and decided to remove the "Save project" UI for next releases, as projects are very badly supported in radare2 (see examples below):
- https://github.com/radareorg/cutter/issues/501
- https://github.com/radareorg/cutter/issues/282

I'm aware it is a "must have" feature, but this requires some heavy changes in radare2 that will be discussed soon.

[2018-10-15 20:55] xarkes commented on #834
I am tagging this as a question, because future plugins will need to be able to refresh the functions list, and that may be triggered manually (with a click button, or with a direct call to the API) or automatically depending on how we do it.

[2018-10-15 21:05] ITAYC0HEN commented on #834
You can do this by clicking on "View > Refresh Contents" and you should see an up-to-date Function widget.
But yes, we should trigger widget update more frequently (or at least add a "Right Click > Refresh" context menu item).

[2018-10-15 21:10] radare commented on #834
In r2 we plan to support signaling/event api so this will be needed to support sync between different sessions as well as helping updating ui contents.

Feel free to discuss this in r2 repo too. There is an issue already. I was thinking in extending the rlog api and sending text strings for each event and having an api to hook those messages with a list of callbacks

[2018-10-15 23:58] exezin commented on #699
It appears you are right, the latest version of r2 from the git repo appears to be having issues installing.  Seems to just segfault when even trying to print the version (r2 -v for example).

I've made sure to purge all previous library versions etc, might just be a bug in the latest version.

[2018-10-16 00:15] exezin commented on #699
Literally as I was debugging this issue a 3.0 release for r2 was added, compiling from that source seems to have resolved the issue   ¯\\\_(ツ)\_/¯

[2018-10-16 00:17] xarkes commented on #699
Ok I couldn't manage to reproduce, so thanks for the feedback.
What about you @edpil02, is this still an issue?

[2018-10-16 07:14] dmknght commented on #801
I've had a new idea about X-refs: Sidebar has x-refs panel, but it shows many information. So if you guys create a stand-alone x-refs panel, user can put xref like this (sreenshot).
![screenshot from 2018-10-16 14-09-19](https://user-images.githubusercontent.com/29118926/46998577-24823480-d14d-11e8-872f-5a232c852d54.png)

[2018-10-16 08:50] dmknght commented on #798
I've created a git version of cutter, and this problem has new issues
![screenshot from 2018-10-16 15-46-59](https://user-images.githubusercontent.com/29118926/47004012-cd835c00-d15a-11e8-9774-44a8eec35127.png)
![screenshot from 2018-10-16 15-47-04](https://user-images.githubusercontent.com/29118926/47004013-ce1bf280-d15a-11e8-8244-0c49016c55aa.png)
![screenshot from 2018-10-16 15-47-16](https://u

[2018-10-16 09:01] ITAYC0HEN commented on #798
thanks @dmknght :)
@Adikso, any idea what failed here?

[2018-10-16 09:05] XVilka commented on #834
See this bug for the reference: https://github.com/radare/radare2/issues/7410

[2018-10-16 09:38] Maijin commented on #824
I think the instruction should be highlighted or something else that shows this behavior

[2018-10-16 09:45] duck2 commented on #766
Pong, I now know how to implement this, it's
[code]
I checked out the new commits, but I cannot find any way to add this to the `CutterTreeWidget` class, since I couldn't find a way to access the tree view.

The `CutterTreeWidget` is initialized before the `ui->setupUi` is called, so it shouldn't have access to parent's other children via `parent->ui->findChild<QTreeView *>`.

I think the subclass

[2018-10-16 09:54] dmknght commented on #809
After playing, I think this problem comes from saving project (radare2 problem). Project does not save variable address -> reopening does not analysis binary file -> no information

[2018-10-16 14:49] #125 closed

[2018-10-16 15:15] #820 closed

[2018-10-16 15:57] xarkes commented on #801
Yeah I think it's quite a good idea, and easy to do.

[2018-10-16 16:11] dmknght commented on #801
So I think click string object in string panel should show value in Xreft table too. I've tested and it worked for graph panel and disassembly only.

[2018-10-16 16:12] xarkes commented on #801
Yeah that's probably because it's not the same signal sent/catched. In disas/graph it is likely "seekChanged" while in strings it's nothing (for now) afair.

[2018-10-16 16:21] dmknght opened #839 "Add scrollbar to Hex Panel"
Here is current hex panel (pulled and built git version, 16/10/208, 23h20 at GMT +7)
![screenshot from 2018-10-16 23-18-35](https://user-images.githubusercontent.com/29118926/47031383-e8c18c00-d199-11e8-9e2f-0bef03c15547.png)
I think hex dump panel is to long and it should have scroll bar to scroll up / down more easier.

[2018-10-16 16:34] Vane11ope commented on #533
im on this

[2018-10-16 17:26] xarkes opened #840 "AppImage improvements"
For next release, to improve this page:

https://appimage.github.io/Cutter/

See the link below for reference:
https://www.freedesktop.org/software/appstream/docs/chap-Quickstart.html#sect-Quickstart-DesktopApps

[2018-10-16 20:14] Maijin opened #841 "Color Palette not displayed"
**Environment information**
* Operating System: OSX
* Cutter version: r2 and cutter from git
* File format: n/a

**Describe the bug**

When clicking on the color in preference, the palette doesn't show up

**Expected behavior**
When clicking on the color in preference, the palette show up

[2018-10-16 21:39] bunjmoha opened #842 "Changing from CODE -> QWORD in dissembler cause Cutter to crash"
**Environment information**
* Operating System: Debian 4.18.0--amd64
* Cutter version: 1.7.2 (compiled from src)
* File format: ELF64

**Describe the bug**
Changing from CODE -> QWORD in dissembler cause Cutter to crash

**To Reproduce**
Steps to reproduce the behavior:
- create a new project
- in Graph is set to (not synced)
- move to Disassembly table
- type an address in the filter textbox
- ch

[2018-10-17 04:39] smhaziq commented on #766
Agreed. But as I said in #779 , I didn't put much thought on the CutterTreeWidget class design as it's an afterthought over a small task so I hope it get refined here. Feel free to change the class design as long the status bar still correctly get updated.

But if you don't want to make major change, how about passing the TreeView to the CutterTreeWidget class and process the view from there?
[cod

[2018-10-17 07:49] edpil02 commented on #699
Test  from latest  git and fedora  radare2- 3.0.0-2.fc30  same issue :

/bin/ld: CMakeFiles/Cutter.dir/Cutter.cpp.o:(.data+0xe8): undefined reference to `r_magic_version'
collect2: error: ld returned 1 exit status
make[2]: *** [CMakeFiles/Cutter.dir/build.make:1647: Cutter] Error 1
make[2]: Leaving directory '/home/rpmbuild/BUILD/cutter-1.7.2/src/build'
make[1]: *** [CMakeFiles/Makefile2:76: CMake

[2018-10-17 08:03] thestr4ng3r commented on #842
Can you please share the binary and addresses where exactly you set from code to qword?

[2018-10-17 08:35] ITAYC0HEN commented on #801
Fixed in #817

[2018-10-17 08:35] #801 closed

[2018-10-17 08:47] Maijin opened #845 "Strings panel section filtering"
**Is your feature request related to a problem? Please describe.**
Too much strings in strings panel, would be nice to be able to filter by sections

**Describe the solution you'd like**
Add section column and ability to filter in the search bar

See - [ch2(1).zip](https://github.com/radareorg/cutter/files/2486505/ch2.1.zip)

[2018-10-17 08:58] dmknght commented on #801
I've tested latest git version with binary file `r.exe` again. Some strings are not showing in xref. Turned out it is radare2's problem.

[2018-10-17 09:01] Maijin commented on #801
@dmknght can you open an issue?

[2018-10-17 11:38] Maijin commented on #801
Yep ok thanks

[2018-10-17 14:06] kernelm0de commented on #845
I agree with the section column, but i am curious how will the filtering on based of sections work?? Add another filter? Maybe we could add a dropdown menu which shows an option to choose sections of the binary from which to show the strings.

[2018-10-17 16:48] radare commented on #699
That's expected. and this bug is in Cutter, not in r2. As long as its built with sysmagic this symbol doesn't exist. so my proposal here is one of this:

* Use. r_userconf.h to determine if this symbol exists or not (like r2 do in radare2.c)

[code]

[code]

* As alternative, just remove this line and it will not be a big loss and allow people to replace r2 instance without caring if its built wit

[2018-10-17 21:07] #832 closed

[2018-10-18 08:09] Maijin commented on #845
maybe the filter should be both applied to sections and strings

[2018-10-18 11:42] sebdraven opened #850 "Add a library to resolve symbols"
The goal is to have a pop up or menu when a binary uses a library.  It's useful  when your reverse vb executable or delphi executable.
With the library you can resolv the symbol and put it in the assemby or graph view.

[2018-10-18 11:46] Maijin commented on #822
See https://github.com/wargio/r2dec-js/issues/85

[2018-10-18 19:36] #636 closed

[2018-10-18 23:36] #787 closed

[2018-10-19 04:35] XVilka opened #855 "Coverity builds"
Currently there is opened Coverity account for Cutter, but we have to setup periodic builds.

[2018-10-19 12:07] Vane11ope commented on #487
on this

[2018-10-19 12:18] #608 closed

[2018-10-19 12:28] Maijin commented on #447
This set of preference available first opening should contain also endianess change (#608)

[2018-10-19 18:58] gboisec opened #857 "Jump to the Part where a String is beeing called"
What feature do I want?

 I'm always frustrated when searching for Strings after finding them I just want to double click on that String and on other dissasemblers like Olly or IDA they jump on the Code where the String is beeing used. This helps a lot to save Time.

Solution?

A Solution would be to double click on the found String and jumping into the function where it is beeing called

[2018-10-19 20:18] ITAYC0HEN commented on #857
A _string_ can be used several times across a binary, sometimes even hundreds of times -- which usage you want us to "jump" to?

The solution for your issue is to go to the Strings widget, press right-click on the string and choose Xrefs. There you can view previews of all the Xrefs-to the string. If you're using an older version of Cutter - double click on the string and then press 'x'.

![image]

[2018-10-19 20:36] ITAYC0HEN commented on #850
Hi, thanks for the suggestion! :)
Can you please elaborate more on how would you want to see this feature implemented?
Screenshots from other frameworks would be good as well.

[2018-10-19 20:39] gboisec commented on #857
Well as you can see for Congratulations there is no xref, but it should be as you can see in picture two. In Ollydbg I just double click on the string and it jumps in the section as shown in picture two...

![image](https://user-images.githubusercontent.com/42910360/47242595-8c57aa00-d3ef-11e8-9396-25a48290e79c.png)

![image](https://user-images.githubusercontent.com/42910360/47242676-bdd07580-d3e

[2018-10-19 20:47] ITAYC0HEN commented on #842
ping @bunjmoha

[2018-10-19 21:47] levyjm commented on #822
I'm having trouble getting r2dec to work in Cutter on macOS. It works just fine in r2, but the decompiler pull down menu is greyed-out for me in Cutter.

[2018-10-19 23:37] dmknght commented on #822
It is because your radare2 version is different from radare2 used in Cutter. If you run Cutter from terminal, you can see `version mismatch` error. My solution is:
[code]

[2018-10-20 06:34] ITAYC0HEN opened #859 "Debug-related widgets shouldn't be available outside Debug\Emulation mode"
**Describe the bug**
Currently, a user can open the debug-related widgets even if they aren't in debug mode. This will obviously show wrong information and might cause confusions.

**To Reproduce**

Click on the "Windows" menu item, choose "Debug..." and select a debug-related widget

**Expected behavior**
When not in debug\emulation mode, I expect the "Debug" item to be grayed out.

![image](http

[2018-10-20 07:39] Maijin commented on #857
Can you provide this binary? This looks like a radare2 analysis problem more than a cutter problem

[2018-10-20 08:10] #840 closed

[2018-10-20 08:17] radare commented on #822
Cutter have its own r2. So one plugins will not see the other ones because they must be of the same version

[2018-10-20 08:33] gboisec commented on #857
Well this one is from a Course can't share this binary, but I have the same problem with other binaries like the DVIA binary from owasp top 10, here I search for the String "I love Google", but there is no xref ... I will share this binary
[DVIA-v2.zip](https://github.com/radareorg/cutter/files/2497950/DVIA-v2.zip)

[2018-10-20 10:34] Maijin commented on #857
Definitely not a cutter problem but a radare2 one.

This DVIA binary looks like a very specific analysis case... It is unrelated to the first one because you say you said you are using OllyDBG or that's an iOS binary.

The binary for the course I believe the problem should be fixed in latest r2 from git and will be working in next Cutter if is still reproducible. Can't you share it on telegram or

[2018-10-20 10:46] Maijin commented on #857
Yep the initial one is fixed on radare2 master so it will be working on Cutter next release.

[2018-10-20 10:47] Maijin commented on #857
I'll close here and we can continue following-up on Radare2 side

[2018-10-20 10:47] #857 closed

[2018-10-20 12:52] Adikso commented on #798
This is probably problem with width calculation or rendering graph but I am not sure. You can see invalid width calculation on "[local_4h ]"

[2018-10-20 12:58] dmknght commented on #798
Ah rendering graph is having some problem too. I don't know what is it called (screenshot). Should i create new issue for this?
![screenshot from 2018-10-20 19-57-40](https://user-images.githubusercontent.com/29118926/47255957-69d29900-d4a2-11e8-9406-5f284338ba07.png)

[2018-10-20 14:15] Adikso commented on #798
![2018-10-20_16-04](https://user-images.githubusercontent.com/1407751/47256525-31bb5e00-d482-11e8-91f3-136f2dcd3127.png)
![2018-10-20_16-04_1](https://user-images.githubusercontent.com/1407751/47256524-31bb5e00-d482-11e8-8757-094a4f95d6ac.png)
![2018-10-20_16-05](https://user-images.githubusercontent.com/1407751/47256522-31bb5e00-d482-11e8-84e2-239df89a3f46.png)

From my observations there is prob

[2018-10-20 14:33] Adikso commented on #798
![2018-10-20_16-31](https://user-images.githubusercontent.com/1407751/47256788-a80d8f80-d485-11e8-999f-50e9db9d428c.png)
I forced it to use QFontMetrics directly rather than CachedFontMetrics and it works perfectly (it breaks token selection but it can be fixed).. so yes caching font width is broken.

[2018-10-20 18:20] #533 closed

[2018-10-21 06:29] ITAYC0HEN commented on #798
great! would you be able to solve this and send PR, please? :)

[2018-10-21 08:15] Maijin commented on #487
To recap the discussion with @ITAYC0HEN this is my understanding:
- iS is static analysis, it’s the info contained in the header
- om can be changed by the user to map the file differently
At the opening om use the info contained in iS.

Therefore, I would use omj to get the info to create this PE-Bear style graph that way we can:

- Get same info as iSj + the user/default mapping (since `omj` ==

[2018-10-21 09:35] xift commented on #859
Hi,

I found cutter while browsing the Hacktoberfest issues.
Just submitted a pull request for this issue. Hope that is fine. If you have any specific protocol I should follow, please let me know. I hope to contribute more to cutter in the future.
Keep up the good work!

Best regards,
Michael

[2018-10-21 13:46] Adikso commented on #798
I don't know how to fix CachedFontMetrics. Every few characters width is 1px off. Like width of the same character can be later smaller. These 1px offs are accumulating and results later in big offset. I could make it use QFontMetrics but I understand that somebody created CachedFontMetrics for some performance reasons. Even if I could replace it with direct QFontMetrics->width() call I don't know

[2018-10-21 14:03] xarkes commented on #798
Hello,
I didn't understand the bug in CachedFontMetrics?

[2018-10-21 16:45] xift commented on #850
I imagine it being like the "modules" tab in Visual Studio.
What do you think?

![image](https://user-images.githubusercontent.com/1312047/47269664-7d910480-d561-11e8-925a-ed6f5644ef97.png)

[2018-10-21 20:17] deepanjali19 commented on #680
I would like to work on this issue!

I will split the Cutter.h header file into multiple files and include those files in Cutter.h.

I will get a PR up for this issue soon.

[2018-10-21 20:22] samvdkris opened #865 "Can't save project to file"
**Environment information**
* Operating System: Windows 10
* Cutter version: 1.7.2
* File format: Any

**Describe the bug**
When I try to save a project using CTRL + S (or save as in menu), it opens the "save project" windows, but when I click save (with default settings, but I tried some other settings as well), the windows just closes but the file isn't saved anywhere.

**To Reproduce**
Steps to

[2018-10-21 20:49] ITAYC0HEN commented on #680
Thank you, Deepanjali!
This would be wonderful :)

[2018-10-21 20:57] deepanjali19 commented on #680
@ITAYC0HEN I am just having a little trouble in building it from source.

[2018-10-21 21:02] ITAYC0HEN commented on #680
Are you in the Cutter telegram group?
https://t.me/r2cutter
We would happily help you there (or on IRC).

Just ping us with your question and we'll help :)

It is preferred to keep the conversations here about the issue itself and not about other issues :)

[2018-10-21 21:03] Maijin commented on #850
I guess like the load additional file in ida?

[2018-10-21 21:14] deepanjali19 commented on #680
@ITAYC0HEN I am not in the Cutter telegram group or on IRC.

[2018-10-21 21:20] ITAYC0HEN commented on #680
Can you join? :)
Simply click the link and log in from Telegram or if you prefer IRC just enter #cutter on irc.freenode.net

Telegram is easy-to-use mobile, desktop and web application

[2018-10-22 15:52] ITAYC0HEN opened #867 "Segfault when clicking "Edit Function" outside\middle of a function"
**Environment information**
* Operating System: Arch Linux
* Cutter version: 1.7.2 - Master
* File format: PE, ELF

**Describe the bug**
When using `Right-Click -> Edit Function` in a middle of a function or outside of a function, Cutter is crushing.

**To Reproduce**
Steps to reproduce the behavior:
1. Open /bin/ls in Cutter
2. Choose a function and Right-Click in the middle of it
3. Click "Edit

[2018-10-22 15:54] ITAYC0HEN commented on #867
ping @sajattack -- would you please take a look at this?

[2018-10-22 16:11] sajattack commented on #867
A quick stopgap measure should be to wrap 698-728 in `if (fcn)`. I'm not sure how to make the menu hidden outside a function or work in the middle.

[2018-10-22 18:01] ITAYC0HEN commented on #867
To detect a click in the middle of a function use `r_anal_get_fcn_in (core->anal, offset, 0)` instead of `r_anal_get_fcn_at (core->anal, offset, R_ANAL_FCN_TYPE_NULL)`.

And to see how to hide the "Edit Function" when not in function , check similar implementations to get inspiration from. For example, the renaming of local variables ("used here").

[2018-10-22 18:06] #859 closed

[2018-10-22 19:14] ITAYC0HEN commented on #700
ping @CraftSpider , are you on it?

[2018-10-22 19:45] xarkes commented on #589
What's your status on it @a1ext ?

[2018-10-22 20:06] r3verser commented on #808
Can i debug something with Cutter, like in ollydbg or IDA? I have tried different options under Preferences > Debug, but all just crashes.

[2018-10-22 20:15] xarkes commented on #808
Debugger is not currently available in Cutter. It is still a work in progress.

[2018-10-22 21:11] CraftSpider commented on #700
Apologies, got busy with life. Will have a pull request up by midnight EST today.

[2018-10-22 21:35] xarkes commented on #803
I cannot reproduce here with master.

[2018-10-22 21:42] a1ext commented on #589
Hi @xarkes, I'm trying to deal with this problem from different sides.

The goal is to supply an ANSI encoded multi-byte string to an `open` function (it is being called when you call `r_core_file_open` -> `r_sandbox_open` -> `open`). This API is deprecated in MSVC 2017 (!!!).
![image](https://user-images.githubusercontent.com/14978853/47319768-3d607d80-d658-11e8-8fa1-b314b6b10455.png)

(Tried to

[2018-10-22 21:48] a1ext commented on #589
Also, I think the rest of IOs have to be checked and fixed as well...

[2018-10-22 21:57] xarkes commented on #397
Btw @fcasal what was your status on this?

[2018-10-22 22:31] #867 closed

[2018-10-23 05:06] #700 closed

[2018-10-23 05:19] ITAYC0HEN commented on #803
unline past, can't reproduce any related issue - Master branch.
@ytrewqytrewqytrewqytrewq1 can you please check again? I think this issue is resolved now.

[2018-10-23 06:02] ITAYC0HEN opened #870 "Open list of files to select when open archive files in Cutter"
**Is your feature request related to a problem? Please describe.**
In issue #802, a user reported that in the Open File dialog, when choosing `zip://` in the IO and selecting an APK file, cutter refuses to open it.

The APK file is available here: [Zoones_v1.2_apkpure.com.zip](https://github.com/radareorg/cutter/files/2504652/Zoones_v1.2_apkpure.com.zip)

This caused by how the `Zip` IO is impleme

[2018-10-23 06:04] ITAYC0HEN commented on #802
I'm closing this issue since the problem is in the differences between the console UI and the GUI.
I opened a feature request for a dialog showing the list of files: #870

[2018-10-23 06:04] #802 closed

[2018-10-23 09:04] ytrewqytrewqytrewqytrewq1 commented on #803
Master branch just compiled:
https://pastebin.com/ufx5vJJc
file:
[classes.zip](https://github.com/radareorg/cutter/files/2505271/classes.zip)
Steps:
start Cutter
select classes.dex
click on open
click on ok
wait the end of the analysis
![screenshot from 2018-10-23 10-59-20](https://user-images.githubusercontent.com/32385661/47349131-36b32400-d6b3-11e8-9006-837cfa6c119b.png)

in the disassembly win

[2018-10-23 11:09] s0i37 opened #872 "s 0xADDR dont work"
**Environment information**
* Operating System:
kali rolling amd64
* Cutter version:
Cutter 1.7.2 (Fri Oct 19 15:11:37 2018 +0300)
radare2 3.0.0 19993 @ linux-x86-64 git.2.9.0-407-g734b3d73b
commit: 734b3d73ba3987e3213ca53e9715c3da63196b9b build: 2018-10-19__23:16:33
* File format:
elf64 (/bin/ls)

**Describe the bug**
Dont work jump via "s ADDRESS" command in command bar. This feature worked a co

[2018-10-23 12:46] xarkes commented on #872
You are talking about the Console Widget right?
Yes it seems you now have to manually refresh the views with View->Refresh Contents and it is indeed a regression.

[2018-10-23 21:08] #395 closed

[2018-10-23 22:37] xarkes commented on #872
Actually it looks harder than expected.
I think because of CutterSeekableWidget, the widgets do not catch the `seekChanged` signal from Core.
I think that part should be rewritten.

[2018-10-24 07:33] Maijin opened #875 "Add anal.in in Advanced Analysis"
**Is your feature request related to a problem? Please describe.**
To select a particular zone to analyze

**Describe the solution you'd like**
Add anal.in selector in advanced analysis (similar to #395, #873)

[2018-10-24 07:34] Maijin commented on #875
ping @ITAYC0HEN

[2018-10-24 15:07] pdurusau opened #877 "build.sh fails to properly set qmake path"
Ubuntu 18.04
Cutter: 1.7.2

**Describe the bug**

I have qmake but not qmake-qt5 installed. The build.sh script fails to return the path to gmake.

**To Reproduce**
Steps to reproduce the behavior:
1. Remove qmake-qt5
2. Run build.sh
3. Even if gmake is present on system, build.sh will not report it
4. Error is that gmake isn't found.

**Expected behavior**
Expected gmake to be found with (which g

[2018-10-24 23:56] a1ext commented on #589
Seems like we are almost done with this, need to do some testing, PR to `radare2` and then PR here.
![image](https://user-images.githubusercontent.com/14978853/47467930-45a7ec80-d801-11e8-9872-28b713f8042e.png)

[2018-10-25 11:57] thestr4ng3r commented on #772
Ok, so the problem only appears when Cutter is built on a Mojave system. The Travis builds still use Travis' default High Sierra Image, so they don't have the issue. I'll temporarily explicitly disable the dark mode in the Info.plist until Qt 5.12 is released. Then, if you build with qmake and execute Cutter inside the generated application bundle, it will only use the light mode.

[2018-10-25 13:04] ITAYC0HEN commented on #803
reproduced in Cutter, master. Wasn't able to reproduce on radare2 so it might indeed be a problem on our side

[2018-10-25 18:29] Vane11ope commented on #487
finally i'm on this to refresh myself.

[2018-10-25 21:02] #772 closed

[2018-10-26 06:44] xarkes commented on #877
I think this statement is wrong? At least, it works here in my machine:

[code]
![2018-10-26-084324_730x95_scrot](https://user-images.githubusercontent.com/10772605/47549069-386f2880-d8fb-11e8-9385-3ee8930b944e.png)

[2018-10-26 13:30] pdurusau commented on #877
User error! I won't waste your time with how I discovered this error but I was sudo ./build.sh as opposed to simply ./build.sh.

Sudo versus the default user in the VM return very different results for "which," causing the build script to fail. After seeing this result with a test script, I removed Cutter and re-installed from a fresh clone to verify my results. (Success!)

Apologies for the distr

[2018-10-26 13:30] #877 closed

[2018-10-26 17:46] ITAYC0HEN commented on #877
Thank you for letting us know :)
We'll think of measures to take and add to the script in order to avoid such confusions in the future :)

[2018-10-26 20:46] pdurusau commented on #877
Well, I've always thought we should be as open about our fails as our wins. May help someone in the future avoid the same issue.

[2018-10-27 15:07] xarkes commented on #841
Maybe it doesn't work because you didn't copy an existing theme?
You cannot modify a native theme, you have to copy it first.

[2018-10-27 15:08] Maijin commented on #841
Don't believe this would have an impact on opening the palette

[2018-10-27 21:41] dmknght commented on #798
I've built cutter after pulling it, with radare2 3.1 and i found something similar this issue: i set `asm.tabs = 11` and 2 screenshots bellow shows line `call sym.imp.printf` and `jecxz ....` stays wrong position. I think this is alignment problem.
![screenshot from 2018-10-28 04-32-44](https://user-images.githubusercontent.com/29118926/47609530-a9811e00-da6a-11e8-90e0-9aa4e789a39c.png)
![screensh

[2018-10-27 22:02] Adikso commented on #798
If you would copy this disassembly into eg. LibreOffice Write and change font to some non-mono one you will see this:
![2018-10-27_23-53](https://user-images.githubusercontent.com/1407751/47609690-d241ed00-da43-11e8-90e2-78c5cba784ab.png)

You see how incorrect is this "mov" aligned? We are just pasting exact output out of radare into this graph and radare2 is command line tool - it can't move tex

[2018-10-28 01:15] Adikso commented on #705
I think that it should be closed #823

[2018-10-28 01:22] Adikso opened #882 "Highlight elements on hover when creating theme"
**Is your feature request related to a problem? Please describe.**
Creating new theme in Appearance is really tiring for me as you have to search and guess what does each color is responsible for when I just want to change single thing.

**Describe the solution you'd like**
Cutter could highlight (change color to eg. pink) elements with color that we hover mouse on or when we select color from the

[2018-10-28 05:55] #705 closed

[2018-10-29 11:51] XVilka opened #884 "Visual SDB browser"
To be able navigate through all internal SDBs (like within radare2 with `k` commands).

See also the corresponding bug for radare2: https://github.com/radare/radare2/issues/11979

[2018-10-29 12:10] XVilka opened #885 "SDB module/API for Python plugins/Jupyter extension"
To be able easily save/edit/load Cutter-specific SDBs, also to allow user make/edit/load his custom ones.

[2018-10-29 12:10] XVilka opened #1778 "SDB module/API for Python plugins/Jupyter extension"
To be able:
- [ ] easily save/edit/load Cutter-specific SDBs
- [ ] also to allow user make/edit/load his custom ones

For example:
[code]
Or to save some results of the analysis in SDB as well.

[2018-10-29 13:13] xarkes commented on #884
There is already an SDB browser?
Or I didn't understand the issue maybe?

[2018-10-29 13:14] Maijin commented on #884
Already there yep

[2018-10-29 13:14] #884 closed

[2018-10-29 13:15] Maijin commented on #885
@XVilka Can you please use the enhancement template? It's not very clear what's the benefit, usage of this feature.

[2018-10-29 13:53] radare commented on #884
Iaito had it. Ragui had it.. so all the private guis i did had one. U probably removed it from cutter

[2018-10-29 13:53] radare commented on #884
Nvm its there

[2018-10-29 13:54] xarkes commented on #884
Yes, please test it on latest release before opening an issue :)

[2018-10-29 15:30] ITAYC0HEN commented on #885
@XVilka, please use our [Feature Request](https://github.com/radareorg/cutter/issues/new?template=feature_request.md) template to fill feature requests. While some of us may understand your intentions, others (i.e newcomers) might not

[2018-10-30 05:06] dmknght opened #887 "Correct `Rename function` menu"
**Environment information**
* Operating System: Parrot OS 4.2
* Cutter version: git, pulled 29/10/2018
* File format: ELF 64

**Describe the bug**
`Rename function` in `Graph panel` menu displayed `(used here)` (rename it in local function) but it renames function globally.

**To Reproduce**
Steps to reproduce the behavior:
1. Right click on function -> choose `Rename function (used here)`
![scree

[2018-10-30 07:42] ITAYC0HEN commented on #887
Hi @dmknght, thank you for filling an issue :)
Please follow our [Bug Report](https://github.com/radareorg/cutter/issues/new?template=bug_report.md) template so we would be able to understand the issue perfectly. Please edit your issue, describing it thorughly.

[2018-10-30 09:14] ITAYC0HEN opened #889 "Make Cutter accessible for users with disabilities"
**Is your feature request related to a problem? Please describe.**
The Cutter project should be as accessible as possible to users with disabilities. This including color (red/green) blindness, full and partial blindness, users with a screen reader and more.

**Describe the solution you'd like**
The  solution should follow the best-practices written by the QT community as can be found in the follo

[2018-10-30 09:21] Maijin commented on #889
@XVilka ^?

[2018-10-30 09:55] XVilka commented on #889
Very cool initiative @ITAYC0HEN! We need to share some of these features with radare2 itself.
I know about the case of vision problems - using screen reader is the most common option.

[2018-10-30 14:02] #589 closed

[2018-10-30 16:43] a1ext commented on #803
looks like heap corruption, error on windows:
[code]

[2018-10-30 17:25] dmknght opened #891 "Some graph improvement requests"
**Environment information**
* Operating System: Debian 10 amd 64
* Cutter version: git version, pulled 31/10/2018; radare2 3.1 git pulled 31/10/2018
* File format: elf 32

**Is your feature request related to a problem? Please describe.**
Cutter graph panel is still hard to read in some case. There are some thing must be improved. And there are my ideas i'd like to show

**Describe the solution yo

[2018-10-30 19:16] a1ext commented on #803
will fix it, assign please to me

[2018-10-31 09:48] #803 closed

[2018-10-31 10:08] ITAYC0HEN commented on #803
This issue is now solved thanks to @a1ext's wonderful work. The issue origined in radare2.
Thank you for reporting and your collaboration :)

[2018-10-31 11:07] ITAYC0HEN commented on #766
ping @duck2 @smhaziq . Can you share the progress of handling this issue?
we would be happy to help and direct :)

[2018-10-31 23:00] smhaziq commented on #766
@duck2 are you still working on this?

I think your suggestion to subclass the Qtreeview is correct as we need to overwrite the copy behavior as well so it support rows copying.

And to subclass it with current CutterTreeWidget class implementation is wrong since it deals with the widget's layout as well for statusbar control.

Maybe CutterTreeWidget should take over the ui creation (replacing .ui

[2018-11-01 22:13] xarkes commented on #855
ping @XVilka I think you started on ci.rada.re but I don't know the status?

[2018-11-02 06:49] ITAYC0HEN commented on #865
This is now fixed on master. Thank you :)
Please let us know if you still encounter the problem.

[2018-11-02 06:49] #865 closed

[2018-11-02 06:59] XVilka commented on #855
@xarkes I uber busy these days, will finish the setup (it is mostly done) as soon as I have some free time.

[2018-11-02 09:34] xarkes commented on #798
So I think this can be closed :)
Feel free to reopen if not.

[2018-11-02 09:36] xarkes commented on #835
I think the specific issue you mentioned should have been fixed thanks to: https://github.com/radareorg/cutter/pull/900
I am closing this issue as there are other issues for the problems I mentioned before.
Feel free to reopen if not fixed :)

[2018-11-02 09:36] #835 closed

[2018-11-02 11:56] dmknght commented on #798
I've built it. There are still some wrong positions.
![screenshot from 2018-11-02 18-53-45](https://user-images.githubusercontent.com/29118926/47914034-b372a900-ded0-11e8-866d-d21f9533a07b.png)
![screenshot from 2018-11-02 18-53-41](https://user-images.githubusercontent.com/29118926/47914036-b40b3f80-ded0-11e8-8582-798b1943ed39.png)

[2018-11-02 13:00] Adikso commented on #798
@xarkes Referenced pull request is for DisassemblyWidget not for DisassemblerGraphView

[2018-11-02 13:50] Maijin commented on #798
@Adikso thanks, reopened

[2018-11-02 17:11] ITAYC0HEN opened #902 "Ctrl ^C implementation while executing a command in the Console widget"
**Is your feature request related to a problem? Please describe.**
Some commands might take a lot of time to be executed which causes the whole Cutter interface to freeze. Even worse, some commands would run infinitely and make Cutter unresponsive. Commands which require user input such as  `!cat -`  (Linux) and `!set /p variable=`  (Windows) will freeze Cutter as well while waiting for an input i

[2018-11-02 17:12] ITAYC0HEN commented on #902
As agreed, @Vane11ope, you are assigned :)

[2018-11-02 17:16] Vane11ope commented on #902
i take this :)

[2018-11-02 19:40] a1ext commented on #798
Yep, I've noticed that in the PR description, just Disassembly widget :)

[2018-11-02 19:41] a1ext commented on #798
@Adikso Have you figured out the problem? We can discuss that if you want

[2018-11-02 21:14] duck2 commented on #766
Hello,

I _postponed_ this, and now the school fully started. I do want to deliver though.

Opening a PR to show where am I stuck.

[2018-11-03 08:40] dmknght commented on #887
Thanks for reply. I tested with code (link bellow) and everything seems good.
https://github.com/radareorg/cutter/compare/master...dmknght:patch-1

[2018-11-03 10:51] ITAYC0HEN commented on #501
Did not crash anymore on windows10 64bit nor on Debian or Arch (64 bit both).
I think this is fixed now after some improvements we did for Cutter and Radare2 projects.
I'm closing this issue for now, @wavvs, please inform us if the problem still occurs on the latest version (from Master).

Thank you! :)

p.s. - @boondoggler, please check if your issue is happening as well (latest Cutter from maste

[2018-11-03 10:51] #501 closed

[2018-11-03 11:58] xarkes commented on #887
Then, open a PR :+1:

[2018-11-03 16:00] #887 closed

[2018-11-04 15:48] #872 closed

[2018-11-05 13:01] xarkes opened #906 "Use soname and remove "wrong r2 version" popup"
The best way to handle correct libraries version when dynamically linking on Linux, is to use [soname](https://en.wikipedia.org/wiki/Soname).
The "Wrong r2 version" popup which appears when the resolved library version is not the expected one is just a custom way of handling this.
What should be done:
* Increase soname in radare2 each time the ABI changes
* Link Cutter against specific soname

[2018-11-05 18:33] tkhurana96 commented on #902
@Vane11ope Hi, just for my curiosity, how do you plan on sending sigkill to thread (qt thread, if you are using them) or do you have other ways to kill thread(or qt thread) ? :smile:

[2018-11-06 11:49] XVilka opened #908 "Packaging status"
Like for radare2 page, but not sure how to align it https://repology.org/metapackage/radare2-cutter/versions

[2018-11-06 12:16] radare commented on #902
just r_cons_singleton()->breaked = true

[2018-11-06 12:50] xarkes commented on #824
Probably but I didn't investigate.

[2018-11-09 17:44] kassi opened #912 "MacOS Application Bundle doesn't start at all"
**Environment information**
* Operating System: MacOS High Sierra 10.13.6 (17G65)
* Cutter version: v1.7.2 and deploy-test (both not working)
* File format: dmg

**Describe the bug**
When opening the app bundle (after copying to /Applications folder and confirming unsigned app), the app crashes.

**To Reproduce**
Steps to reproduce the behavior:
1. Open downloaded App bundle
2. Copy Cutter.app to

[2018-11-09 17:46] xarkes commented on #912
Thanks for reporting, this is a known issue, we'll fix it for next release which is coming soon :)

[2018-11-10 09:18] xarkes commented on #766
Fixed in #903

[2018-11-10 09:18] #766 closed

[2018-11-10 14:42] xarkes commented on #822
r2dec is now bundled in Windows builds thanks to #913

[2018-11-10 21:14] partoftheworlD opened #914 "Overwritten several immediate functions to 00 bytes"
**Environment information**
* Operating System: Windows 10
* Cutter version: 1.7.2
* File format: dylib

**Describe the bug**
After using r2dec and pdc file is completely overwritten by 00 bytes

**To Reproduce**
1. Select pseudocode
2. Select r2dec
3. Press button refresh
4. Select pdc
5. Press button refresh

**Expected behavior**
Getting pseudo code

**Screenshots**
https://youtu.be/QzjmlNVvqF4

[2018-11-10 23:28] Maijin commented on #845
@pelijah did work on something for this one

[2018-11-11 08:44] pelijah commented on #914
I don't think that it is Cutter bug. Can you reproduce it in r2?

[2018-11-11 09:48] pelijah commented on #568
We can add some layout templates. Most widgets share same layout (e.g. TreeView + QuickFilter). One polished function in `common` can help us to kill tens of UI files.

[2018-11-11 09:54] Maijin commented on #842
ping2

[2018-11-11 10:07] Maijin commented on #532
Here is the list of steps:

- [ ] Panel for listing types/enum/structures
- [ ] Add right click to add
- [ ] Add right click to edit
- [ ] Add right click to remove
- [ ] Add right click to which open a windows where you can paste or open an header file
- [ ] Add right click apply structure in the disassembly
- [ ] Add right click graph

[2018-11-11 10:09] Maijin opened #918 "Add Types/Enum/Structure right click and panels"
**Is your feature request related to a problem? Please describe.**
A way to manipulate types/structures/enum in disassembly and graph

**Describe the solution you'd like**

Here is the list of steps:

- [x] Add panel for listing types #254
- [ ] Move type panel in the windows drop-down instead of windows/info
- [ ] Add filter capability in the panel
- [ ] Add listing enum in the panel `tej`
- [ ]

[2018-11-11 10:47] xarkes opened #919 "Provide C++ API documentation for developers and UML"
* Provide UML graph of our classes to have a better view on the project
* Provide C++ documentation with something like doxygen and integrate it to https://radareorg.github.io/cutter/

[2018-11-11 11:34] ITAYC0HEN commented on #908
Sorry, I don't like this feature in the radare2 README. It is too noisy and will get noisier with time.
Also, I find it quite useless. Currently, we should discourage people to use distribution packages instead of downloading Cutter from the Releases tab. And in the future, from the website.

[2018-11-11 11:34] #908 closed

[2018-11-11 12:12] ITAYC0HEN commented on #816
fixed in #846

[2018-11-11 12:12] #816 closed

[2018-11-11 13:43] partoftheworlD commented on #914
yes, radar2 has the same bug.

1.pdd
2.pdc

https://imgur.com/a/A8iOVdy

radare2 3.1.0-git 19997 @ linux-x86-64 git.3.0.1-184-g2683db470
commit: 2683db4708daaa5cea093618a289fb1cc3497a22 build: 2018-11-11__16:31:42

[2018-11-11 16:01] wargio commented on #914
Wtf. This should not happen.
It smells more like a r2 bug. @radare

[2018-11-11 16:04] radare commented on #914
Sounds like new maps filled with zeros or different offsets buti cant see this in the video.r2dec and pdc work fine in r2, the thing ia what is cutter doing? Can you try om commands to see if the memory is overlapped or theres a caching

[2018-11-11 16:33] partoftheworlD commented on #914
before
![2018-11-11 19-32-02](https://user-images.githubusercontent.com/6013494/48315536-a8163080-e5e8-11e8-9a36-d87094caa6a4.png)

after
![2018-11-11 19-32-39](https://user-images.githubusercontent.com/6013494/48315540-afd5d500-e5e8-11e8-854b-5cc60ebf0504.png)

[2018-11-11 17:46] wargio commented on #914
Can you just call pdd and see if the map has been added?

[2018-11-11 18:36] partoftheworlD commented on #914
New map added after pdc

[2018-11-11 20:39] wargio commented on #914
That's super weird! @radare this is a regression for sure

[2018-11-12 01:41] radare opened #922 "Add 'show xrefs' in flags context panel"
Usually flags are used to point to search results, registers, strings and symbols nowadays, so those are pretty useful to be referenced from other parts of the program.

Adding the "Show X-Refs" option will be useful.
<img width="446" alt="screenshot 2018-11-12 at 02 41 36" src="https://user-images.githubusercontent.com/917142/48321779-7b800a00-e624-11e8-9a65-e44154678294.png">

[2018-11-12 01:42] radare commented on #922
Also, flags have a size, will be good to add a "Change size" option (or resize)

[2018-11-12 01:53] radare opened #923 "Context menus in symbols, strings, imports, entrypoints, ..."
Add the following entries:

* [x] Seek in hexdump
* [x] Seek in disassembly
* [x] Show X-Refs
* [x] Copy address in clipboard
* [x] Copy name to clipboard
* [ ] Toggle Highlight

[2018-11-12 01:56] radare opened #924 "Context menu in hexdump"
* [ ] Copy bytes into clipboard as hexpairs (show N bytes selected)
* [ ] Copy bytes as raw
* [ ] Copy start address (show address)
* [ ] Add flag
* [ ] Add comment

[2018-11-12 02:02] radare opened #925 "Add more hashes in the hexdump side panel"
Add more hashes: (not just md5 and sha1), ideally this list of hashes should be configurable by the user. (rahash2 -L)
* sha256
* crc32
* md4
* pcprint
* ...

[2018-11-12 02:03] radare commented on #64
See https://github.com/radareorg/cutter/issues/925

[2018-11-12 02:05] radare commented on #295
We can name it "Struct" and just use pf as backend. with a combobox to select the structs defined and an entry line to type the pf expression

[2018-11-12 02:05] radare commented on #295
See cmd.hexcursor=pf xx in latest r2

[2018-11-12 02:06] radare commented on #64
See https://github.com/radareorg/cutter/issues/295

[2018-11-12 02:14] radare opened #926 "Add keybinding and button in each panel to make it fullscreen"
Right now cutter have 2 modes to show the panels: tiled or floating, but there's no quick way to make a panel fill the whole window.

[2018-11-12 02:17] radare opened #927 "Show comment column in each panel that have "add comment" option in the context menu"
<img width="1181" alt="screenshot 2018-11-12 at 03 17 14" src="https://user-images.githubusercontent.com/917142/48322773-783b4d00-e629-11e8-86fa-4ac15d98aae4.png">

[2018-11-12 02:18] radare commented on #927
Other panels like flags are also interesting places to add a Comment column

<img width="664" alt="screenshot 2018-11-12 at 03 18 08" src="https://user-images.githubusercontent.com/917142/48322796-986b0c00-e629-11e8-8899-fcdecee15bfd.png">

[2018-11-12 02:20] radare commented on #925
This also applies to the Dashboard, can we consider this dupped info?

[2018-11-12 02:33] radare opened #928 "Add more columns in the Sections panel"
* Add Permissions column (rwx)
* Add context menu to copy name or address / end address into clipboard
* Add column showing md5/sha1/... (configurable see https://github.com/radareorg/cutter/issues/925
* Ordinal
* Add hvaddr?

[2018-11-12 02:34] radare opened #929 "Colorize the symbols at offset 0 with different color"
Those are usually resolved at runtime and cant be resolved in the PLT, ideally r2 should not name them as "FUNC"
<img width="416" alt="screenshot 2018-11-12 at 03 33 19" src="https://user-images.githubusercontent.com/917142/48323304-de28d400-e62b-11e8-9565-b07cd6e97815.png">

[2018-11-12 02:46] radare opened #930 "Improve search panel"
Add more options in the 'search for' combobox:

* 1 byte
* 16 bit value
* 64 bit value
* wide string
* magic /m
* /V (N word in range)

Add support to search with a binarymask

Add another combobox or entrytext to type a number to select the search.align eval variable.

Add (maybe  in settings) a place to specify WHERE to search:

[code]

[2018-11-12 05:35] XVilka commented on #918
Also interface for changing type parameters, like constraints for example https://github.com/radare/radare2/issues/11828

[2018-11-12 06:32] ITAYC0HEN commented on #930
The first part already have an open issue (by yourself)  :P
See #396

The last part (`search.in`) is already there :)
![image](https://user-images.githubusercontent.com/20182642/48330438-3c1de180-e655-11e8-90ab-c251994f9ab8.png)

[2018-11-12 11:00] radare commented on #930
Then close it or implement things faster :p i try cutter very rarely so im testing only the last release and filling issues when i get some ideas. I assume i should wait for the next release to review again but i missed that this time

[2018-11-13 19:56] Vane11ope commented on #397
im steal this.

[2018-11-14 06:23] XVilka opened #933 "Disassembly view feature requests"
I found no issues about it strangely.

- [ ]     Reference and cross-reference lines like in graph view
- [ ]     Different font for function names
- [ ]     Different color for strings in comments
- [ ]     Ability to text-select disassembly without selecting reflines and addresses
- [ ]     Ability to fold and unfold functions and basic blocks
- [ ]     Quick text search by either Ctrl-F or pres

[2018-11-14 06:50] XVilka opened #934 "3D graph widget"
It would be nice to have the same graph visualisation capability, but in 3D

It will allow to observe more complex graphs that looks very badly while flattened.

See https://reverseengineering.stackexchange.com/questions/1471/3d-control-flow-graphs-in-ida

![image](https://user-images.githubusercontent.com/203261/48465063-94531000-e81c-11e8-9e46-3ab704700182.png)
![image](https://user-images.githu

[2018-11-14 10:52] partoftheworlD opened #935 "Auto-refresh contents after importing PDB"
After importing a PDB file, the function names are not updated until you click "refresh contents" button.

[2018-11-14 11:37] XVilka opened #936 "Open attached comment files"
radare2 has `CC,` command to attach a link to the file, for now only text one.
It was added to directly link some useful documentation or any verbose notes into the disassembly for the reference. Supporting this feature in Cutter may be even more helpful.

[2018-11-15 17:14] Rieselhilfe opened #937 "Cutter crashes when using gdb"
**Environment information**
* Operating System: Manjaro 64 bit
* Cutter version: 1.7.2 using r2 3.0.1
* File format: ELF 64-bit LSB pie executable

**Describe the bug**
When selecting gdb as a debug plugin, Cutter gives the error "ERROR: Underlaying IO descriptor is not a GDB one.." two times in the terminal but gives no error in the gui and continues to work. When starting the emulation, Cutter c

[2018-11-15 18:21] ITAYC0HEN commented on #937
Currently, there is no debugging support in Cutter. This is a work-in-progress and we hope to release a beta-feature in the next few weeks. What you see in Cutter now is not a debugger, it is emulation. It uses the emulation functionality of radare2 -- don't expect results similar to debugging.

Thus, debugging using GDB as a backend would not work as well. When debugging would be implemented, GDB

[2018-11-15 18:21] #937 closed

[2018-11-17 03:39] ICEBERG98 commented on #935
Hey, I'd like to work on this, may i?

[2018-11-17 03:56] xarkes commented on #935
Please do :)

[2018-11-17 10:10] #935 closed

[2018-11-17 10:19] ICEBERG98 commented on #919
Hey, I put the project through doxygen. The docs still require a lot of work, I wonder if anybody else would be willing to contribute??

[2018-11-17 13:34] xarkes commented on #919
I can work on providing the functions documentation, but the main issue is the second point, to find a way to integrate those with our current sphinx blog.

[2018-11-17 14:25] a1ext opened #942 "r2dec plugin cannot be loaded on Windows 7 x64 due to lack of API"
**Environment information**
* Operating System: Windows 7 x64
* Cutter version: Version 1.7.2, Using r2-3.0.1-213-g90058945d
* File format: doesn't matter

**Describe the bug**
r2dec plugin cannot be loaded on Windows 7 x64:
![image](https://user-images.githubusercontent.com/14978853/48661857-c9b06580-ea89-11e8-9613-aa8971126588.png)
there are missing imports:
![image](https://user-images.githubus

[2018-11-17 16:44] xarkes commented on #919
To markdown yes, if possible.

[2018-11-17 19:04] Vane11ope commented on #902
im doing this now btw just saying

[2018-11-17 19:17] #845 closed

[2018-11-17 20:14] LFMP opened #943 "Makefile:2352: build() problem in Manjaro"
**Environment information**
* Operating System: `Manjaro 18.0.0 Illyria`
* Cutter version: `1.0.r709.g54022a1-1`

**Describe the bug**
bug in build, makefile error.

**To Reproduce**
Steps to reproduce the behavior:
1. Go to `PAMAC`
2. Click on `radare2-cutter-git`
3. Click on `Build`
4. See error `make: *** [Makefile:2352: Main.o] Error 1`

**Expected behavior**
Fix Makefile/ Cutter.h

**Addition

[2018-11-18 09:44] ICEBERG98 commented on #919
Hey @xarkes, I tried some things and got a markdown file containing documentation for the files, but the problem is that it is extremely huge(21 MB) for a .md file.
Here's a link to it-
https://drive.google.com/open?id=1c8-GqjWzsxZhVLCp5XOlmZET0Kz6ptem

[2018-11-18 10:44] xarkes commented on #919
The file you linked is 244K and refers to macros that are not used (directly) in Cutter.

[2018-11-18 12:08] ICEBERG98 commented on #919
Yeah, it parsed the includes in the /radare/ directory. Is there anyway i could geta look at the source code for the sphynx blog?

[2018-11-18 12:47] ICEBERG98 commented on #943
Hey, Happy to acknowledge this issue.
Although, if you are planning on just using cutter straightaway you can download the AppImage available here-
  https://github.com/radareorg/cutter/releases/download/v1.7.2/Cutter-v1.7.2-x86_64.Linux.AppImage

Thanks! :) 👍

[2018-11-18 15:47] a1ext commented on #942
Solved, thanks @pelijah

[2018-11-18 15:47] #942 closed

[2018-11-18 21:09] xarkes commented on #919
You can contact me on IRC or Telegram.

[2018-11-19 22:45] radare commented on #914
should be fixed in r2, just bump the version of r2

[2018-11-20 13:44] partoftheworlD commented on #914
Fixed in most cases, but with one file this bug happens all time, can it be that bug arises because of the file? Please, check this file, It's the Pwnie Island: Pwn Adventure 3 library of game logic

[libGameLogic.zip](https://github.com/radareorg/cutter/files/2599941/libGameLogic.zip)

[2018-11-20 16:57] Maijin opened #948 "XREF for variables"
The functionnality is now available in radare2 - https://github.com/radare/radare2/pull/12205#issuecomment-440142593

[2018-11-20 17:35] radare commented on #948
The functionality was already there. It was just under a different command to make clear that stack refs and global refs are difrerent things

[2018-11-20 19:17] Maijin commented on #948
it may be already there, but now it's under the proper command

[2018-11-20 21:59] a1ext opened #950 "Cutter crashes on windows due to uninitialized translation context"
**Environment information**
* Operating System: Windows 7 x64
* Cutter version: Version 1.7.2. Using r2-3.0.1-213-g90058945d
* File format: doesn't matter

**Describe the bug**
Cutter crashes on Windows if compiler optimizations are turned off.
The problem is that `tr` evaluates at the early start even before QCoreApplication is instantiated and appropriate translators are set. Related with a comm

[2018-11-21 00:10] a1ext commented on #781
Hi @trufae, could you provide a binary? If I understand correctly, you've run Cutter at MAC, right? Does it behave the same on Linux?

[2018-11-21 06:42] #950 closed

[2018-11-21 10:55] dmknght opened #952 "Disassembly panel: asm.lines disappear when scrolling down"
**Environment information**
* Operating System: Parrot 4.4 amd 64
* Cutter version: 1.7.2 (git build version)
* File format: ELF 64

**Describe the bug**
A `jump line` (asm.lines) in `Disassembly Panel` disappears from screen if its start position is out of screen. This happens when user scroll down.

**To Reproduce**
Steps to reproduce the behavior:
1. Reverse binary file (lab2) with default anal

[2018-11-21 13:02] radare commented on #914
this file works fine in r2, no issues here

[2018-11-21 16:20] matbrik opened #953 "ARM/Thumb function updating"
**Environment information**
* Operating System: Ubuntu 18
* Cutter version: 1.7.2
* File format: ELF ARM
**Describe the bug**
If Cutter does not detect that a function is thumb code and I set manually the bits to 16 I obtain the correct code but it does not update the boundaries of the function making impossible to use the graph mode.

tested binary
[libtmessages.29.zip](https://github.com/radareo

[2018-11-21 16:43] xarkes commented on #953
I'd say it's a bug in radare2.

[2018-11-21 19:39] asm0dey opened #954 "Crashes on shc-compiled script"
**Environment information**
* Operating System:
Manjaro 4.19.2-1-MANJARO
* Cutter version:
Latest Appimage
* File format:
binary (sh, compiled with shc)

**Describe the bug**
A clear and concise description of what the bug is.

I've got following data in console

[code]

**To Reproduce**

Compile following code:

[code]
with [latest shc from git](https://github.com//neurobin/shc)

**Expected behav

[2018-11-21 21:04] asm0dey commented on #954
Can not reproduce

[2018-11-21 21:04] #954 closed

[2018-11-22 14:02] #943 closed

[2018-11-23 07:47] ITAYC0HEN commented on #528
fixed in https://github.com/radareorg/cutter/pull/765

[2018-11-23 07:47] #528 closed

[2018-11-25 10:30] Petross404 opened #960 "Ctr +/- to zoom in and out in Graph widget."
**Is your feature request related to a problem? Please describe.**
There isn't a problem, just an inconvenience.

**Describe the solution you'd like**
I want to implement Ctl + (+/-) to zoom in/out in Graph. Using the mouse wheel isn't always practical. Any ideas where to look for the code? I am afraid under widgets directory, there isn't a GraphSomething.ui file to create `QShortcut`s.

**Describ

[2018-11-25 15:11] pelijah opened #961 "Replace QRegExp with QRegularExpression"
http://doc.qt.io/qt-5/qregularexpression.html#notes-for-qregexp-users

[2018-11-25 15:22] pelijah opened #962 ""Check for updates" feature doesn't work on Windows"
Reason: Missing OpenSSL libs.
[code]

Solution: Bundle OpenSSL libs with Cutter on AppVeyor.

[2018-11-25 19:00] Petross404 commented on #960
That's indeed the case. Thanks for pointing out.

I am closing this issue :+1:

[2018-11-25 19:00] #960 closed

[2018-11-28 17:26] ITAYC0HEN opened #965 "Fail to duplicate a theme on Windows"
**Environment information**
* Operating System: Windows 10, 64bit
* Cutter version: Newest from GIT
* File format: Any

**Describe the bug**
When trying to copy an existing theme and modifying it, nothing happens. No new theme is created. This works on Linux.

**To Reproduce**
Steps to reproduce the behavior:
1. Click on Edit in the main menu
2. Click Prefences
3. Choose Appearance
4. Choose your

[2018-11-28 17:41] ITAYC0HEN opened #966 "Console output should be in Cutter (Console widget) and not in the executing Terminal"
**Environment information**
* Operating System: Any
* Cutter version: GIT Version
* File format: ANY

**Describe the bug**
1. Too much useless (debug?) information is printed to the terminal instead of to Cutter's console widget.
2. Many r2 commands' results are printed to the Terminal and not to Cutter's console widget.
3. Usually on Windows user executes Cutter by double-clicking the exe file so

[2018-11-28 17:58] ITAYC0HEN opened #967 "[Sections Widget] Quick Improvements to RAW-VIRTUAL map views"
As discussed with @Vane11ope, here's a list of improvements I wish to see in the sections widget:

### PE-Bear thingy
 - [x] Make a single close button instead of two for each view. This, along with the new re-open views button, will be a toggle button to open\close the views. I don't see a reason for someone to keep only one view open.

 - [ ] When shrinking the sections widget, narrow the colorf

[2018-11-28 18:04] ITAYC0HEN opened #968 "Strings Widget quick-filter issues"
**Environment information**
* Operating System: Any
* Cutter version: Most recent from GIT
* File format: Any

**Describe the bug**
1. Upon using CTRL+F in the Strings widget, the Quick-Filter textbox is not getting focused
2. There is no shortcut or a button to clear the Quick-Filter box. Usually we have 'ESC` to clear it.
3. There is notoption to close\toggle the Quick-Filter box

Strings Quick-

[2018-11-28 18:09] ITAYC0HEN commented on #967
CC @Vane11ope

[2018-11-28 19:20] xarkes commented on #965
Also we should switch to this new theme automatically.

[2018-11-29 07:40] #965 closed

[2018-11-29 09:26] xarkes opened #972 "Performance issues with disassembly widget"
**Environment information**
* Operating System: ArchLinux
* Cutter version: 26d985c9dc03f9e14f28e7df6a045feca310ad60
* File format: ELF (7.4MB)

**Describe the bug**
It seems seeking is very slow, unless no disassembly widget is focused.
E.g. in graph view it's smooth, until I switch to disassembly widget or open the xref widget (which uses a disassembly widget)

**To Reproduce**
Steps to reproduc

[2018-11-29 21:39] a1ext commented on #841
Opening a palette without opportunity to store a new color has not meaning. btw, duplication of existing code has fixed in #970

[2018-11-29 21:40] ITAYC0HEN commented on #841
@Maijin can you verify issue solved?

[2018-11-29 21:59] #968 closed

[2018-11-30 19:12] xarkes commented on #972
Just a thought: maybe it was because of `asm.slow`, need to check again.

[2018-11-30 19:35] xarkes opened #975 "Add separator to context menu"
**Is your feature request related to a problem? Please describe.**
It's sometime hard to quickly look for what I want (I often spend too many seconds finding the "Define function here" item in the big list)

**Describe the solution you'd like**
Just add a small separator so users clearly understand that bottom list is for editing, etc.

**Describe alternatives you've considered**
Add icons too?

*

[2018-12-01 16:36] ITAYC0HEN commented on #914
@partoftheworlD can you test it on recent Cutter version from git?

[2018-12-01 18:07] partoftheworlD commented on #914
@ITAYC0HEN Sure. 5 minutes.

[2018-12-01 18:38] partoftheworlD commented on #914
@ITAYC0HEN Completely fixed.

[2018-12-01 18:51] ITAYC0HEN commented on #914
Great! Thank you for reporting! Appreciate it

[2018-12-01 18:51] #914 closed

[2018-12-02 22:33] Reg1nleifr opened #978 "cutter.exe is not a valid Win32 application"
**Environment information**
* Operating System: Windows XP, SP3
* Cutter version: 1.1-1.7.2
* File format: 32 bit

**Describe the bug**
It seems like Windows XP doesn't like the executable format. Whenever I try to open cutter.exe it keeps telling me that it is not a valid Win32 application. Tried different versions (1.1, 1.6, 1.7.2, Current Pre-Release)

**To Reproduce**
Steps to reproduce the be

[2018-12-03 11:32] #841 closed

[2018-12-03 13:20] ITAYC0HEN commented on #934
Thanks for the feature request. As discussed by the maintainers, this is not on the road-map of Cutter and currently, we won't implement this feature. However, this might be relevant in the long run and if so, we will revisit this issue

[2018-12-03 13:20] #934 closed

[2018-12-03 13:31] ITAYC0HEN commented on #839
Currently, hexdump widget doesn't load the whole binary at once so a scrollbar would be a problem.
Meaning, scrollbar is a great idea and we should implement it when we'll refactor the hexdump

[2018-12-03 13:40] roy4801 opened #981 "macOS could not open file"
**Environment information**
* Operating System: OS X El Captian 10.11.6
* Cutter version: Cutter v1.7.2 using r2-3.1.0
* File format: Mach-O executable i386

**Describe the bug**
When using cutter open a Mach-O i386 executable, the app crashes.

**To Reproduce**
Steps to reproduce the behavior:
1.  Open cutter application, and select new file
2.  Press the open button, and press "ok" without touch

[2018-12-03 13:50] xarkes commented on #981
Might be a duplicate of https://github.com/radareorg/cutter/issues/424.

[2018-12-03 14:01] ITAYC0HEN commented on #981
if so, our [fix](https://github.com/radareorg/cutter/pull/559) doesn't work?

[2018-12-03 14:08] xarkes commented on #981
@roy4801 Is it the `.dmg` from the releases tab or did you build it yourself?

[2018-12-03 15:00] ITAYC0HEN opened #983 "Tooltip background is dark-gray even with light themes"
**Environment information**
* Operating System: Win10 64bit, Arch Linux 64bit
* Cutter version: Newest from git
* File format: Any

**Describe the bug**

Seems like the tooltip's background is dark-gray even when the QT-theme is native and light. This makes it hard to read the text

![image](https://user-images.githubusercontent.com/20182642/49381468-ab4e9900-f71c-11e8-9d72-4610f8101d17.png)

**To

[2018-12-03 15:14] a1ext commented on #983
The tooltip content doesn't have any theme/color-specific code. I think problem is with style sheets.

[2018-12-03 15:16] #975 closed

[2018-12-03 19:39] #962 closed

[2018-12-03 20:45] ITAYC0HEN commented on #978
Windows XP is not supported by Cutter so we would not be able to solve this issue. That said, theoretically, it should be possible to compile Cutter to fit XP as well and you can give it try.

On a personal note here, as a malware researcher, I'd suggest giving up on Windows XP entirely and move to Windows 10 since the vast majority of the malware would be able to be executed there successfully. W